

<div id="consent_list" class="grid mt-0">
  {% for consent in consents %}
  <div id="consent_{{consent.id}}" class="g-col-12 g-col-md-6 g-col-lg-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between"">
        {% set modal_link = '<a href="#" data-bs-toggle="modal" data-bs-target="#consent-'+consent.id|string+'-modal">'+consent.name+'</a>' %}
        <h2>{{ modal_link|safe }}</h2>
      </div>
      <div class="card-body">
        <ul class="ds-list-group">
          <li>
            {% include('consent/partials/usage.html') %}
          </li>
          {% if scope == "site" %}
          <li>
            {% if consent.copy_count > 0 %}
            <span>
              {# i18n: Copied refers to copied Privacy statments #}
              {% set usage = ngettext("Copied once",
                                      "Copied %(number)s times",
                                      consent.copy_count, number=consent.copy_count) %}
              {{ usage }}
            </span>
            <span>
              <a href="#" onclick="showConsentCopyForms({{consent.id}})">{{ _("Forms") }}</a>
            </span>
            {% else %}
            {# i18n: Copied refers to copied Privacy statments #}
            <span>{{ _("Has not been copied") }}</span>
            {% endif %}
          </li>
          {% endif %}
          <li>
            <span>
              {{ _("Required") }}<span class="ds-required" arial-label="{{ _('Users must consent') }}"></span>
            </span>
            <span>
              {% if consent.required %}
              <span class="badge rounded-pill bg-success">{{ _("True") }}</span>
              {% else %}
              <span class="badge rounded-pill bg-secondary">{{ _("False") }}</span>
              {% endif %}
            </span>
          </li>
          <li>
            <span>{{ _("Created") }}</span>
            <span>{{ consent.created }}</span>
          </li>
        </ul>
      </div>
      <div class="card-footer">
        {% if not (FormConsent.find(consent_id=consent.id) or consent.id in g.site.registration_consent or consent.enforced) %}
        <button class="btn btn-sm btn-danger" onclick="javascript:deleteConsent({{consent.id}})">{{ _("Delete") }}</button>
        {% endif %}
        <a href="{{url_for(consent_bp_func, consent_id=consent.id)}}" class="btn btn-sm btn-outline-primary">{{ _("Edit") }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% for consent in consents %}
<div class="modal fade ds-consent-modal" id="consent-{{consent.id}}-modal" tabindex="-1" aria-labelledby="consent-{{consent.id}}-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="consent-{{consent.id}}-modal-label">{{ consent.name }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <label class="form-label fw-bold" style="display:block">{{ consent.label }}</label>
        {{ consent.text|safe }}
        <div class="form-check my-3 mb-0">
          <label class="form-check-label fw-bold consent {% if consent.required %}required{% endif %}" for="modal-{{ consent.field_name }}">
            {{ consent.checkbox_label }}{% if consent.required %}<span class="ds-required" arial-label="required"></span>{% endif %}
          </label>
          <input id="modal-{{consent.field_name}}" type="checkbox" class="form-check-input consent" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% include('consent/partials/consent_forms_modal.html') %}

<script>
function loadFormsModal(data) {
  $("#form_list").html("")
  data.forms.forEach(form => {
    if ("{{scope}}" == "site") {
      $("#form_list").append("<li><a href='"+form.url+"'>"+form.slug+"</a></li>")
    }
    if ("{{scope}}" == "user") {
      $("#form_list").append("<li><a href='"+form.url+"'>"+form.name+"</a></li>")
    }
  });
  $("#form-list-modal").modal("show")
}
function showFormsWithConsentModal(consent_id) {
  $.ajax({
    url : "/data-consent/{{scope}}/"+consent_id+"/forms",
    type: "GET",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      loadFormsModal(data)
    }
  });
}
function showConsentCopyForms(consent_id) {
  $.ajax({
    url : "/data-consent/{{scope}}/"+consent_id+"/copy/forms",
    type: "GET",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      loadFormsModal(data)
    }
  });
}
</script>
