

<ul class="ds-list-group">
  <li>
    <span>{{_("Attach this statement to all forms")}}</span>
    <span>
      <div id="toggle_forced_consent" class="btn-group btn-toggle">
        <button id="consent_forced_true" type="button" class="btn btn-sm {% if consent.enforced %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("True") }}</button>
        <button id="consent_forced_false" type="button" class="btn btn-sm {% if not consent.enforced %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("False") }}</button>
      </div>
    </span>
  </li>
  <li>
    <span>{{_("Let users copy this statement")}}</span>
    <span>
      <div id="toggle_shared_consent" class="btn-group btn-toggle">
        <button id="consent_shared_true" type="button" {% if consent.enforced %}disabled{%endif%} class="toggle-share btn btn-sm {% if consent.shared %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("True") }}</button>
        <button id="consent_shared_false" type="button" {% if consent.enforced %}disabled{%endif%} class="toggle-share btn btn-sm {% if not consent.shared %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("False") }}</button>
      </div>
    </span>
  </li>
</ul>

<script>
$(".toggle-share").on('click', function(evt) {
  $.ajax({
    url : "{{ url_for('consent_bp.toggle_share_consent', consent_id=consent.id) }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.shared == true) {
        $('#consent_shared_true').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('#consent_shared_false').removeClass('btn-primary').addClass('btn-outline-secondary');
      }
      else if (data.shared == false) {
        $('#consent_shared_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#consent_shared_false').addClass('btn-primary').removeClass('btn-outline-secondary');
      }
    }
  });
});
document.getElementById('toggle_forced_consent')
        .addEventListener('click', function(evt) {
  $.ajax({
    url : "{{ url_for('consent_bp.toggle_enforced_consent', consent_id=consent.id) }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.enforced == true) {
        $('#consent_forced_true').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('#consent_forced_false').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#consent_shared_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#consent_shared_false').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('.toggle-share').prop("disabled", true)
      }
      else if (data.enforced == false) {
        $('#consent_forced_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#consent_forced_false').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('.toggle-share').prop("disabled", false)
      }
      $("#consent_usage").html(data.consent_usage)
    }
  });
});
</script>
