

{% if consent.enforced %}
  <span>{{ _("Attached to all %(number)s forms", number=Form.find_all().count()) }}</span>
{% else %}
  {% set forms = FormConsent.find_all(consent_id=consent.id) %}
  {% if forms.count() %}
    {# i18n: Attached refers to attached Privacy statments #}
    {% set usage = ngettext("Attached to one form",
                            "Attached to %(number)s forms",
                            forms.count(), number=forms.count()) %}
    <span>{{ usage }}</span>
    <span><a href="#" onclick="showFormsWithConsentModal({{consent.id}})">{{ _("Forms") }}</a></span>
  {% elif consent.id in g.site.registration_consent %}
    {# i18n: Attached refers to an attached Privacy statment #}
    <span>{{ _("Attached to the new user form") }}</span>
  {% else %}
    <span>{{ _("This statement is not attached") }}</span>
  {% endif %}
{% endif %}
