<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if no_bot == True %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if 'site' in g and g.site %}
  <title>{{ g.site.name }}</title>
  <meta property="og:type" content="website" />
    {% if opengraph -%}
    <meta property="og:site_name" content="{{ g.site.name }}" />
    <meta property="og:title" content="{{ opengraph['title'] }}" />
    <meta property="og:url" content="{{ opengraph['url'] }}" />
    <meta property="og:description" content="{{ opengraph['description'] }}" />
    <meta property="og:image" content="{{ opengraph['image'] }}" />
    {% else -%}
    <meta property="og:title" content="{{ g.site.name }}" />
    <meta property="og:url" content="{{ config['BASE_URL'] }}" />
    <meta property="og:image" content="{{ g.site.get_logo_uri() }}" />
    <meta property="og:description" content="{{ g.site.get_short_description() }}" />
    {% endif -%}
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/popperjs/core/dist/umd/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/parsley/parsley.min.js') }}"></script>
  <script src="/static/vendor/parsley/i18n/{{ g.language }}.js"></script>
  <script>const leaflet_URL="{{ url_for('static', filename='vendor/leaflet', _external=True) }}"</script>
  <script src="{{ url_for('static', filename='js/formBuilder/map-position/map_position_plugin.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/formBuilder/form-render.min.js') }}"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-frontend.css') }}">
</head>

<body class="ds-frontend">
  <main id="main-content">
  {% block content %}{% endblock %}
  </main>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <!-- Messages -->
      <div class="ds-alert">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible d-flex justify-content-between align-items-center flash_message" role="alert">
            {{ message | safe }}
            <button type="button" data-bs-dismiss="alert" aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  <script>
    const csrftoken = "{{ csrf_token() }}";
  </script>

</body>
</html>
