{% extends "base-backend.html" %}
{% block content %}

<!-- custom_texts_page -->

{% set multilanguage = custom_languages|length > 1 %}


<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.admin_panel')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _('Custom texts') }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("Edit these texts to suit your site.") }}
      </p>
      {% if multilanguage %}
      <p class="mb-0">
        {% set languages = [] %}
        {% for language in custom_languages %}
          {% set languages = languages.append(language.name) %}
        {% endfor -%}
        {{ _("Languages") }}:
        <a href="{{ url_for('site_bp.custom_languages') }}">{{ ', '.join(languages) }}</a>
      </p>
      {% endif %}
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <ul class="ds-list-group">
        <li>
          <span>
            {# i18n: Option in admin settings about changing instance welcoming text #}
            {{ _("Front page text") }}
          </span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set blurbs = CustomText("frontpage-blurb").get_completion() %}
              {% if blurbs.completed %}
                <span class="badge rounded-pill bg-success">{{blurbs.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{blurbs.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.edit_blurb')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </span>
        </li>
        <li>
          {# i18n: Option in admin setting to edit the Resources menu #}
          <span>{{ _("Resources menu") }}:
            <strong>
            {% if g.site.resources_menu['enabled'] %}
            {{ _("Enabled") }}
            {% else %}
            {{ _("Disabled") }}
            {% endif %}
            </strong>
          </span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set resources_menus = CustomText("resources-menu").get_completion() %}
              {% if resources_menus.completed %}
                <span class="badge rounded-pill bg-success">{{resources_menus.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{resources_menus.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.edit_resources_menu')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </span>
        </li>
        <li>
          <span>{{ _("Other information") }}</span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set other_infos = CustomText("other-information").get_completion() %}
              {% if other_infos.completed %}
                <span class="badge rounded-pill bg-success">{{other_infos.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{other_infos.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.edit_contact_info')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </span>
        </li>
        <li>
          {# i18n: Option in admin setting to edit the Data privacy wizard disclaimer #}
          <span>{{ _("Wizard disclaimer") }}</span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set disclaimers = CustomText("wizard-disclaimer").get_completion() %}
              {% if disclaimers.completed %}
                <span class="badge rounded-pill bg-success">{{disclaimers.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{disclaimers.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.edit_wizard_disclaimer')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </span>
        </li>
        <li>
          {# i18n: Option in admin setting to edit the User invitation text #}
          <span>{{ _("User invitation template") }}</span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set invitation_texts = CustomText("invitation-text").get_completion() %}
              {% if invitation_texts.completed %}
                <span class="badge rounded-pill bg-success">{{invitation_texts.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{invitation_texts.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.invitation_template')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
        </li>
        <li>
          <span>
            {# i18n: Option in admin settings about changing the message displayed when a new form is created #}
            {{ _("New form message") }}:
            <strong>
            {% if g.site.new_form_msg['enabled'] %}
            {{ _("Enabled") }}
            {% else %}
            {{ _("Disabled") }}
            {% endif %}
            </strong>
          </span>
          <span class="text-nowrap">
            {% if multilanguage %}
              {% set new_form_msgs = CustomText("new-form-msg").get_completion() %}
              {% if new_form_msgs.completed %}
                <span class="badge rounded-pill bg-success">{{new_form_msgs.stats}}</span>
              {% else %}
                <span class="badge rounded-pill bg-secondary">{{new_form_msgs.stats}}</span>
              {% endif %}
            {% endif %}
            <a href="{{url_for('site_bp.new_form_msg')}}" class="ds-link-contain-icon">
            {{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </span>
        </li>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_customtexts.j2.md";

</script>

{% endblock %}
