{% extends "base-backend.html" %}
{% block content %}

<!-- edit_disclaimer_page -->

<script src="{{ url_for('static', filename='vendor/easymde/easymde.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/easymde/easymde.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/font-awesome/font-awesome.min.css') }}">

{% include 'common/insert-link-modal.html' %}

<div class="modal fade" id="disclaimer-preview" tabindex="-1" aria-labelledby="disclaimer-preview-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disclaimer-preview-modal-label">{{ _("Wizard disclaimer") }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer justify-content-between">
        <div class="form-check my-3">
          <label class="form-check-label fw-bold" for="disclaimer-check">
            {{ _("I have read and understood") }}<span class="ds-required" arial-label="required"></span>
          </label>
          <input id="disclaimer-check" type="checkbox" class="form-check-input consent" data-bs-dismiss="modal" />
        </div>
      </div>
    </div>
  </div>
</div>


<div class="ds-narrow-container">

  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('site_bp.custom_texts')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Wizard disclaimer") }}</h1>
    </div>
  </div>

  <div class="grid mt-2 ds-wrapper-white">
    <div class="g-col-12">
      <form name="disclaimerForm" action="{{ url_for('site_bp.edit_wizard_disclaimer') }}" method="post">
        {{ wtform.csrf_token }}
        {% if g.site.custom_languages|length > 1 %}
        <div>
          {{ wtform.language.label(for="language", class_="form-label") }}
          {{ wtform.language(id="language", class_="form-select", onchange="changeLanguage()") }}
        </div>
        {% else %}
        <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
        {% endif %}
        <div class="mt-4">
          {{ wtform.disclaimer(id="disclaimer_editor", class_="form-control") }}
        </div>
        <div class="">
          <a role="button" class="btn btn-outline-primary" href="javascript:void(0)" onclick="javascript:showPreview()">{{ _('Preview') }}</a>
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_wizarddisclaimer.j2.md";
var disclaimers = {{ g.site.get_all_wizard_disclaimers()|tojson }}
var lang_code = $("#language").val()
var easymde = null

if (disclaimers[lang_code] !== undefined) {
  $("#disclaimer_editor").val(disclaimers[lang_code].markdown)
}

const editor_toolbar = [
    "bold",
    "italic",
    "|", // Separator
    "unordered-list",
    "ordered-list",
    "|",
    {
      name: "custom",
      action: function customLink(editor){
        $('#insert_link_form')[0].reset();
        $('#insert_link_modal').modal('show');
      },
      className: "fa fa-link",
      title: "Link",
    },
    "|", // Separator
    "preview",
    "guide"
];
$(document).ready(function() {
  easymde = new EasyMDE({
                  toolbar: editor_toolbar,
                  autosave: {enabled: false},
                  autofocus: true,
                  spellChecker: false,
                  forceSync: true,
                  autoDownloadFontAwesome: false,
                  element: $("#sm-editor")[0]
               });

  $(document).on("insert_link", function(event, form_id) {
    $('.modal').modal('hide');
    const $form = $('#'+form_id)
    var link_url = $form.find('input[name=link_url]').val();
    if (link_url === '') {
      link_url = 'https://'
    }
    var link_text = $form.find('input[name=link_text]').val();
    if (link_text === '') {
      link_text = link_url
    }
    if ($('form[name=disclaimerForm]').find(".CodeMirror-selectedtext").length) {
      easymde.codemirror.replaceSelection('['+link_text+']('+link_url+')');
    } else {
      let pos = easymde.codemirror.getCursor();
      easymde.codemirror.replaceRange(' ['+link_text+']('+link_url+') ', pos);
    }
    return false;
  });
});

function changeLanguage() {
  if (disclaimers[lang_code] === undefined) {
    disclaimers[lang_code] = {}
  }
  disclaimers[lang_code]['markdown'] = easymde.value()
  lang_code = $('#language').val()
  if (!Object.keys(disclaimers).includes(lang_code)) {
    disclaimers[lang_code] = {"html": "", "markdown": ""}
  }
  easymde.value(disclaimers[lang_code]['markdown'])
}

function showPreview() {
  $("#disclaimer-check").prop('checked', false)
  $.ajax({
    url : "{{ url_for('site_bp.wizard_disclaimer_preview') }}",
    type: "POST",
    dataType: "json",
    data: {"disclaimer": easymde.value()},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.html) {
        $('#disclaimer-preview').find(".modal-body").html(data.html)
        $('#disclaimer-preview').modal('show')
      }
    }
  });
}
</script>

{% endblock %}
