{% extends "base-backend.html" %}
{% block content %}

<!-- edit_blurb_page -->

<script src="{{ url_for('static', filename='vendor/easymde/easymde.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/easymde/easymde.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/font-awesome/font-awesome.min.css') }}">

{% include 'common/insert-image-modal.html' %}
{% include 'common/insert-link-modal.html' %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('site_bp.custom_texts')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Front page text") }}</h1>
    </div>
  </div>

  <div class="grid mt-2 ds-wrapper-white">
    <div class="g-col-12">
      <form name="blurbForm" action="{{ url_for('site_bp.edit_blurb') }}" method="post">
        {{ wtform.csrf_token }}
        {% if g.site.custom_languages|length > 1 %}
        <div>
          {{ wtform.language.label(for="language", class_="form-label") }}
          {{ wtform.language(id="language", class_="form-select", onchange="changeLanguage()") }}
        </div>
        {% else %}
        <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
        {% endif %}
        <div class="mt-4">
          {{ wtform.blurb(id="blurb_editor", class_="form-control") }}
        </div>
        <div class="">
          <input class="btn btn-outline-primary" type="button" onclick="showPreview()" value="{{ _('Preview') }}" />
          <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
        </div>
      </form>
    </div>
  </div>

  <div class="grid">
    <div class="g-col-12">
      <div id="preview" class="g-col-12 mt-4 p-3 text-bg-light" style="display:none">
        <div id="preview-text"><div>
      </div>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_frontpagetext.j2.md";
var blurbs = {{ g.site.get_all_blurbs()|tojson }}
var lang_code = $("#language").val()
var easymde = null

if (blurbs[lang_code] !== undefined) {
  $("#blurb_editor").val(blurbs[lang_code].markdown)
}

const editor_toolbar = [
    "bold",
    "italic",
    "heading",
    "|", // Separator
    "unordered-list",
    "ordered-list",
    "|",
    {
      name: "custom",
      action: function customLink(editor){
        $('#insert_link_form')[0].reset();
        $('#insert_link_modal').modal('show');
      },
      className: "fa fa-link",
      title: "Link",
    },
    {
      name: "custom",
      action: function customImage(editor){
        $('#insert_image_form')[0].reset();
        $('#insert_image_modal').modal('show');
      },
      className: "fa fa-picture-o",
      title: "Image",
    },
    "|", // Separator
    "preview",
    "guide"
];
$(document).ready(function() {
  easymde = new EasyMDE({
                  toolbar: editor_toolbar,
                  autosave: {enabled: false},
                  autofocus: true,
                  spellChecker: false,
                  forceSync: true,
                  autoDownloadFontAwesome: false,
                  element: $("#sm-editor")[0]
               });

  $(document).on("insert_image", function(event, form_id) {
    $('.modal').modal('hide');
    var image_url = $('#'+form_id).find('#image_url').val();
    if (image_url === '') {
      image_url = 'https://'
    }
    var alt_text = $('#'+form_id).find('#alt_text').val();
    var image = '\n\n!['+alt_text+']('+image_url+')\n\n';  // markdown syntax
    let pos = easymde.codemirror.getCursor();
    easymde.codemirror.replaceRange(image, pos);
    return false;
  });

  $(document).on("insert_link", function(event, form_id) {
    $('.modal').modal('hide');
    const $form = $('#'+form_id)
    var link_url = $form.find('input[name=link_url]').val();
    if (link_url === '') {
      link_url = 'https://'
    }
    var link_text = $form.find('input[name=link_text]').val();
    if (link_text === '') {
      link_text = link_url
    }
    if ($('form[name=blurbForm]').find(".CodeMirror-selectedtext").length) {
      easymde.codemirror.replaceSelection('['+link_text+']('+link_url+')');
    } else {
      let pos = easymde.codemirror.getCursor();
      easymde.codemirror.replaceRange(' ['+link_text+']('+link_url+') ', pos);
    }
    return false;
  });
});

function changeLanguage() {
  if (blurbs[lang_code] === undefined) {
    blurbs[lang_code] = {}
  }
  blurbs[lang_code]['markdown'] = easymde.value()
  lang_code = $('#language').val()
  if (!Object.keys(blurbs).includes(lang_code)) {
    blurbs[lang_code] = {"html": "", "markdown": ""}
  }
  easymde.value(blurbs[lang_code]['markdown'])
}
jQuery(function($) {
  $("form[name=blurbForm]").focusin(function() {
    if (!$("input[type=submit]").is(":focus")) {
      $('#preview').hide()
    }
  });
});
function showPreview() {
  $.ajax({
    url : "{{ url_for('site_bp.get_blurb_preview') }}",
    type: "POST",
    dataType: "json",
    data: {"blurb": easymde.value()},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.html) {
        $("#preview-text").html(data.html)
        $("#preview").show()
        $('html, body').animate({
            scrollTop: $("#preview").offset().top -200
        }, 250);
      } else {
        $("#preview-text").html("")
        $("#preview").hide()
      }
    }
  });
}
</script>

{% endblock %}
