{% extends "base-backend.html" %}
{% block content %}

<!-- ldap_config_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="/admin" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("LDAP configuration") }}</h1>
    </div>
  </div>

  <div class="grid mt-2">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Configuration") }}: {{ config['LDAP_SERVER'] }}</h2>
        </div>
        <div class="card-body">
          <div class="my-2">
            <strong>{{ _("Authentication") }}</strong>
          </div>
          <ul class="ds-list-group">
            <li>
              <span>Bind account</span>

              {% if config['LDAP_ANONYMOUS_BIND'] %}
                <span>Anonymous bind</span>
              {% elif config['LDAP_BIND_ACCOUNT'] %}
                <span>{{ config['LDAP_BIND_ACCOUNT'] }}</span>
              {% endif %}
            </li>
            <li>
              <span>Bind password</span>
              <span>
              {% if config['LDAP_ANONYMOUS_BIND'] %}
                <span>Anonymous bind</span>
              {% elif config['LDAP_BIND_PASSWORD'] %}
                <span>***********</span>
              {% endif %}
              </span>
            </li>
            <li>
              <span>User DN {% if config['LDAP_USER_DN_LIST']|length > 1 %}list{% endif %}</span>
              <span>
              {% for dn in config['LDAP_USER_DN_LIST'] %}
                {{ dn }}<br />
              {% endfor %}
              </span>
            </li>
          </ul>

          <div class="mt-2 mb-2">
            <strong>{{ _("Authorization") }}</strong>
          </div>
          <ul class="ds-list-group">
            <li>
              <span>Search base</span>
              <span>{{ config['LDAP_SEARCH_BASE_DN'] }}</span>
            </li>
            <li>
              <span>Filter <a href="#" onclick="javascript:show_filter_editor(); return false">{{ _("Edit") }}</a></span>
              <span id="saved_filter">{{ g.site.get_ldap_filter() }}</span>
            </li>
          </ul>
          <div id="ldap_filter_editor" class="g-col-12" style="display:none;">
            <button class="btn btn-outline-secondary btn-sm mt-3"
                    onclick="javascript:$('#ldap_filter_editor').hide()">
              {{ _("Cancel") }}
            </button>
            <button class="btn btn-outline-danger btn-sm mt-3"
                    onclick="javascript:reset_filter()">
              {# i18n: verb. This is a button #}
              {{ _("Reset") }}
            </button>
            <button class="btn btn-primary btn-sm mt-3"
                    onclick="javascript:save_filter()">
              {{ _("Save") }}
            </button>
            <div class="mt-3">
              Use this filter to search for LiberaForms users in the DIT
              <span id="filter_error" class="wtf-error"></span>
              <textarea id="ldap_filter_input" class="form-control" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Tests") }}</h2>
        </div>
        <div class="card-body">
          <div>
            <textarea id="test_result" rows="3" class="form-control" disabled >Test results are displayed here</textarea>
          </div>
          <div class="mt-4">
            <label class="form-label">{{ _("Test authentication") }}</label>
            <div class="input-group">
              <input id="ldap_username" class="form-control" type="text" placeholder="{{ _('Username') }}" />
              <input id="ldap_password" class="form-control" type="password" placeholder="{{ _('Password') }}" />
              <button class="btn btn-outline-primary" onclick="javascript:bind(this)">Bind</button>
            </div>
          </div>

          <div class="mt-4">
            <label class="form-label">{{ _("Test authorization") }}.</label>
            <span class="hint">
              {% if config['LDAP_BIND_ACCOUNT'] %}
                Leave empty to test the bind account
              {% else %}
                Leave empty to test anonymous bind
              {% endif %}
            </span>
            <div class="input-group">
              <input id="search_text"
                     class="form-control"
                     type="text"
                     name="uid"
                     autocomplete="on"
                     placeholder="%uid" />
              <button class="btn btn-outline-primary" onclick="javascript:search(this)">
                  {{ _("Filter") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_ldapconfig.j2.md";

function show_filter_editor() {
  console.log('show filter editor')
  $('#filter_error').html("")
  $('#ldap_filter_input').val($('#saved_filter').text().trim())
  $('#ldap_filter_editor').show()
}
function save_filter() {
  var filter = $('#ldap_filter_input').val().trim()
  $.ajax({
    url : "{{ url_for('site_bp.ldap_edit_filter') }}",
    type: "POST",
    dataType: "json",
    data: {
      'filter': filter
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.error !== undefined) {
        $('#filter_error').html(data.error)
      } else {
        $('#ldap_filter_editor').hide()
        $('#saved_filter').text(data.filter)
      }
    }
  });
}
function reset_filter() {
  $.ajax({
    url : "{{ url_for('site_bp.ldap_reset_filter') }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.error !== undefined) {
        $('#filter_error').html(data.error)
      } else {
        $('#ldap_filter_editor').hide()
        $('#saved_filter').text(data.filter)
      }
    }
  });
}
function bind(button_el) {
  $('#test_result').val("")
  $.ajax({
    url : "{{ url_for('site_bp.ldap_test_bind') }}",
    type: "POST",
    dataType: "json",
    data: {
      'username': $('#ldap_username').val(),
      'password': $('#ldap_password').val()
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      console.log(data.result)
      $('#test_result').val(parse_results(data.result))
    }
  });
}
function search(button_el) {
  $('#test_result').val("")
  $.ajax({
    url : "{{ url_for('site_bp.ldap_test_search') }}",
    type: "POST",
    dataType: "json",
    data: {
      'username': $('#ldap_username').val(),
      'password': $('#ldap_password').val(),
      'param': $('#search_text').val()
    },
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      $('#test_result').val(parse_results(data.result))
    }
  });
}
function parse_results(data) {
  var result=""
  for (let key in data){
    if (data[key].constructor == Object) {
      for (let obj_key in data[key]){
        result = result+obj_key+": "+data[key][obj_key]+'\n'
      }
    }else{
      result = result+key+": "+data[key]+'\n'
    }
  }
  return result.replace(/\n*$/, "")
}
</script>

{% endblock %}
