{% extends "base-backend.html" %}
{% block content %}

<!-- site_consents_page -->

<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-12 g-col-md-8 ds-title-with-icon-return">
    <a href="{{ url_for('admin_bp.admin_panel', goto='data-protection')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
    <h1>{{ _("Site privacy statements") }}</h1>
  </div>
  {% if consents %}
  <div class="g-col-12 g-col-md-4">
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('consent_bp.edit_site_data_consent')}}">{{ _("Create a new statement") }}</a>
  </div>
  {% endif %}
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p>{{ _("Manage this site's privacy statements.") }}</p>
    {% if not consents %}
    <p>{{ _("Privacy statements let you be transparent with your users by telling them why you are collecting their information and how it will be used.") }}</p>
    <p>
      {{ _("LiberaForms can help you understand and write functional texts.") }}
      <a href="#" onclick="toggleInlineHelp('site_dataconsent.j2.md')">{{ _("Learn more") }}</a>
    </p>
    <a class="btn btn-primary" role="button" href="{{url_for('consent_bp.edit_site_data_consent')}}">{{ _("Create a new statement") }}</a>
    {% endif %}
  </div>
</div>

{% if consents %}
  {% with consent_bp_func='consent_bp.edit_site_data_consent', scope='site' %}
    {% include 'consent/partials/list-consents.html' %}
  {% endwith %}
{% endif %}

<script>
const inline_help_file_name = "site_dataconsent.j2.md";
function deleteConsent(consent_id) {
  $.ajax({
    url : "{{ url_for('consent_bp.delete_site_data_consent') }}",
    type: "POST",
    dataType: "json",
    data: {"consent_id": consent_id},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.deleted == true) {
        $("#consent_"+consent_id).remove()
      }
    }
  });
}
</script>

{% endblock %}
