{% extends "base-backend.html" %}
{% block content %}

<!-- site_map_field_default_page -->

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}">

<style>
  #map { height: 50vh; }
</style>


<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('admin_bp.admin_panel')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Map field default settings") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Users will see this when they add a map to their forms.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <p class="mb-0">
        {# i18n: Option in admin settings about map setting. #}
        {{ _("Set the map position and zoom.") }}
      </p>
      <div id="map" class="mt-3"></div>
      {% for error in wtform.centerPoint.errors %}
        <span class="wtf-error ds-error-message">{{ error }}</span>
      {% endfor %}
      {% for error in wtform.zoom.errors %}
        <span class="wtf-error ds-error-message">{{ error }}</span>
      {% endfor %}

      <form name="defaultMapFieldForm" method="POST">
          {{ wtform.csrf_token }}
          {{ wtform.centerPoint() }}
          {{ wtform.zoom() }}
          <div class="mt-3">
            <button class="btn btn-primary" type="submit">{{ _("Save") }}</button>
          </div>
      </form>

    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_mapfielddefault.j2.md";

var map = null;

$("form[name=defaultMapFieldForm]").submit(function() {
    let centerPoint = "{x}, {y}".replace(/{x}/, map.getCenter().lat)
                                .replace(/{y}/, map.getCenter().lng)
    $("#centerPoint").val(centerPoint)
    $("#zoom").val(map.getZoom())
    return true;
});

const centerPoint = {{wtform.centerPoint.data|tojson}}
map = L.map('map').setView(centerPoint.split(',').map(Number), {{wtform.zoom.data|tojson}});

L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

</script>

{% endblock %}
