{% extends "base-backend.html" %}
{% block content %}

<!-- resources_menu_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('site_bp.custom_texts')}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Resources menu") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Use the resources menu to share useful links with your users.") }}</p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12 ds-wrapper-white">
      <p>{{ _("Display the menu") }}</p>
      <div id="toggle_enabled" class="btn-group btn-toggle">
        <button id="enabled_true" class="btn btn-sm {% if g.site.resources_menu['enabled'] %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("Enabled") }}</button>
        <button id="enabled_false" class="btn btn-sm {% if not g.site.resources_menu['enabled'] %} btn-primary {% else %} btn-outline-secondary {% endif %} ">{{ _("Disabled") }}</button>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12 card">
      <form name="resouceMenuForm" method="post" onsubmit="saveMenu()">
        {{ wtform.csrf_token }}
        {{ wtform.menu(id="items_to_save") }}

        <div class="card-header">
          {% if g.site.custom_languages|length > 1 %}
            <div class="mb-3">
              {{ wtform.language.label(for="language", class_="form-label mt-1") }}
              {{ wtform.language(id="language", class_="form-select", onchange="changeLanguage()") }}
            </div>
          {% else %}
            <input id="language" type="hidden" name="language" value="{{g.site.language}}" />
          {% endif %}

          <label class="form-label mt-1">{{ _("Add a resource") }}</label>
          <div class="input-group mb-3">
            <input id="new_resource_name" type="text" class="form-control" placeholder="{{ _('Name') }}" aria-label="{{ _('Label') }}">
            <input id="new_resource_url" type="text" class="form-control" placeholder="https://" aria-label="{{ _('URL') }}">
            <button type="button" class="btn btn-sm btn-outline-primary" onclick="javascript:addItem()">{{ _("Add" )}}</button>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label id="menu_title" class="form-label">{{ _("Menu") }}</label>
            <p id="resource_menu_not_defined" class="mt-1 mb-0" {%if g.site.resources_menu["languages"][g.site.language]%}style="display:none"{%endif%}>
               {{ _("No resources for this language.") }} <a href="#" onclick="toggleInlineHelp('site_resourcesmenu.j2.md')">{{ _("Learn more") }}</a>
            </p>
            <div id="items_config_list"></div>
            {% for error in wtform.menu.errors %}
              <span class="wtf-error ds-error-message">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="mt-4">
            <button id="form_preview_btn" type="button" class="btn btn-outline-primary" {% if not g.site.resources_menu['enabled'] %}disabled{% endif %}>{{ _("Preview") }}</button>
            <input class="btn btn-primary" type="submit" value="{{ _('Save') }}" />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "site_resourcesmenu.j2.md";
var menus = {{ g.site.resources_menu["languages"] | tojson }}
var lang_code = null
var resourceButton = null

function insertNewNavbarItem() {
  /* To be able to toggle the drop down menu with js we need a to add 'data-bs-auto-close="false"' to a new bootstrap.Dropdown object */
  if (! $("#preview_menu_nav_item").length) {
    menu_nav_item = `{{ new_nav_item|safe }}`.replace(/resources_menu/g, 'preview_menu');
    menu_nav_item = menu_nav_item.replace('data-bs-toggle="dropdown"', 'data-bs-toggle="dropdown" data-bs-auto-close="false"')
    if ($("#resources_menu_nav_item").length) {
      $("#resources_menu_nav_item").remove()
    }
    $(menu_nav_item).insertBefore("#profile_nav_item")
    resourceButton = document.getElementById("preview_menu_btn")
    new bootstrap.Dropdown(resourceButton, {}).hide()
  }
}
{% if g.site.resources_menu['enabled'] %}
insertNewNavbarItem()
{% endif %}

$(function() {
  document.getElementById('form_preview_btn').addEventListener('click', function(evt){
    LoadNavbarMenu()
    if ($("#preview_menu").is(":visible")) {
      bootstrap.Dropdown.getOrCreateInstance(resourceButton).hide()
    } else {
      bootstrap.Dropdown.getOrCreateInstance(resourceButton).show()
    }
  })
  lang_code = $("#language").val()
  setMenuTitle()
  loadItemsConfigList()
  if ($("#preview_menu_nav_item").length) {
    LoadNavbarMenu()
  }
  $("form[name=resouceMenuForm]").focusin(function() {
    if (!$("form_preview_btn").is(":focus")) {
      $("#preview_menu").removeClass("show")
    }
  });

});
function getFallbackLanguage() {
  /* emulates utils.i18n.get_best_language_value */
  var _lang_code = "{{g.site.language}}"
  if (menus[_lang_code] !== undefined && menus[_lang_code].length) {
    return _lang_code
  }
  let custom_languages = {{g.site.custom_languages|tojson}}
  for (let lang_code_pos in custom_languages) {
    _lang_code = custom_languages[lang_code_pos]
    if (menus[_lang_code] !== undefined && menus[_lang_code].length) {
      return _lang_code
    }
  }
  return ""
}
function LoadNavbarMenu() {
  commitItems(lang_code)

  $("#preview_menu").empty()
  var nav_bar_menu = menus[lang_code]
  var fallback_lang_code = null
  if (! nav_bar_menu.length) {
    fallback_lang_code = getFallbackLanguage()
    if (fallback_lang_code) {
      nav_bar_menu = menus[fallback_lang_code]
    }
  }
  nav_bar_menu.forEach(function(item) {
    var _item = '<li><a href="'+item[1]+'" target="_blank" rel="noopener noreferrer" class="dropdown-item">'+item[0]+'</a></li>'
    $("#preview_menu").append(_item)
  });
}
document.getElementById('toggle_enabled').addEventListener('click', function(evt){
  $.ajax({
    url : "{{ url_for('site_bp.toggle_resources_menu') }}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.enabled == true) {
        $('#enabled_true').addClass('btn-primary').removeClass('btn-outline-secondary');
        $('#enabled_false').removeClass('btn-primary').addClass('btn-outline-secondary');
        if(! $("#preview_menu_nav_item").length) {
          insertNewNavbarItem()
          LoadNavbarMenu()
        }
        $("#form_preview_btn").prop("disabled", false)
      }
      else if (data.enabled == false) {
        $('#enabled_true').removeClass('btn-primary').addClass('btn-outline-secondary');
        $('#enabled_false').addClass('btn-primary').removeClass('btn-outline-secondary');
        $("#preview_menu_nav_item").remove()
        $("#form_preview_btn").prop("disabled", true)
      }
    }
  });
});
function setMenuTitle() {
  {% if g.site.custom_languages|length > 1 %}
  let language_name = $('#language').find(":selected").text()
  $("#menu_title").html("{{ _('Menu') }}" + ": " + language_name)
  {% endif %}
}
function changeLanguage() {
  commitItems(lang_code)
  lang_code = $("#language").val()
  setMenuTitle()
  loadItemsConfigList()
  LoadNavbarMenu()
}
function commitItems(lang_code) {
  /* populates menus[lang_code] with [[name, url], ] */
  var items = []
  $("._item").each(function() {
    let item_name = $(this).find("input:text[name='name']").val()
    let item_url = $(this).find("input:text[name='url']").val()
    items.push([item_name, item_url])
  });
  menus[lang_code] = items
}
function loadItemsConfigList() {
  $('#items_config_list').empty();
  if (Object.keys(menus).includes(lang_code)) {
    menus[lang_code].forEach(function(item) {
      var template = item_template.replace(/%name%/, item[0]).replace(/%url%/, item[1]);
      $('#items_config_list').append(template);
    })
    feather.replace();
  }
  if ($('#items_config_list').is(':empty')) {
    $("#resource_menu_not_defined").show()
  } else {
    $("#resource_menu_not_defined").hide()
  }
}
function addItem() {
  let new_resource_url = $('#new_resource_url').val().trim()
  let new_resource_name = $('#new_resource_name').val().trim()
  if (new_resource_url && new_resource_name) {
    var template = item_template.replace(/%name%/, new_resource_name).replace(/%url%/, new_resource_url);
    $('#items_config_list').append(template);
    $('#new_resource_name').val("")
    $('#new_resource_url').val("")
    feather.replace();
    $("#resource_menu_not_defined").hide()
    LoadNavbarMenu()
  }
}
function saveMenu() {
  commitItems(lang_code)
  $('#items_to_save').val(JSON.stringify(menus[lang_code]))
}
function moveUp(el) {
  let resource = $(el).parent("[resource='true']")
  let prev_resource = $(resource).prev("[resource='true']")
  if (prev_resource.length) {
    $(resource).insertBefore(prev_resource);
  }
}
function moveDown(el) {
  let resource = $(el).parent("[resource='true']")
  let next_resource = $(resource).next("[resource='true']")
  if (next_resource.length) {
    $(resource).insertAfter(next_resource);
  }
}
function deleteItem(el) {
  $(el).parent('._item').remove();
  if ($("._item").length == 0) {
    $("#resource_menu_not_defined").show()
  }
  LoadNavbarMenu()
}
const item_template = `
<div class="input-group mb-2 _item" resource="true">
  <input type="text" value="%name%" class="form-control" name="name" placeholder="{{ _('Name') }}" aria-label="{{ _('Label') }}">
  <input type="text" value="%url%" class="form-control" name="url" placeholder="https://" aria-label="{{ _('URL') }}">
  <button class="btn btn-sm btn-outline-secondary" type="button" onclick="javascript:moveUp(this)"><i data-feather="arrow-up" width="24" height="24" stroke-width="1" aria-hidden="true"></i></button>
  <button class="btn btn-sm btn-outline-secondary" type="button" onclick="javascript:moveDown(this)"><i data-feather="arrow-down" width="24" height="24" stroke-width="1" aria-hidden="true"></i></button>
  <button class="btn btn-sm btn-danger" type="button" onclick="javascript:deleteItem(this)"><i data-feather="trash-2" width="24" height="24" stroke-width="1" aria-hidden="true"></i></button>
</div>
`
</script>

{% endblock %}
