{% extends "base-backend.html" %}
{% block content %}

<!-- server_logs_page -->

<div class="grid ds-header-title">
  <div class="g-col-12">
    <h1>{{ _("Server logs") }}</h1>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("Most recent server activity in chronological order.") }}</p>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <a class="btn btn-sm {%if active_log_number==0%}btn-primary{%else%}btn-outline-primary{%endif%}" href="{{url_for('site_bp.server_logs')}}">Log file 0</a>
    {% if total_log_files > 0 %}
      {% set total_log_files = total_log_files -1 %}
      {% for log_number in range(total_log_files) %}
        {% set file_number = log_number + 1 %}
        <a class="btn btn-sm {%if file_number==active_log_number%}btn-primary{%else%}btn-outline-primary{%endif%}" href="{{url_for('site_bp.server_logs', log_number=file_number)}}">
          Log file {{file_number}}
        </a>
      {% endfor %}
    {% endif %}
  </div>
</div>

<div class="grid mt-4">
  <div class="g-col-12">
    <div class="card">
      <div class="card-header">
        <div class="ds-server-log-filters">
          <a href="javascript:void(0)" onclick="javascript:clearFilter()">ALL</a>
          {% for filter in g.site.server_log_filters() %}
            <a href="javascript:void(0)" onclick="javascript:applyFilter('{{filter}}')">{{filter}}</a>
          {% endfor %}
          <a id="gunicorn-filter" style="display:none" href="javascript:void(0)" onclick="javascript:applyFilter('GUNICORN')">GUNICORN</a>
        </div>
      </div>
      <div class="card-body">
        <div id="logs"></div>
        <div id="end-of-logs"></div>
      </div>
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "server_logs.j2.md";

const app_logs = {{ logs["app-logs"] | tojson }};
const gunicorn_logs = {{ logs["gunicorn-logs"] | tojson }};
var logs = app_logs

if (gunicorn_logs.length) {
  $("#gunicorn-filter").show()
}

const max_batch_size = 200
var log_filter = ""
var total_parsed_logs = 0

let options = {
    root: document.getElementById(null), // null for entire viewport
    rootMargin: '0px',
    threshold: 1
}
let observer = new IntersectionObserver(addBatch, options);
observer.observe(document.getElementById("end-of-logs"))

function insert_log(log) {
  $("#logs").append(log_template.replace(/%log_string%/, log.log))
}

function addBatch() {
  let logs_length = logs.length
  if (total_parsed_logs >= logs_length ) {
    return
  }
  let start_at = total_parsed_logs
  var rendered_logs = 0
  for (let i = start_at; i <= logs_length-1; i += 1) {
    if (rendered_logs == max_batch_size) {
      return
    }
    total_parsed_logs += 1
    if (log_filter) {
      if (logs[i].filter == log_filter) {
        insert_log(logs[i])
        rendered_logs += 1
      }
    } else {
      insert_log(logs[i])
      rendered_logs += 1
    }
  }
}

function clearFilter() {
  log_filter = ""
  total_parsed_logs = 0
  logs = app_logs
  $("#logs").remove()
  $("<div id='logs'></div>").insertBefore("#end-of-logs");
  addBatch()
}

function applyFilter(filter) {
  log_filter = filter
  logs = log_filter == "GUNICORN" ? gunicorn_logs : app_logs
  total_parsed_logs = 0
  $("#logs").remove()
  $("<div id='logs'></div>").insertBefore("#end-of-logs");
  addBatch()
}
const log_template = `
<div>%log_string%</div>
`
</script>

{% endblock %}
