{% extends "base-page.html" %}

{% block content %}

<!-- csrf_error_page -->

<style>
body {
  background-color: initial !important;
}
</style>

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("Sorry, the page has expired.") }}</h1>
    <a href="{{ requested_page }}">{{ _("Please go back and try again") }}</a>
  </div>
</div>

{% endblock %}
