{% extends "base-landing.html" %}
{% block content %}

<!-- site_index_page -->

<div class="grid">
  <div class="g-col-12 g-col-lg-6 g-start-lg-4 g-col-xxl-4 g-start-xxl-5">
    <div id="blurb" class="marked-up">
      {{ page_text|safe }}
    </div>
  </div>
</div>

{% endblock %}
