{% extends "base-page.html" %}

{% block content %}

<!-- login_to_continue -->

{% set login_link = "<a href='"+url_for('user_bp.login')+"?next="+next+"'>"+g.site.hostname+"</a>" %}

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("Please log in to view this page") }}</h1>
    <p class="mt-3">
      {{ login_link|safe }}
    </p>
  </div>
</div>

{% endblock %}
