{% extends "base-page.html" %}

{% block content %}

<!-- method_not_allowed_page -->

{% if g.embedded %}
<style>
body {
  background-color: initial !important;
}
</style>
{% endif %}

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("Sorry, something went wrong.") }} error 405</h1>
    {% if not g.embedded %}
    <p class="mt-3"><a href="/">{{ g.site.hostname }}</a></p>
    {% endif %}
  </div>
</div>

{% endblock %}
