{% extends "base-page.html" %}

{% block content %}

<!-- server_error_page -->

{% if g.embedded %}
<style>
body {
  background-color: initial !important;
}
</style>
{% endif %}

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("Sorry, something went wrong.") }} error 500</h1>
  </div>
</div>

{% endblock %}
