/*
 * Classes
 *
 */

// Margin top always main wrapper (sidebar + main)
.ds-main-wrapper {
  margin-top: calc($spacer * 4);
}

// Container narrow
.ds-narrow-container {
  margin: 0 auto;
  max-width: 41.875rem;
}

// Wrapper white
.ds-wrapper-white {
  border-top-style: solid;
  border-top-width: 2px;
  background-color: $white;
  padding: $spacer;
}

// Header section
.ds-header-title {
  border-bottom: var(--lf-border-width) solid var(--lf-gray-400);
  padding-top: $spacer;
  padding-bottom: $spacer;
  h1 {
    color: var(--lf-gray-600);
    font-size: $font-size-lg;
    margin-bottom: 0;
  }
}

// Header section title with content
.ds-header-title-with-button {
  border-bottom: var(--lf-border-width) solid var(--lf-gray-400);
  padding-top: $spacer;
  padding-bottom: $spacer;
  h1 {
    color: var(--lf-gray-600);
    font-size: $font-size-lg;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
}

// Header section nested
.ds-header-title-nested {
  border-bottom: var(--lf-border-width) solid var(--lf-gray-300);
  padding: $spacer 0;
  h2 {
    color: var(--lf-gray-800);
    font-size: $font-size-lg;
    margin-bottom: 0;
    margin-right: $spacer;
  }
}

// Title with icon
.ds-title-with-icon-return {
  @extend .d-flex;
  @extend .align-items-center;
  h1, h2 {
    margin-left: calc($spacer*0.8);
  }
  svg {
    vertical-align: sub;
  }
}

// Link with icon
.ds-link-contain-icon {
  text-decoration: none;
  svg {
    display: none;
  }
}

// Section lost of form options
.ds-form-options-card-list {
  margin-top: calc($spacer * 0.25);
  section:not(:first-of-type) {
    margin-top: calc($spacer * 1.5);
  }
}

// Item list of form templates
.ds-item-template {
  h2 {
    font-size: $font-size-lg;
    margin: $spacer 0;
  }
}

.ds-avatar-sm {
  margin-right: 0;
  img {
    height: 23px;
    width: 23px;
  }
}

.ds-silence-text {
  background-color: var(--lf-gray-100);
  color: var(--lf-gray-600);
}

// Seen at form configuration page
.ds-single-consent:last-child {
  margin-bottom: calc($spacer);
}

// See this when data table row is clicked
.ds-highlighted {
  background-color: rgba(var(--lf-info-rgb), 0.3);
}

// See this when deleting a user or when deleting all form answers
.ds-alert {
  border-radius: 0;
}
// Removes border
.ds-no-border {
  border: none;
}

.ds-diff-added {
  background-color: #93C572;
  padding: 0 calc($spacer/4);
}
.ds-diff-removed {
  background-color: #FA8072;
  padding: 0 calc($spacer/4);
}

// used at form options page. Form status badges
a.badge {
  text-decoration: none;
}

// See this on Social media publish page
.ds-form-header-image {
  min-width: 100%;
}

// Modal consent
.ds-consent-modal {
  color: var(--lf-body-color);
  // background-color: var(--lf-body-bg);
}

.ds-server-log-filters {
  a {
    margin-right: 1em;
  }
}

.ds-card-body-with-chart {
  width: calc(100% - $spacer* 0.5) !important;
  padding: 0 calc($spacer * 0.25);
}
.ds-answer-bar-chart {
  width: 100%;
  height: 42vh;
}

.ds-graph-height, .ds-small-graph-height {
  height: 200px;
}

.alert-spinner {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  animation: spin 1.5s 0s infinite;
}

// ≥576px
@include media-breakpoint-up(sm) {
  // Link with icon
  .ds-link-contain-icon {
    svg {
      display: initial;
      margin-right: -8px;
    }
  }
  .ds-small-graph-height {
    height: 250px;
  }
}

// ≥992px
@include media-breakpoint-up(lg) {
  .ds-header-title {
    h1 {
      font-size: $h3-font-size;
    }
  }
  .ds-header-title-with-button {
    h1 {
      font-size: $h3-font-size;
    }
    > div:nth-child(2) {
      justify-self: flex-end;
    }
  }
  .ds-graph-height {
    height: 400px;
  }
}

//@media only screen and (min-width: 992px) {
@include media-breakpoint-up(lg) {
  .ds-resources-menu-nav-item svg {
    margin-right: 0.5em;
  }
}

.ds-empty-field {
  font-style: italic;
}
.ds-deleted-field-label {
  color: var(--lf-danger);
}
.ds-loading-data {
  color: var(--lf-gray-800);
  margin-top: 0;
}
.ds-no-data {
  font-style: italic;
  color: var(--lf-gray-600);
  margin-top: 1em;
  font-size: 1.75em;
}
