/*
 * Header
 *
 */

.ds-main-navbar {
  background-color: $white;
  > nav {
    padding-top: .1875rem;
    padding-bottom: .1875rem;
  }
  .ds-show-help {
    &.hide {
      display: none;
    }
  }
  .ds-hide-help {
    display: none;
    &.show {
      display: initial;
    }
  }
}