{% extends "base-backend.html" %}
{% block content %}

<!-- admin_change_user_password_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.inspect_user', user_id=user.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>
        {{ _("Change password") }}
      </h1>
    </div>
  </div>

  <div class="grid mt-0">
    <div class="g-col-12">
    {% if new_password %}
      <p class="alert alert-success ds-alert mb-0">
        {{_("Password changed OK") }}
      </p>
      <p class="alert alert-info ds-alert mt-4">
        <b>{{ _("Username") }}:</b> {{ user.username }}
        <br /><br />
        <b>{{ _("New password") }}:</b> <a href="javascript:void(0)" onclick="$('#new-password').toggle()">{{ _("Show") }}</a> <span id="new-password" style="display:none">{{ new_password }}</span>
      </p>
    {% else %}
      <p class="alert alert-danger ds-alert mb-0">
        {{ _("Please think twice first!") }}
      </p>
    {% endif %}
    </div>
  </div>

  {% if not new_password %}
  <div class="mt-3">
    <a href="{{ url_for('admin_bp.send_unique_email', user_id=user.id)}}">{{ _("Identify the user via email") }}<i data-feather="chevron-right" width=20 height=20 aria-hidden="true"></i></a>
  </div>
  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <p>{{ _("To confirm, enter the name of this user here.") }}</p>
      <form method="POST" name="resetPassword">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
          <label class="form-label" for="username">{{ _("Username") }}</label>
          <input id="username" type="text" name="username" class="form-control" autocomplete="off" required />
        </div>
        <div class="mt-4">
          <input class="btn btn-danger" type="submit" value="{{ _('Change') }}" />
        </div>
      </form>
    </div>
  </div>
  {% endif %}
</div>

<script>
const inline_help_file_name = "admin_user_reset_password.j2.md";
</script>

{% if not new_password %}
<script>
  $(function () {
    $('form[name=resetPassword]').parsley()
  });
</script>
{% endif %}

{% endblock %}
