{% extends "base-backend.html" %}
{% block content %}

<!-- change_author_page -->

{% with active_item="options",
        sub_option=True,
        viewer_role="admin" %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
        <a href="{{ url_for('admin_bp.inspect_form', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
        <h2>{{ _("Change author") }}</h2>
    </div>
  </div>

  <div class="grid mt-0">
    <div class="g-col-12 ">
      <p class="alert alert-danger ds-alert mb-0">{{ _("You are going to change the author of this form.") }} {{ _("Are you sure?") }}</p>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <form action="{{ url_for('admin_bp.change_author', form_id=form.id) }}" method="POST" autocomplete="off">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div>
              {# i18n: Username of current author of form #}
              <label for="old-author-username" class="form-label">{{ _("Current author's username") }}</label>
              <input id="old-author-username" name="old_author_username" class="form-control" type="text" required />
            </div>
            <div class="mt-4">
              {# i18n: Username of new author for form #}
              <label for="new-author-username" class="form-label">{{ _("New author's username") }}</label>
              <input id="new-author-username" name="new_author_username" class="form-control" type="text" required />
            </div>
            <div class="mt-4">
              <input class="btn btn-primary" type="submit" value="{{ _('Change author') }}" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "admin_form_changeauthor.j2.md";
</script>

{% endblock %}
