{% extends "base-backend.html" %}
{% block content %}

<!-- inspect_user_page -->

<script src="{{ url_for('static', filename='vendor/chartjs/3.6.2/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/chartjs/3.6.2/chartjs-adapter-date-fns.bundle.min.js') }}"></script>

{% set stats = chart_data %}
{% set forms = user.get_forms() %}

<div class="ds-header-title ds-no-border">
  <h1>
    <span class="ds-avatar"><img src="{{user.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
    {{ user.username }}
  </h1>
</div>

<div class="grid mt-2">
  <div class="g-col-12 g-col-lg-6 g-col-xxl-5">
    <div class="card">
      <div class="card-header">
        <h2>{{ _("Details") }}</h2>
      </div>
      <div class="card-body">
        <ul id="user-details-list" class="ds-list-group">
          <li>
            <span>{{ _("Email") }}</span>
            <span>{{ user.email }}</span>
          </li>
          <li>
            {# i18n: Whether the email of user was validated #}
            <span>{{ _("Validated email") }}</span>
            <span>{% if user.validated_email %}{{ _("True") }}{% else %}{{ _("False") }}{% endif %}</span>
          </li>
        {% if config['E2EE_MODE'].e2ee_enabled %}
          <li>
            <span>{{ _("Encryption") }}</span>
            <span>
              {% if user.e2ee_public_key %}{{ _("Enabled") }}{% else %}{{ _("Disabled")}}{% endif %}
            </span>
          </li>
        {% endif %}
          <li>
            {# i18n: Refers to the last date/time the user logged in #}
            <span>{{ _("Last login") }}</span>
            <span>{{ user.get_last_login() }}</span>
          </li>
          <li>
            <span>{{ _("Created") }}</span>
            <span>{{ user.get_created_date() }}</span>
          </li>
        {% set invited_by = user.invited_by() %}
        {% if invited_by %}
          <li>
            <span>{{ _("Invited by") }}</span>
            <span>
              <span class="ds-avatar-sm"><img src="{{invited_by.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
              <a href="{{url_for('admin_bp.inspect_user', user_id=invited_by.id)}}">{{ invited_by.username }}</a>
            </span>
          </li>
        {% endif %}
        {% if has_invited_users.count() and not user.is_admin() %}
          <li>
            {# i18n: The user 'has invited' these other users #}
            <span>{{ _("Has invited") }}</span>
            <span>
            {% for invited_user in has_invited_users %}
              <a href="{{ url_for('admin_bp.inspect_user', user_id=invited_user.id) }}">
                <span class="ds-avatar-sm"><img src="{{invited_user.get_avatar_src()}}" title="{{invited_user.username}}" class="rounded-circle" /></span></a>
            {% endfor %}
            </span>
          </li>
        {% endif %}
        {% if config['ENABLE_LDAP'] %}
          <li>
            <span>{{ _("LDAP user") }}</span>
          {% if user.is_ldap_user() %}
            <span class="">{{ _("True") }}</span>
          {% else %}
            <span class="">{{ _("False") }}</span>
          {% endif %}
          </li>
        {% endif %}
        {% if user.id != current_user.id %}
          <li>
            <span>{{ _("Role") }}</span>
            <span>
              <span id="role_word">
                {% if user.role == 'guest' %}{{ _("Guest") }}{% endif %}
                {% if user.role == 'editor' %}{{ _("Editor") }}{% endif %}
                {% if user.role == 'admin' %}{{ _("Admin") }}{% endif %}
              </span>
              <a href="javascript:void(0)" class="link" onclick="$('#role_options').show()">
                <i data-feather="chevron-down" aria-hidden="true"></i>
              </a>
            <span>
          </li>
          <li id="role_options" style="display:none !important">
            <span> </span>
            <div id="set_roles" class="btn-group btn-toggle">
              <button class="btn btn-sm {% if user.role == 'guest' %} btn-primary {% else %} btn-outline-secondary {% endif %}" role_type="guest">{{ _("Guest") }}</button>
              <button id="editor_role" class="btn btn-sm {% if user.role == 'editor' %} btn-primary {% else %} btn-outline-secondary {% endif %}" role_type="editor">{{ _("Editor") }}</button>
              <button id="admin_role" class="btn btn-sm {% if user.role == 'admin' %} btn-primary {% else %} btn-outline-secondary {% endif %}" role_type="admin">{{ _("Admin") }}</button>
            </div>
          </li>
          <li>
            {# i18n: Whether a user can create forms #}
            <span>{{ _("New forms disabled") }}</span>
            <div id="toggle_disabled_new_forms" class="btn-group btn-toggle">
              <button id="disabled_new_forms_true" {%if not user.enabled or user.role=='guest'%}disabled{%endif%} class="btn btn-sm {% if not user.can_create_forms() %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
              <button id="disabled_new_forms_false" {%if not user.enabled or user.role=='guest'%}disabled{%endif%} class="btn btn-sm {% if user.can_create_forms() %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("False") }}</button>
            </div>
          </li>
          <li>
            {# i18n: Whether user is blocked by admin #}
            <span>{{ _("Blocked by admin") }}</span>
            <div id="toggle_blocked" class="btn-group btn-toggle">
              <button id="blocked_true" class="btn btn-sm {% if user.blocked %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
              <button id="blocked_false" class="btn btn-sm {% if not user.blocked %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("False") }}</button>
            </div>
          </li>
          <li>
            <span class="text-danger">{{ _("Danger zone") }}</span>
            <a id="toggle-danger-zone" href="javascript:void(0)" class="link-danger">
              <i data-feather="chevron-down" aria-hidden="true"></i>
            </a>
          </li>
        {% endif %}
        </ul>
      </div>
    </div>
  </div>

  <div class="g-col-12 g-col-lg-6 g-col-xxl-7">
    {% if config['ENABLE_UPLOADS'] %}

    {% set media_usage = user.media_usage() %}
    {% set attachments_usage = user.attachments_usage() %}
    {% set total_uploads_usage = media_usage + attachments_usage %}
    <div class="card">
      <div class="card-header">
        <h2>
          {{ _("Disk usage") }}
          <span class="badge rounded-pill {% if total_uploads_usage < current_user.uploads_limit %} bg-info {% else %} text-bg-warning {% endif %}">
            {% if total_uploads_usage > 0 %}
            {{'%0.2f' % (( total_uploads_usage * 100) / current_user.uploads_limit )|float}} %
            {% else %}
            0 %
            {% endif %}
          </span>
        </h2>
      </div>
      <div class="card-body">
        <ul class="ds-list-group">
          {% set can_enable_uploads = user.can_enable_uploads() %}
          <li>
            {# i18n: Whether user is able to upload media and solicit attachments #}
            <span>{{ _("Uploads enabled") }}</span>
            <div id="toggle_uploads_enabled" class="btn-group btn-toggle">
              <button id="uploads_enabled_true" class="btn btn-sm {% if user.can_upload() %} btn-primary {% else %} btn-outline-secondary {% endif %}" {% if not can_enable_uploads %} disabled {% endif %}>{{ _("True") }}</button>
              <button id="uploads_enabled_false" class="btn btn-sm {% if not user.can_upload() %} btn-primary {% else %} btn-outline-secondary {% endif %}" {% if not can_enable_uploads %} disabled {% endif %}>{{ _("False") }}</button>
            </div>
          </li>
          <li>
            <span>{{ _("Media files") }}</span>
            <span>{{ human_readable_bytes(media_usage) }}</span>
          </li>
          <li>
            <span>{{ _("Form attachments") }}</span>
            <span>{{ human_readable_bytes(attachments_usage) }}</span>
          </li>
          <li>
            <span>{{ _("Total") }}</span>
            <span>{{ human_readable_bytes(total_uploads_usage) }}</span>
          </li>
          <li>
            {# i18n: Maximum permited total of uploads #}
            <span>{{ _("Uploads limit") }}: <strong>{{ human_readable_bytes(user.uploads_limit) }}</strong></span>
            <a class="ds-link-contain-icon" href="{{url_for('admin_bp.set_user_upload_limit', user_id=user.id)}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          </li>
        </ul>
     </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="grid mt-4">
  <div class="g-col-12">
    {% include 'admin/partials/user-form-stats.html' %}
  </div>
</div>

<div class="grid mt-4">
  <div class="g-col-12">
    <div class="card">
      <div class="card-header">
        <h2>
          {{ _("This user's forms") }}
        </h2>
      </div>
      <div class="card-body">
        <div vue-component="data-display"
            data-endpoint="{{url_for('data_display_bp.admin_userforms', user_id=user.id)}}"
            data-ui_language="{{ g.language }}"
            data-csrf_token="{{ csrf_token() }}">
        </div>
        <div vue-component="items-renderer"></div>
      </div>
    </div>
  </div>
</div>

<script src="{{config['DATA_DISPLAY_BASE_URL']}}/data-display.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/items-renderer.js"></script>

<script>
const inline_help_file_name = "admin_user.j2.md";

function setCanCreateFormsButtons(data) {
  let disabled_new_forms = !data.can_create_forms
  if (disabled_new_forms) {
    $('#disabled_new_forms_true').addClass('btn-primary')
                                 .removeClass('btn-outline-secondary')
    $('#disabled_new_forms_false').addClass('btn-outline-secondary')
                                  .removeClass('btn-primary')
  } else {
    $('#disabled_new_forms_true').addClass('btn-outline-secondary')
                                 .removeClass('btn-primary')
    $('#disabled_new_forms_false').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary')
  }
  if (data.can_toggle_new_forms) {
    $("#toggle_disabled_new_forms").find("button").prop("disabled", false)
  } else {
    $("#toggle_disabled_new_forms").find("button").prop("disabled", true)
  }
}
{% if user.id != current_user.id %}
document.getElementById('toggle_blocked').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('admin_bp.toggle_user_blocked', user_id=user.id)}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.blocked == true) {
                $('#blocked_true').addClass('btn-primary')
                                  .removeClass('btn-outline-secondary');
                $('#blocked_false').removeClass('btn-primary')
                                   .addClass('btn-outline-secondary');
            }
            else if (data.blocked == false) {
                $('#blocked_true').removeClass('btn-primary')
                                  .addClass('btn-outline-secondary');
                $('#blocked_false').addClass('btn-primary')
                                   .removeClass('btn-outline-secondary');
            }
            setCanCreateFormsButtons(data)
        }
    });
});
document.getElementById('toggle_disabled_new_forms').addEventListener('click', function(evt) {
  if ($("#disabled_new_forms_true").prop("disabled")) {
    return
  }
  $.ajax({
    url : "{{url_for('admin_bp.toggle_user_form_creation', user_id=user.id)}}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      setCanCreateFormsButtons(data)
    }
  });
});
document.getElementById('set_roles').addEventListener('click', function(evt){
  var role = $(evt.target).attr('role_type')
  $.ajax({
      url : "/admin/user/{{user.id}}/set-role/"+role,
      type: "POST",
      dataType: "json",
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.role !== undefined) {
          var role_word = '{{ _("Editor") }}'
          if (data.role == "guest") { role_word = '{{ _("Guest") }}' }
          if (data.role == "admin") { role_word = '{{ _("Admin") }}' }
          $('span[id="role_word"]').html(role_word)

          $('#set_roles').find('button').removeClass('btn-primary')
                                        .addClass('btn-outline-secondary')
          $('button[role_type="'+data.role+'"]').removeClass('btn-outline-secondary')
                                                .addClass('btn-primary')
          setCanCreateFormsButtons(data)
        }
      }
  });
});
var danger_zone_is_visible = false
document.getElementById('toggle-danger-zone').addEventListener('click', function(evt){
  if (danger_zone_is_visible == true) {
    $(".danger-zone").remove()
    $("#toggle-danger-zone").html(`<i data-feather="chevron-down" width="24" height="24" stroke-width="2" aria-hidden="true"><i>`)
  } else {
    $("#user-details-list").append(danger_zone_html)
    $("#toggle-danger-zone").html(`<i data-feather="chevron-up" width="24" height="24" stroke-width="2" aria-hidden="true"><i>`)
  }
  danger_zone_is_visible = !danger_zone_is_visible
  feather.replace();
})
{% endif %}

{% if config['ENABLE_UPLOADS'] %}
document.getElementById('toggle_uploads_enabled').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('admin_bp.toggle_uploads_enabled', user_id=user.id)}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.uploads_enabled === true) {
                $('#uploads_enabled_true').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
                $('#uploads_enabled_false').removeClass('btn-primary')
                                           .addClass('btn-outline-secondary');
            }
            else if (data.uploads_enabled === false) {
                $('#uploads_enabled_true').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
                $('#uploads_enabled_false').addClass('btn-primary')
                                           .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}

const danger_zone_html = `
<li class="danger-zone">
  <span>{{ _("Change password") }}</span>
  <a href="{{url_for('admin_bp.change_user_password', user_id=user.id)}}" class="ds-link-contain-icon link-danger">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
</li>
<li class="danger-zone">
  <span>{{ _("Delete user") }}</span>
  <a href="{{url_for('admin_bp.delete_user', user_id=user.id)}}" class="ds-link-contain-icon link-danger">{{ _("Delete") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
</li>
`
</script>

{% endblock %}
