{% extends "base-backend.html" %}
{% block content %}

<!-- list_users_page -->

<div class="g-col-12 d-flex grid align-items-center justify-content-between ds-header-title-with-button">
  <h1>{{ _("Users") }}</h1>
  <div class="text-end">
  {% if invites %}
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('admin_bp.list_invites')}}">
      {{ _("Invitations") }}  <span class="badge bg-light text-dark">{{ invites }}</span></a
    >
  {% else %}
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('admin_bp.new_invite')}}">{{ _("Invite a new user") }}</a>
  {% endif %}
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("Manage user accounts on this site.") }}</p>
  </div>
</div>

<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
        data-endpoint="{{ url_for('data_display_bp.admin_users') }}"
        data-ui_language="{{ g.language }}"
        data-csrf_token="{{ csrf_token() }}">
  </div>
  <div vue-component="items-renderer"></div>
</div>

<script src="{{config['DATA_DISPLAY_BASE_URL']}}/data-display.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/items-renderer.js"></script>

<script>
const inline_help_file_name = "admin_users.j2.md";
</script>

{% endblock %}
