{% extends "base-backend.html" %}
{% block content %}

<!-- admin_send_unique_email_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.change_user_password', user_id=user.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Identify the user via email") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12 ">
      <p class="mb-0">{{ _("Send an email with a unique identifier.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <div class="">
        <p class="mb-1"><strong>{# i18n: Email recipient #}{{ _("To:") }}</strong> {{ user.email }}</p>
        <p class="mb-1"><strong>{# i18n: Email field #}{{ _("Reply to:") }}</strong> {{ g.site.smtp_config['noreplyAddress'] }}</p>
        <p class="mb-1"><strong>{# i18n: Email Blind Carbon Copy #}{{ _("BCC:") }}</strong> {{ current_user.email }}</p>
      </div>
      <hr />
      <p class="mb-1"><strong>{# i18n: The subject of an email #}{{ _("Subject:") }}</strong> {{ subject }}</p>
      {% if sent_body %}
      <div class="mt-3">
        {{ sent_body|safe }}
      </div>
      {% else %}
      <form method="POST" name="sendUniqueEmailForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group mt-3">
          {{ wtform.text(class_="form-control", rows="7") }}
          <p class="mb-1 form-text">{{ _("[id] will be replaced with a unique id.") }}</p>
          {% for error in wtform.text.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>
        <div class="mt-4">
          <input class="btn btn-primary" type="submit" value="{{ _('Send') }}" />
        </div>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<script>
const inline_help_file_name = "admin_send_unique_email.j2.md";
</script>

{% if not sent_body %}
<script>
  $(function () {
    $('form[name=sendUniqueEmailForm]').parsley()
  });
</script>
{% endif %}

{% endblock %}
