{% extends "base-backend.html" %}
{% block content %}

<!-- user_upload_limit_page -->

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('admin_bp.inspect_user', user_id=user.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Set upload limit") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12 ">
      <p class="mb-0">{{ _("Assign disk space to this user.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <ul class="ds-list-group">
        {% set media_usage = user.media_usage(human_readable=True) %}
        {% set attachments_usage = user.attachments_usage(human_readable=True) %}
        {% set total_usage = user.total_uploads_usage(human_readable=True) %}
        <li>
          <span>{{ _("Media files") }}</span>
          <span>{{ media_usage }}</span>
        </li>
        <li>
          <span>{{ _("Form attachments") }}</span>
          <span>{{ attachments_usage }}</span>
        </li>
        <li>
          <span>{{ _("Total") }}</span>
          <span>{{ total_usage }}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ wtform.size(style="display:none") }}
            {{ wtform.unit(style="display:none") }}
            <div>
              <label for="displayed_size" class="form-label">{{ _("Limit") }}</label>
              <div class="input-group">
                <input type="text"
                        id="displayed_size"
                        value="{{ wtform.size.data }}"
                        class="form-control"
                        aria-label="Text input with segmented dropdown button">
                <button class="btn btn-outline-primary dropdown-toggle"
                        id="displayed_unit"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    {{ wtform.unit.data }}
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li><a class="dropdown-item" href="#" onclick="set_unit('KB')">KB</a></li>
                  <li><a class="dropdown-item" href="#" onclick="set_unit('MB')">MB</a></li>
                  <li><a class="dropdown-item" href="#" onclick="set_unit('GB')">GB</a></li>
                </ul>
              </div>
              {% for error in wtform.size.errors %}
                <span class="wtf-error ds-error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="mt-4">
              <input class="btn btn-primary" type="button" value="{{ _('Save') }}" onclick="submit_me()">
              <input class="btn btn-outline-primary" type="button" value="{{ _('Use default value') }}" onClick="set_default()">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "admin_user_setuploadlimit.j2.md";
function set_default() {
  $("#displayed_size").val("{{ default[0] }}")
  $("#displayed_unit").html("{{ default[1] }}")
}
function set_unit(unit) {
  $("#displayed_unit").html(unit)
}
function submit_me() {
  $("#size").val($("#displayed_size").val())
  $("#unit").val($("#displayed_unit").html())
  $("form").submit()
}
</script>

{% endblock %}
