
<!-- form_answer_options -->

<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2>{{ _("Answers") }}</h2>
{% if config['E2EE_MODE'].e2ee_enabled %}
  {%- if form.is_e2ee_enabled() %}
    {# i18n: Refers to a form #}
    <span id="encrypted_badge" class="badge rounded-pill bg-success">{{ _("Encrypted") }}</span>
  {%- elif form.is_e2ee %}
    <span id="encrypted_badge" class="badge rounded-pill bg-info">{{ _("Encryption not ready") }}</span>
  {%- elif config['E2EE_MODE'].default_form_value %}
    <span class="badge rounded-pill bg-secondary">{{ _("Not encrypted") }}</span>
  {% endif %}
{% endif %}
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      {% if form_user != None and viewer_role != "admin" %}
      <li>
        <span>{{ _("Last answer") }}</span>
        <span>{{ form.get_last_answer_date() }}</span>
      </li>
      {% set disk_usage = form.get_disk_usage() %}
      {% if form.has_file_field() or disk_usage > 0 %}
      <li>
        <span>{{ _("Attached files") }}</span>
        <span>{{ human_readable_bytes(disk_usage) }}</span>
      </li>
      {% endif %}
      <li>
        <span>{{ _("Notify me on each new answer") }}</span>
        <div id="notification_toggle" class="btn-group btn-toggle">
          <button id="notification_true" class="btn btn-sm {% if form_user['notifications']['newAnswer'] %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("True") }}</button>
          <button id="notification_false" class="btn btn-sm {% if not form_user['notifications']['newAnswer'] %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("False") }}</button>
        </div>
      </li>
      {% endif %}
      <li>
        <span>{{ _("Allow users to edit their answers") }}</span>
      {% if form.is_e2ee %}
        <span class="disabled-by-e2ee-badge badge rounded-pill bg-info">
          {{ _("Disabled by E2EE") }}
        </span>
      {% else %}
        <div id="anon_edition_toggle" class="btn-group btn-toggle">
          {% set toggle_state = form.is_anon_edition_enabled() %}
          <button id="anon_edition_true"
                  class="btn btn-sm {% if toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("True") }}
          </button>
          <button id="anon_edition_false"
                  class="btn btn-sm {% if not toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("False") }}
          </button>
        </div>
      {% endif %}

      </li>
    {% if not form.is_e2ee_enabled() %}
      <li>
        <span>{{ _("Notify me when they edit their answers") }}</span>
        {% set toggle_state = False if form.is_e2ee else notify_answer_edition %}
        <div id="notify_answer_edition_toggle" class="btn-group btn-toggle">
          <button id="notify_answer_edition_true"
                  class="btn btn-sm {% if toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                  {% if form.is_e2ee or not form.anon_edition %}disabled{% endif %}>
            {{ _("True") }}
          </button>
          <button id="notify_answer_edition_false"
                  class="btn btn-sm {% if not toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                  {% if form.is_e2ee or not form.anon_edition %}disabled{% endif %}>
            {{ _("False") }}
          </button>
        </div>
      </li>
    {% endif %}
    </ul>
  </div>
</div>

<script>

  // notify me on new answer
  lf_setup_toggle(
    'notification_toggle',
    "{{url_for('form_bp.toggle_new_answer_notification', form_id=form.id)}}",
    "notification")

  // allow answer edition
  lf_setup_toggle(
    'anon_edition_toggle',
    "{{url_for('form_bp.toggle_anon_edition', form_id=form.id)}}",
    "anon_edition",
    function() {  // on_true_cb
      is_anon_edition = true
      toggle_option("anon_edition_toggle", true)
      $("#notify_answer_edition_toggle").find("button").prop("disabled", false)
    },
    function() {  // on_false_cb
      is_anon_edition = false
      notify_answer_edition = false
      toggle_option("anon_edition", false)
      toggle_option("notify_answer_edition", false)
      $("#notify_answer_edition_toggle").find("button").prop("disabled", true)
    }
  )

  // notify me on answer edition
  lf_setup_toggle(
    'notify_answer_edition_toggle',
    "{{ url_for('form_bp.toggle_notify_on_answer_edition', form_id=form.id) }}",
    "notify_answer_edition",
    () => {
      notify_answer_edition=true
      toggle_option("notify_answer_edition", true)
    },
    () => {
      notify_answer_edition=false
      toggle_option("notify_answer_edition", false)
    }
  )
</script>
