
<!-- form_api_endpoints -->

{% set is_auth_enabled = form.is_api_enabled() %}

<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2>API endpoints</h2>
    <a href="#" onclick="toggleInlineHelp('form_apiendpoints.j2.md')"><i data-feather="help-circle" height=20 width=20></i></a>
  </div>
  <div class="card-body">
    <ul id="api-options-list" class="ds-list-group">
      <li>
        <span>JWT authorization</span>
        <span id="toggle_api_endpoint" class="btn-group btn-toggle">
          <button id="api_enabled_true" class="btn btn-sm {% if is_auth_enabled %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("Enable") }}</button>
          <button id="api_enabled_false" class="btn btn-sm {% if not is_auth_enabled %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("Disable") }}</button>
        </span>
      </li>
      <li>
        <span>Authorization token</span>
        {% set href = 'href=javascript:void(0);' if is_auth_enabled else "" %}
        <span><a id="copy_token_link" {{href}} onclick="copyJWT2Clipboard()">{{_("Copy to clipboard")}}</a></span>
      </li>
      <li>
        <span>GET Form</span>
        <span>{{ url_for('api_bp.form_info', form_id=form.id, _external=True) }}</span>
      </li>
      <li>
        <span>GET Answers</span>
        <span>{{ url_for('api_bp.form_answers', form_id=form.id, _external=True) }}</span>
      </li>
    {% if form_user.is_e2ee_enabled() %}
      <li>
        <span>{{ _("Encryption") }}</span>
        <span><a id="toggle-e2ee-info" class="ds-link-contain-icon" href="javascript:void(0);">
          {{ _("For your information") }} <i data-feather="chevron-down" aria-hidden="true"></i></a></span>
      </li>
    {% endif %}
    </ul>
  </div>
</div>

{% set auth_header_value = form.endpoint_auth.get_authorization_header_value() if is_auth_enabled else "" %}
<input id="authorization_header_value" type="hidden" value="{{auth_header_value}}" />


{% if form_user.is_e2ee_enabled() %}

{# Used to restore current_user key when required #}
<div vue-component="key-manager-renderer"
     data-e2ee_form_key_id="{{ form.id }}@form.keys.{{ config['SERVER_NAME'] }}"
     data-e2ee_editor_key_id="{{ current_user.id }}@editor.keys.{{ config['SERVER_NAME'] }}"
     data-e2ee_public_key_on_server='{{ current_user.e2ee_public_key | tojson }}'
     data-e2ee_status='{{ form.encrypted_form_data() | tojson }}'
     data-ui_language="{{ g.language }}"
     data-external_restore="true"
>
</div>

<script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-key-manager.js"></script>

{% include 'form/partials/e2ee-form-keys.js.html' %}
<script>
  $(async function() {
    const dataDisplayDiv = $('div[vue-component="key-manager-renderer"]');
    // Trigger a form restore from remote backup if necessary
    const formKeyId = dataDisplayDiv.attr('data-e2ee_form_key_id');
    if (!LF_E2EE.keyStorage.readLocked(formKeyId))
      await restoreFormKeyBackup();
  })
  async function copyKey2Clipboard() {
    try {
      var form_raw_key;
      let privKey = await LF_E2EE.keyStorage.readUnlocked(
          LF_E2EE.keyStorage.genKeyUserId('form', {{form.id}}),
          LF_E2EE.keyStorage.genKeyUserId('editor', {{current_user.id}})
      )
      if (LF_E2EE.keys.isKey(privKey)) {
        let rawKey = await privKey.export()
        form_raw_key = await LF_E2EE.b64.ensureString(rawKey)
        if (form_raw_key) {
          navigator.clipboard.writeText(form_raw_key);
          logCopyKeyAction()
        }
      }
      else
        document.dispatchEvent(new CustomEvent("LF_start_restore_e2ee_key_event"));
    }
    catch {
      await LF_E2EE.deleteDeviceKeys()
      await restoreFormKeyBackup();
      await copyKey2Clipboard();
    }
  }
  document.addEventListener("LF_e2ee_key_is_restored_event", function() {
    // triggered by the vue component
    copyKey2Clipboard()
  })
  function logCopyKeyAction() {
    $.ajax({
        url : "{{url_for('form_bp.log_key_copy', form_id=form.id)}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        }
    });
  }
</script>

<script>
  var e2ee_info_is_visible = false;
  document.getElementById('toggle-e2ee-info').addEventListener('click', function(evt){
    if (e2ee_info_is_visible == true) {
      $(".e2ee-info").remove()
      $("#toggle-e2ee-info").html(`{{ _("For your information") }} <i data-feather="chevron-down" width="24" height="24" stroke-width="2" aria-hidden="true"><i>`)
    } else {
      $("#api-options-list").append(e2ee_info_html)
      $("#toggle-e2ee-info").html(`{{ _("For your information") }} <i data-feather="chevron-up" width="24" height="24" stroke-width="2" aria-hidden="true"><i>`)
    }
    e2ee_info_is_visible = !e2ee_info_is_visible
    feather.replace();
  })
  const e2ee_info_html = `
<li class="e2ee-info">
  <span>{{ _("This form's private key") }}</span>
  <span><a href="javascript:void(0);" onclick="javascript:copyKey2Clipboard()">
    {{ _("Copy to clipboard") }}</a>
  </span>
</li>
<li class="e2ee-info">
  <span>{{ _("The key's fingerprint") }}</span>
  <span><input class="form-control" value="{{form.e2ee_public_key.fingerprint}}"></span>
</li>
`
</script>
{% endif %}

<script>
  lf_setup_toggle(
    "toggle_api_endpoint",
    "{{ url_for('form_bp.toggle_api_endpoint', form_id=form.id) }}",
    "api_enabled",
    (data) => {
      $("#authorization_header_value").val(data.authorization_header_value)
      $("#copy_token_link").attr("href", "javascript:void(0);")
    },
    () => {
      $("#authorization_header_value").val("")
      $("#copy_token_link").removeAttr("href")
    }
  );
  function copyJWT2Clipboard() {
    if ($("#authorization_header_value").val())
      navigator.clipboard.writeText($("#authorization_header_value").val())
  }
</script>
