
<!-- form_confirmation_options_partial -->

<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h2>
      {{ _("Confirmation") }}
    </h2>
    <a href="#" onclick="toggleInlineHelp('form_confirmation.j2.md')"><i data-feather="help-circle" height=20 width=20></i></a>
  </div>

  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        {# i18n: Enable a checkbox at the end of the form that confirms the user via email that their answers have been sent #}
        <span>{{ _("Send an email to the user after they have answered the form") }}</span>
      {% if form.is_e2ee %}
        <span class="disabled-by-e2ee-badge badge rounded-pill bg-info">{{ _("Disabled by E2EE") }}</span>
      {% else %}
        {% set toggle_state = send_confirmation %}
        <div id="send_confirmation_toggle" class="btn-group btn-toggle">
          <button id="send_confirmation_true" {% if not form_has_email_field %}disabled{% endif %} class="send_confirmation btn btn-sm {% if toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("True") }}
          </button>
          <button id="send_confirmation_false" {% if not form_has_email_field %}disabled{% endif %} class="send_confirmation btn btn-sm {% if not toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("False") }}
          </button>
        </div>
      {% endif %}
      </li>
    </ul>
  </div>
</div>


<script>
// send confirmation
lf_setup_toggle(
  "send_confirmation_toggle",
  "{{ url_for('form_bp.toggle_form_send_confirmation', form_id=form.id) }}",
  "send_confirmation",
  () => {
    is_send_confirmation = true
    toggle_option("send_confirmation", true)
  },
  () => {
    is_send_confirmation = false
    toggle_option("send_confirmation", false)
  }
)
</script>
