

<div class="grid mt-4">
  <div class="g-col-12">
    <div id="data_consents" class="card">
      {% set hidden_content = form_user.ui_preferences.data_consents is defined and not form_user.ui_preferences.data_consents %}
      <div class="card-header d-flex align-items-center justify-content-between">
        <h2>
          {% if not hidden_content %}
          <a href="#" class="toggle-card" title="{{_('Hide')}}""><i data-feather="chevron-up" width="24" height="24" stroke-width="2" aria-hidden="true"></i></a>
          {% else %}
          <a href="#" class="toggle-card" title="{{_('Show')}}""><i data-feather="chevron-down" width="24" height="24" stroke-width="2" aria-hidden="true"></i></a>
          {% endif %}
          {{ _("Privacy statement") }}
        </h2>
        {% if consents %}
          {% if consents|length == 1 %}
          {% set consent = consents[0] %}
            {% if not consent.enforced %}
            <div class="yes_consents">
              <button class="btn btn-sm btn-danger"
                      onclick="javascript:removeConsent({{consent.id}});
                              $('.no_consents').show();
                              $('.yes_consents').hide();
                              {%if not form.requires_consent%}$('#add_consent_links').hide();{%endif%}">
                  {{ _("Remove") }}
              </button>
              <button class="btn btn-sm btn-outline-primary" onclick="javascript:editConsent({{consent.id}}, {{consent.is_copy|tojson}}, {{consent.form_id|tojson}})">{{ _("Edit") }}</button>
            </div>
            {% endif %}
          {% else %}
          <a class="btn btn-sm btn-outline-primary" href="{{url_for('consent_bp.list_form_data_consents', form_id=form.id)}}">{{ _("Edit") }}</a>
          {% endif %}
        {% endif %}
      </div>
      <div class="toggled-content" {% if hidden_content %}style="display:none"{% endif %}>
        <div class="card-body">
          {% if consents %}
            {% for consent in consents %}
            <div id="enabled-consent-{{consent.id}}">{% include 'consent/partials/consent.html' %}</div>
            {% endfor -%}
            <div class="yes_consents">
              <hr />
              <p class="mt-4 mb-0">
                {{ _("Forms may contain multiple privacy statements") }}.
                <a href="#" onclick="toggleInlineHelp('form_dataconsents.j2.md')">{{ _("Why would I do that?") }}</a>
              </p>
            </div>
          {% endif %}

          <div class="no_consents" {% if consents %}style="display:none"{%endif%}>
            <p>{{ _("Personal data is any information related to an individual that can directly or indirectly identify them. Names and email addresses are obviously personal data. Location information, ethnicity, gender, biometric data, religious beliefs and political opinions can also be personal data.") }}</p>
            <p><strong>{{ _("Does this form solicit personal data?") }}</strong></p>
            <div id="toggle_requires_consent" class="btn-group btn-toggle" onclick="toggleFormContainsPersonalData()">
              <button id="requires_consent_true" class="btn btn-sm {%if form.requires_consent%}btn-primary{%else%}btn-outline-secondary{%endif%}">
                {{ _("Yes") }}
              </button>
              <button id="requires_consent_false" class="btn btn-sm {%if not form.requires_consent%}btn-primary{%else%}btn-outline-secondary{%endif%}">
                {{ _("No") }}
              </button>
            </div>
            <div id="should_add_consent_true" class="mt-3" {%if not form.requires_consent%}style="display:none"{%endif%}>
              {{ _("A privacy statement is required for this form") }}.
            </div>
            <div id="should_add_consent_false" class="mt-3" {%if form.requires_consent%}style="display:none"{%endif%}>
              {{ _("A privacy statement is not required") }}.
            </div>
          </div>

          <ul id="add_consent_links" class="mt-2 mb-1" {% if not (form.requires_consent or consents) %}style="display:none"{% endif %}>
            {% if current_user.get_available_consents() %}
            <li><a href="{{url_for('consent_bp.list_form_data_consents', form_id=form.id)}}">{{ _("Add a statement from the library")}}<i data-feather="chevron-right" width="20" height="20" aria-hidden="true"></i></a></li>
            {% endif %}
            <li><a href="{{url_for('consent_bp.wizard_for_form', form_id=form.id)}}">{{ _("Create a new statement for this form")}}<i data-feather="chevron-right" width="20" height="20" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
{% include 'form/js/edit_and_remove_consent.js' %}

function toggleFormContainsPersonalData() {
  let choice = !$('#requires_consent_true').hasClass("btn-primary")
  if (choice == true) {
    $('#requires_consent_true').addClass('btn-primary').removeClass('btn-outline-secondary');
    $('#requires_consent_false').removeClass('btn-primary').addClass('btn-outline-secondary');
    $('#should_add_consent_false').hide()
    $('#should_add_consent_true').show()
    $('#add_consent_links').show()
  } else {
    $('#requires_consent_true').removeClass('btn-primary').addClass('btn-outline-secondary');
    $('#requires_consent_false').addClass('btn-primary').removeClass('btn-outline-secondary');
    $('#should_add_consent_false').show()
    $('#should_add_consent_true').hide()
    $('#add_consent_links').hide()
  }
  $.ajax({
      url : "{{url_for('form_bp.set_requires_consent', form_id=form.id)}}",
      type: "POST",
      dataType: "json",
      data: {"requires_consent_bool": choice},
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.is_public) {
          $("#is_public_badge").removeClass("bg-secondary").addClass("bg-success")
          $("#is_public_badge").html("{{ _('Public') }}")
        } else {
          $("#is_public_badge").removeClass("bg-success").addClass("bg-secondary")
          $("#is_public_badge").html("{{ _('Not public') }}")
        }
      }
  });
}
</script>
