
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-answers.js"></script>


<script>
async function restoreFormKeyBackup() {

{% if form_user and form_user.is_e2ee_enabled() %}
  const formKeyId = LF_E2EE.keyStorage.genKeyUserId("form", "{{ form.id }}");
  const userKeyId = LF_E2EE.keyStorage.genKeyUserId("editor", "{{ current_user.id }}")
  const formKeyBackup = "{{ form_user.e2ee_ciphered_key_backup.ciphered_key_backup }}"
  const formKeyPublicKey = "{{ form_user.e2ee_ciphered_key_backup.form_public_key }}"

  await LF_E2EE.keyStorage.persistRawKey(
    formKeyId,
    formKeyBackup,
    {"userKeyId": userKeyId},
    false,
    formKeyPublicKey,
  )
{% endif %}
}

async function postCipheredFormKey(user_id, user_email) {
  let ciphered_key = await createCipheredKey(user_email)
  if (!ciphered_key.hasOwnProperty('form_public_key')) {
    return 'need_key_restore';
  }
  return $.ajax({
    url : `/form/{{form.id}}/set-formuser-ciphered-key/${user_id}`,
    type: "PATCH",
    data: JSON.stringify(ciphered_key),
    contentType: "application/json",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    }
  });
}
async function createCipheredKey(user_email) {
  // Fetch user E2EE data
  const user_data = await fetch(`/form/{{ form.id }}/user-permissions/${user_email}`
  ).then((response) => response.json())

  //console.log("createCipheredKey user_data",user_data)
  if (user_data.e2ee_public_key !== undefined) {
    const added_user_public = await LF_E2EE.keys.getPublic(user_data.e2ee_public_key.public_key)

    let formKeyId = LF_E2EE.keyStorage.genKeyUserId('form', {{form.id}})
    let userKeyId = LF_E2EE.keyStorage.genKeyUserId('editor', {{current_user.id}})

    // form_private_key states:
    // 1. unlocked form_private_key is in sessionStorage /
    //    when this form has just been created by author with generateFormKeys()
    // 2. unlocked form_private_key can be restored / when current_user key is unlocked
    const form_private_key = await LF_E2EE.keyStorage.readUnlocked(formKeyId, userKeyId)
    // console.log('form_private_key',form_private_key)
    if (!LF_E2EE.keys.isKey(form_private_key)) {
      document.dispatchEvent(new CustomEvent("LF_start_restore_e2ee_key_event"));
      return 'need_key_restore';
    }
    const ciphered_form_key = LF_E2EE.b64.ensureString(
      await form_private_key.export(added_user_public)
    )
    return {
      user_key_fingerprint: added_user_public.fingerprint,
      form_key_fingerprint: form_private_key.fingerprint,
      ciphered_key_backup: ciphered_form_key,
      form_public_key: await form_private_key.toPublic().export(),
    }
  }
  return {}
}
async function fetchAndDecryptFile(formKeyId, userKeyId, url)
{
  const response = await fetch(url);
  const filename = response.headers.get("Content-Disposition").split("filename=")[1].split(";")[0];
  const privKey = await LF_E2EE.keyStorage.readUnlocked(formKeyId, userKeyId);
  const decryptedStream = await privKey.decryptBinary(response.body);
  const binaryBlob = await LF_E2EE.stream.toBlob(decryptedStream);
  return new File([binaryBlob], filename);
}
</script>
