
<!-- form_embeded_code -->

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pygments.css') }}">

<div class="card">
  <div class="card-header">
    <h2>{{ _("Embedded form code") }}</h2>
  </div>
  <div class="card-body">
    <p>{{ _("HTML code to embed the form in a website.") }}</p>
    <div id="embed_snippet">
    {% set embedded_url = form.get_embed_url() %}

{{'<iframe
  width="500" height="600" frameborder="0"
  src="{embedded_url}">
</iframe>' | replace('{embedded_url}', embedded_url) | pygment('html') | safe}}

    </div>
  </div>
</div>
