
<!-- form_invites_page -->

{% if invites %}
<div class="card mt-3 mb-4">
  <div class="card-header">
    <h2>{{ _("Pending invitations") }}</h2>
  </div>
  <div class="card-body pb-0">
    <div class="table-responsive">
      <table class="table table-sm align-middle">
        <thead class="">
          <tr>
            <th>{{ _("Sending date") }}</th>
            <th>{{ _("Email") }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for invite in invites %}
          <tr>
            <td>{{ invite.last_sent }}</td>
            <td>{{ invite.email }}</td>
            <td align="right">
              <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#message-{{invite.id}}">
                {{ _("Show") }}
              </button>
              <button type="button" class="send_invite btn btn-sm btn-outline-primary" onclick="sendInvite({{invite.id}})">
                {{ _("Send again") }}
              </button>
              <button type="button" class="send_invite btn btn-sm btn-danger" onclick="deleteInvite({{invite.id}})">
                {{ _("Delete") }}
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {%- set redirect_destination = 'form_bp.form_editors' if sharing_as_editor else 'form_bp.form_readers' %}
      <form name="inviteActionForm" method="POST">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}" />
        <input name="redirect_destination" value="{{redirect_destination}}" type="hidden" />
      </form>
    </div>
  </div>
</div>
{% include 'common/invitation-msg-modals.html' %}
{% endif %}

{% if invitation_email %}
<div class="modal fade" id="user_not_found_modal" tabindex="-1" role="dialog" aria-labelledby="not_found_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="not_found_modalLabel">{{invitation_email}}</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <i data-feather="x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ _("We can't find a user with that email address.") }}</p>
        <p>{{ _("Do you want to send an invitation to %(email)s?", email = invitation_email) }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ _("No thanks") }}</button>
        <a role="button" type="button" class="btn btn-primary"
           href="{{url_for('form_bp.new_invite',
                 form_id=form.id,
                 grant_as=sharing_role,
                 email=invitation_email)}}">
            {{ _("Yes") }}
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script>
{%- if invitation_email %}
$(document).ready(function(){
  $('#user_not_found_modal').modal('show');
});
{% endif %}

function sendInvite(invite_id) {
  let $form = $("form[name=inviteActionForm]")
  $form.prop('action', `/form/{{form.id}}/invite/${invite_id}/send-again`);
  $(".send_invite").prop("disabled", true)
  $form.submit()
}
function deleteInvite(invite_id) {
  let $form = $("form[name=inviteActionForm]")
  $form.prop('action', `/form/{{form.id}}/invite/${invite_id}/delete`);
  $form.submit()
}
</script>
