
<!-- form_form_shares -->

<div class="card">
  <div class="card-header">
    <h2>{{ _("Group permissions") }}</h2>
  </div>

  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        {% set form_editors = FormUser.find_all(form_id=form.id, is_editor=True) %}
        {% set invites_cnt = Invite.find_all(granted_form=form.id, granted_role='editor').count() %}
        <span>
          {{ _("Editors") }}
        {% if invites_cnt > 0 %}
          <span class="fw-bold">
          {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
          </span>
        {% endif -%}
        </span>
        <span onclick="js:window.location='{{ url_for('form_bp.form_editors', form_id=form.id) }}'">
        {% if form_editors.count() > 1 %}
          {% for form_user in form_editors %}
            <span class="ds-avatar ds-avatar-sm">
              <img src="{{form_user.user.get_avatar_src()}}" title="{{form_user.user.username}}" class="rounded-circle" />
            </span>
          {% endfor %}
          <a class="ds-link-contain-icon" href="{{ url_for('form_bp.form_editors', form_id=form.id)}}">
            <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        {% else %}
          <a class="ds-link-contain-icon" href="{{ url_for('form_bp.form_editors', form_id=form.id)}}">
            {{ _("Add editors") }}
            <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        {% endif %}
        </span>
      </li>

      <li>
        {% set form_readers = FormUser.find_all(form_id=form.id, is_editor=False) %}
        {% set invites_cnt = Invite.find_all(granted_form=form.id, granted_role='reader').count() %}
        <span>
          {{ _("Answers only") }}
        {% if invites_cnt > 0 %}
          <span class="fw-bold">
          {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
          </span>
        {% endif -%}
        </span>
        {% set readers_cnt = form_readers.count() %}
        <span onclick="js:window.location='{{ url_for('form_bp.form_readers', form_id=form.id) }}'">
            {% if readers_cnt > 0 %}
              {% for form_user in form_readers %}
                <span class="ds-avatar ds-avatar-sm">
                  <img src="{{form_user.user.get_avatar_src()}}" title="{{form_user.user.username}}" class="rounded-circle" />
                </span>
              {% endfor -%}
              <a class="ds-link-contain-icon" href="{{ url_for('form_bp.form_readers', form_id=form.id) }}">
                <i data-feather="chevron-right" aria-hidden="true"></i>
              </a>
            {% else -%}
              <a class="ds-link-contain-icon" href="{{ url_for('form_bp.form_readers', form_id=form.id) }}">
                {{ _("Share") }} <i data-feather="chevron-right" aria-hidden="true"></i>
              </a>
            {% endif -%}
        </span>
      </li>
      <li>
        <span>{{ _("Restricted access") }}</span>
        <span id="toggle_restricted_access" class="btn-group btn-toggle">
          <button id="restricted_access_true" class="btn btn-sm {% if form.restricted_access %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("True") }}</button>
          <button id="restricted_access_false" class="btn btn-sm {% if not form.restricted_access %}btn-primary{% else %}btn-outline-secondary{% endif %}">{{ _("False") }}</button>
        </span>
      </li>
    </ul>
  </div>
</div>

<script>
document.getElementById('toggle_restricted_access').addEventListener('click', function(evt){
  $.ajax({
    url : "{{url_for('form_bp.toggle_restricted_access', form_id=form.id)}}",
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.restricted == true) {
        $('#restricted_access_true').addClass('btn-primary')
                                    .removeClass('btn-outline-secondary');
        $('#restricted_access_false').removeClass('btn-primary')
                                     .addClass('btn-outline-secondary');
      }
      else if (data.restricted == false) {
        $('#restricted_access_true').removeClass('btn-primary')
                                    .addClass('btn-outline-secondary');
        $('#restricted_access_false').addClass('btn-primary')
                                     .removeClass('btn-outline-secondary');
      }
    }
  });
});
</script>
