

<!-- form_form_options -->

<div class="card">
  <div class="card-header">
    <h2>{{ _("Form") }}</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Look and feel") }}</span>
        <span><a class="ds-link-contain-icon" href="{{url_for('form_bp.look_and_feel', form_id=form.id)}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      {% endif %}
      <li>
        {% if form.expired %}
        {% set form_expiry_status = _("This form has expired") %}
        {% elif form.can_expire() %}
        {% set form_expiry_status = _("This form will expire") %}
        {% else %}
        {% set form_expiry_status = _("Does not expire") %}
        {% endif %}
        {% if viewer_role == "editor" %}
          <span>{{ _("Expiration") }}: <span class="fw-bold">{{ form_expiry_status }}</span></span>
          <a class="ds-link-contain-icon" href="{{url_for('form_bp.expiration', form_id=form.id)}}">
            {{ _("Configure") }} <i data-feather="chevron-right" aria-hidden="true"></i>
          </a>
        {% else %}
          <span>{{ _("Expiration") }}</span>
          <span>{{ form_expiry_status }}</span>
        {% endif %}
      </li>
      {% if viewer_role == "admin" and config['E2EE_MODE'].e2ee_enabled %}
      <li>
        <span>{{ _("Encryption") }}</span>
        <span>
          {% if form.is_e2ee %}{{ _("Enabled") }}{% else %}{{ _("Disabled")}}{% endif %}
        </span>
      </li>
      <li>
        <span>{{ _("API endpoints") }}</span>
        <span>
          {% if form.is_api_enabled() %}{{ _("Enabled") }}{% else %}{{ _("Disabled")}}{% endif %}
        </span>
      </li>
      {% endif %}

    {% if viewer_role == "admin" and form.get_file_fields() %}
      <li>
        <span>{{ _("Attached files") }}</span>
        <span>
          {{human_readable_bytes(form.get_disk_usage())}}
        </span>
      </li>
    {% endif %}

      {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Changes and editions") }}</span>
        <span><a class="ds-link-contain-icon" href="{{url_for('form_bp.list_log', form_id=form.id)}}">{{ _("View log") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      {% endif %}
      <li>
        <span>{{ _("Duplicate form") }}</span>
        <span><a class="ds-link-contain-icon" href="{{url_for('form_bp.create_new_form', duplicate_id=form.id)}}">{{ _("Duplicate") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      <li>
        {% set author = form.author %}
        <span>{{ _("Author") }} {% if not author.is_active() %}<strong>{{ _("Disabled") }}</strong>{% endif %} </span>
        <span>
          <span class="ds-avatar-sm"><img src="{{form.author.get_avatar_src()}}" alt="" class="rounded-circle" /></span>
          {% if viewer_role == "admin" %}
            <a class="ds-link-contain-icon" href="{{url_for('admin_bp.inspect_user', user_id=author.id)}}">{{ author.username }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
          {% else %}
            {{ author.username }}
          {% endif %}
        </span>
      </li>
      <li>
        <span>{{ _("Created") }}</span>
        <span>{{ form.get_created_date() }}</span>
      </li>
      {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Delete form") }}</span>
        <span><a class="ds-link-contain-icon link-danger" href="{{url_for('form_bp.delete_form', form_id=form.id)}}">{{ _("Delete") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      {% endif %}
      {% if viewer_role == "admin" %}
      <li>
        <span>{{ _("Disable form") }}</span>
        <div>
          <form style="display:inline" action="{{url_for('admin_bp.disable_form', form_id=form.id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
          {% if form.admin_preferences['public'] %}
          <input type="submit" class="btn btn-danger btn-sm" role="button" value="{{ _('Disable') }}" />
          {% else %}
          <input type="submit" class="btn btn-primary btn-sm" role="button" value="{{ _('Enable') }}" />
          {% endif %}
          </form>
        </div>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
