
<!-- form_map_options_partial -->

{% include 'form/modals/public-map-warning.html' %}

<div class="card">
  <div class="card-header">
    <h2>
      {{ _("Map options") }}
    </h2>
  </div>

  <div class="card-body">
    <ul class="ds-list-group">
      {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Map markers") }}</span>
        <a class="text-nowrap ds-link-contain-icon" href="{{ url_for('form_bp.map_markers', form_id=form.id)}}">
          {{ _("Configure") }} <i data-feather="chevron-right" aria-hidden="true"></i>
        </a>
      </li>
      {% endif %}
      <li>
        <span>{{ _("Publish answers") }}</span>
      {% if form.is_e2ee %}
        <span class="disabled-by-e2ee-badge badge rounded-pill bg-info">{{ _("Disabled by E2EE") }}</span>
      {% else %}
        {% set toggle_state = is_map_enabled %}
        <div id="enable_public_map_toggle" class="btn-group btn-toggle">
          <button id="enable_public_map_true" class="btn btn-sm {% if toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("True") }}
          </button>
          <button id="enable_public_map_false" class="btn btn-sm {% if not toggle_state %}btn-primary{% else %}btn-outline-secondary{% endif %}">
            {{ _("False") }}
          </button>
        </div>
      {% endif %}
      </li>
      {% set is_map_enabled = form.is_map_enabled() %}
      {% if not form.is_e2ee %}
      <li>
        <span>{{ _("Public map") }}</span>
        <span>
          {% set public_map_url = url_for("public_answers_bp.as_map", slug=form.slug, _external=True) %}
          <a class="public_map_link" {%if not is_map_enabled %}style="display:none"{%endif%} href="{{public_map_url}}">{{public_map_url}}</a>
          <span class="public_map_url" {%if is_map_enabled %}style="display:none"{%endif%}>{{public_map_url}}</span>
        </span>
      </li>
      <li>
        <span>{{ _("Map JSON") }}</span>
        <span>
          {% set map_json_uri = url_for("public_answers_bp.map_json_data", form_id=form.id, _external=True) %}
          <a class="public_map_link" {%if not is_map_enabled %}style="display:none"{%endif%} href="{{map_json_uri}}">{{map_json_uri}}</a>
          <span class="public_map_url" {%if is_map_enabled %}style="display:none"{%endif%}>{{map_json_uri}}</span>
        </span>
      </li>
      {% endif %}
    </ul>
  </div>
</div>

<script>
const public_map_warning_modal = new bootstrap.Modal(document.getElementById("public-map-warning-modal"))
var publish_map_modal_discarded = false  // modal closed by 'esc' key or X icon

document.getElementById('public-map-warning-modal')
        .addEventListener('hidden.bs.modal', event => {
          publish_map_modal_discarded = true
})

function is_public_map_granted() {
  let $yes = $("#permissionGranted")
  let $no = $("#permissionNotGranted")
  let poll = resolve => {
    if (publish_map_modal_discarded || $yes.is(':checked') || $no.is(':checked')) resolve()
    else setTimeout(_ => poll(resolve), 300);
  }
  return new Promise(poll);
}
async function showPublicMapWarning() {
  publish_map_modal_discarded = false
  if (!is_map_enabled) {  // only show modal when request is toggle to true
    $("#publish_permission").find("input[type=radio]").prop("checked", false)  // reset radios
    public_map_warning_modal.show()
    await is_public_map_granted()
    public_map_warning_modal.hide()
    return $("#permissionGranted").is(':checked') ? true : false
  }
  return true
}

// enable public map
lf_setup_toggle(
  "enable_public_map_toggle",
  "{{ url_for('form_bp.toggle_publish_map', form_id=form.id) }}",
  "enable_public_map",
  () => {
    is_map_enabled = true
    toggle_option("enable_public_map", true)
    activate_public_map_links(true)
  },
  () => {
    is_map_enabled = false
    toggle_option("enable_public_map", false)
    activate_public_map_links(false)
  },
  async () => {  // before post func
    return await showPublicMapWarning()
  }
)
</script>
