

{% set can_be_published = form.can_be_published() %}

<div class="card">
  <div class="card-header">
    <h2>{{ _("Publish") }}</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        <span>{{ _("Public") }}{% if not can_be_published %}{{ status_badges(form)|safe }}{% endif %}</span>
        {% if viewer_role == "editor" %}
        <div id="toggle_public" class="btn-group btn-toggle">
          <button id="toggle_public_true" class="btn btn-sm {% if form.is_public() %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                  {% if not can_be_published %}disabled{% endif %}>
            {{ _("True") }}
          </button>
          <button id="toggle_public_false" class="btn btn-sm {% if not form.is_public() %}btn-primary{% else %}btn-outline-secondary{% endif %}"
                  {% if not can_be_published %}disabled{% endif %}>
            {{ _("False") }}
          </button>
        </div>
        {% else %}
          <span>{% if form.is_public() %}{{ _("True") }}{% else %}{{ _("False") }}{% endif %}</span>
        {% endif %}
      </li>
      <li>
        <span>{{ _("Public URL") }}</span>
        <span>
        {% if form.is_public() %}
          <a id="formLink" href="{{ form.url }}">{{ form.url }}</a>
        {% else %}
          <a id="formLink">{{ form.url }}</a>
        {% endif %}
        </span>
      </li>

    {% if form_has_map_field and not form.is_e2ee %}
      <li>
        <span>{{ _("Public map") }}</span>
        <span>
        {% set public_map_url = url_for("public_answers_bp.as_map", slug=form.slug, _external=True) %}
        {% set is_map_enabled = form.is_map_enabled() %}
        {% if viewer_role == "editor" %}
          <a class="public_map_link" {%if not is_map_enabled %}style="display:none"{%endif%} href="{{ public_map_url }}">{{ _("Enabled") }}</a>
          <span class="public_map_url" {%if is_map_enabled %}style="display:none"{%endif%}>{{ _("Disabled") }}</span>
        {% elif is_map_enabled %}
            <a href="{{public_map_url}}">{{ _("Enabled") }}</a>
        {% else %}
          <span>{{ _("Disabled") }}</span>
        {% endif %}
        </span>
    {% endif %}
    {% if viewer_role == "admin" %}
      <li>
        <span>{{ _("Answers") }}</span>
        <span>{{ form.get_total_answers() }}</span>
      </li>
      <li>
        <span>{{ _("Last answer") }}</span>
        <span>{{ form.get_last_answer_date() }}</span>
      </li>
    {% endif %}
    {% if viewer_role == "editor" %}
      <li>
        <span>{{ _("Public URL in a QR") }}</span>
        <span><a class="ds-link-contain-icon" href="{{url_for('form_bp.form_qr', form_id=form.id)}}">{{ _("Download") }} <i data-feather="chevron-right" aria-hidden="true"></i></a></span>
      </li>
      {% endif %}
      {% if is_form_editor and current_user.fedi_auth %}
      <li>
        <span>{{ _("Social media") }}</span>
        {% set fedi_cnt = ngettext("Published once",
                    "Published %(number)s times",
                    form.published_cnt,
                    number=form.published_cnt) %}
        <a class="ds-link-contain-icon" href="{{url_for('form_bp.fedi_publish', form_id=form.id)}}">{{ fedi_cnt }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
      </li>
    {% endif %}
    </ul>
  </div>
</div>

{% if viewer_role == "editor" and can_be_published %}
<script>
lf_setup_toggle(
  "toggle_public",
  "{{ url_for('form_bp.toggle_form_enabled', form_id=form.id) }}",
  "toggle_public",
  () => {
    $('#is_public_badge_ok').show();
    $('#is_public_badge_ko').hide();
    $("#formLink").attr("href", '{{ form.url }}')
  },
  () => {
    $('#is_public_badge_ok').hide();
    $('#is_public_badge_ko').show();
    $("#formLink").removeAttr("href")
  }
);
</script>
{% endif %}
