{% extends "base-backend.html" %}
{% block content %}

<!-- answer_history_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

{% set original_answer = editions[-1:][0] %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 d-flex align-items-center justify-content-between">
      <h2>{{ _("Answer edition history") }}</h2>
      <a href="{{url_for('form_bp.list_log', form_id=form.id)}}" class="btn btn-sm btn-primary">{{ _("View log") }}</a>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("See the changes made to the answer") }}.
      </p>
    </div>
  </div>

  {% set e2ee_status = form.encrypted_form_data() %}
  <div class="ds-wrapper-white mt-3">
    <div vue-component="answers-diff-renderer"
    {% if form.is_e2ee %}
          data-is_e2ee="true"
          data-e2ee_form_key_id="{{ form.id }}@form.keys.{{ config['SERVER_NAME'] }}"
          data-e2ee_editor_key_id="{{ current_user.id }}@editor.keys.{{ config['SERVER_NAME'] }}"
          data-e2ee_status='{{ e2ee_status | tojson }}'
          data-e2ee_public_key_on_server='{{ current_user.e2ee_public_key | tojson }}'
    {% endif %}
         data-endpoint="{{ data_endpoint }}"
         data-ui_language="{{ g.language }}"
         data-selected_edition_id={{selected_edition_id}}>
    </div>
  </div>

<script src="{{config['DATA_DISPLAY_BASE_URL']}}/answers-diff-renderer.js"></script>

<script>
const inline_help_file_name = "form_answer_editions.j2.md";
</script>

{% if form.is_e2ee %}
{# Form editors CAN edit encrypted answers. #}

{% include 'form/partials/e2ee-form-keys.js.html' %}
<script>

const formKeyId = LF_E2EE.keyStorage.genKeyUserId('form', {{form.id}})
const editorKeyId = LF_E2EE.keyStorage.genKeyUserId('editor', {{current_user.id}})

$(async function() {

  // Trigger a form restore from remote backup if necessary
  if (!LF_E2EE.keyStorage.readLocked(formKeyId))
    await restoreFormKeyBackup();

  // Care, we use jQuery's delegated event listeners.
  // This means that matching elements under the items-renderer, will still
  // be affected by this event listener.
  $('#diffed-answers').on(
    'click', 'a',
    function(e)
    {
      const url = e.target.href;
      if (!url) return false;
      // Start async open/download + decryption
      fetchAndDecryptFile(formKeyId, editorKeyId, url).then(async (binaryFile) =>
      {
        const blobUrl = URL.createObjectURL(binaryFile);
        window.open(blobUrl);
      })
      // Prevent default handling (encrypted attachment)
      return false;
    });
})
</script>
{% endif %}

{% endblock %}
