{% extends "base-backend.html" %}
{% block content %}

<!-- list_answers_page -->

{% with active_item="answers" %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="mt-3 g-col-12 d-flex grid align-items-center justify-content-between">
  <div>{{ _("The answers submitted to this form.") }}</div>
  <div class="text-end">
  {% if form.users.count() > 1 %}
    <span class="badge rounded-pill bg-success">{{ _("Shared") }}</span>
  {% endif %}
{% if config['E2EE_MODE'].e2ee_enabled %}
  {% if form.is_e2ee_enabled() %}
    <span class="badge rounded-pill bg-success">{{ _("Encrypted") }}</span>
  {% elif config['E2EE_MODE'].default_form_value %}
    <span class="badge rounded-pill bg-secondary">{{ _("Not encrypted") }}</span>
  {% endif %}
{% endif %}
  </div>
</div>

{% set form_has_map = form.has_map_field() %}
<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
       data-endpoint="{{ url_for('data_display_bp.form_answers', form_id=form.id) }}"
{% if form.is_e2ee %}
       data-is_e2ee="true"
       data-e2ee_form_key_id="{{ form.id }}@form.keys.{{ config['SERVER_NAME'] }}"
       data-e2ee_editor_key_id="{{ current_user.id }}@editor.keys.{{ config['SERVER_NAME'] }}"
       data-e2ee_status='{{ form.encrypted_form_data() | tojson }}'
       data-e2ee_public_key_on_server='{{ current_user.e2ee_public_key | tojson }}'
{% endif %}
       data-ui_language="{{ g.language }}"
       data-display_as="{{ display_as }}"
       data-csrf_token="{{ csrf_token() }}" >
  </div>
  <div vue-component="items-renderer"></div>
  <div vue-component="graph-renderer"></div>
  <div vue-component="pdf-builder"></div>
{% if form_has_map %}
  <div vue-component="map-renderer"></div>
{% endif %}

</div>

<script>
const inline_help_file_name = "form_answers.j2.md";
</script>
{% if form.is_e2ee %}
{% include 'form/partials/e2ee-form-keys.js.html' %}
<script>

const dataDisplayDiv = $('div[vue-component="data-display"]');
$(async function() {

  const formKeyId = LF_E2EE.keyStorage.genKeyUserId('form', {{form.id}})
  const editorKeyId = LF_E2EE.keyStorage.genKeyUserId('editor', {{current_user.id}})

  // Trigger a form restore from remote backup if necessary
  if (!LF_E2EE.keyStorage.readLocked(formKeyId)) {
    await restoreFormKeyBackup();
  }

  // Care, we use jQuery's delegated event listeners.
  // This means that matching elements under the items-renderer, will still
  // be affected by this event listener.
  $('div[vue-component="items-renderer"]').on(
    "click", ".e2ee-attachment a",
    function(e)
    {
      const url = e.target.href;
      if (!url) return false;
      // Start async open/download + decryption
      fetchAndDecryptFile(formKeyId, editorKeyId, url).then(async (binaryFile) =>
      {
        const blobUrl = URL.createObjectURL(binaryFile);
        window.open(blobUrl);
      })
      // Prevent default handling (encrypted attachment)
      return false;
    });
})
</script>
{% endif %}


<script src="{{config['DATA_DISPLAY_BASE_URL']}}/data-display.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/items-renderer.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/graph-renderer.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/pdf-builder.js"></script>
{% if form_has_map %}
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/map-renderer.js"></script>
{% endif %}

{% endblock %}
