
<!-- form_permissions -->

<div class="card">
  <div class="card-header">
    <h2>{{ _("Group permissions") }}</h2>
  </div>
  <div class="card-body">
    <ul class="ds-list-group">
      <li>
        {% set form_editors = FormUser.find_all(form_id=form.id, is_editor=True) %}
        {% set editors_cnt = form_editors.count() %}
        {% set invites_cnt = Invite.find_all(granted_form=form.id, granted_role='editor').count() %}
        <span>
          {{ _("Editors") }}
        {% if invites_cnt > 0 %}
          <span class="fw-bold">
            {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
          </span>
        {% endif %}
        </span>
        <span>
          {% for form_user in form_editors %}
            <a href="{{url_for('admin_bp.inspect_user', user_id=form_user.user.id)}}" title="{{form_user.user.username}}"><span class="ds-avatar ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span></a>
          {% endfor %}
        </span>
      </li>
      <li>
        {% set form_readers = FormUser.find_all(form_id=form.id, is_editor=False) %}
        {% set readers_cnt = form_readers.count() %}
        {% set invites_cnt = Invite.find_all(granted_form=form.id, granted_role='reader').count() %}
        <span>
          {{ _("Answers only") }}
        {% if invites_cnt > 0 %}
          <span class="fw-bold">
            {{ ngettext("One pending invitation", "%(number)s pending invitations", invites_cnt, number=invites_cnt) }}
          </span>
        {% endif %}
        </span>
        <span>
          {% if readers_cnt > 0 %}
            {% for form_user in form_readers %}
            <a href="{{url_for('admin_bp.inspect_user', user_id=form_user.user.id)}}" title="{{form_user.user.username}}"><span class="ds-avatar ds-avatar-sm"><img src="{{form_user.user.get_avatar_src()}}" alt="" class="rounded-circle" /></span></a>
            {% endfor %}
          {% else %}
            {# i18n: "Shared" refers to shared answers #}
            {{ _("Not shared") }}
          {% endif %}
        </span>
      </li>
      <li>
        <span>{{ _("Restricted access") }}</span>
        <span>{% if form.restrictedAccess %}{{ _("True") }}{% else %}{{ _("False") }}{% endif %}</span>
      </li>
    </ul>
  </div>
</div>
