

<div class="card">
  <div class="card-header">
    <h2>
      {{ _("Statistics") }}
      <a href="javascript:void(0)" onclick="javascript:changeYear(-1)"><i data-feather="chevron-left" width="16" height="16" stroke-width="3" aria-label="Previous year"></i></a>
      <span id="stats_year_end">{{stats['year_end']}}</span>
      <a href="javascript:void(0)" onclick="javascript:changeYear(+1)"><i data-feather="chevron-right" width="16" height="16" stroke-width="3" aria-label="Next year"></i></a>
    </h2>
  </div>
  <div class="card-body ds-card-body-with-chart ds-small-graph-height">
    <canvas id="user_stats_chart"></canvas>
  </div>
</div>

<script>

var data_cache = { 0: {{stats|tojson}} }
var legend_status = [0, 1]
var current_year = 0;

function getDataSets(stats) {
  return [
      {
          label: ["{{ _('Answers')}}"],
          data: stats.answers,
          hidden: !legend_status.includes(0),
          backgroundColor: "rgba(182, 0, 181, 0.7)",
      },
      {
          label: ["{{ _('Total answers')}}"],
          data: stats.total_answers,
          hidden: !legend_status.includes(1),
          backgroundColor: "rgba(0, 190, 0, 0.7)",
      },
      {
          label: ["{{ _('New forms')}}"],
          data: stats.forms,
          hidden: !legend_status.includes(2),
          backgroundColor: "rgba(233, 132, 0, 0.7)",
      },
      {
          label: ["{{ _('Total forms')}}"],
          data: stats.total_forms,
          hidden: !legend_status.includes(3),
          backgroundColor: "rgba(255, 228, 0, 0.7)",
      },
  ]
}

const usage_chart = new Chart(document.getElementById('user_stats_chart'), {
    type: 'bar',
    data: {
        labels: {{ stats['labels']|tojson }},
        beginAtZero: true,
        datasets: getDataSets({{ stats|tojson }}),
    },
    options: {
      animation: false,
      responsive: true,
      maintainAspectRatio: false,
      scales: {
          y: {
            beginAtZero: true,
            ticks: { precision: 0 }
          }
      },
      plugins: {
        legend: {
          onHover: function (e) {
            e.native.target.style.cursor = 'pointer';
          },
          onLeave: function (e) {
            e.native.target.style.cursor = 'default';
          },
          onClick: function (e, legend_item) {
            if (legend_status.includes(legend_item.datasetIndex)) {
              let pos = legend_status.indexOf(legend_item.datasetIndex);
              legend_status.splice(pos, 1);
            } else {
              legend_status.push(legend_item.datasetIndex)
            }
            Chart.defaults.plugins.legend.onClick.call(null, null, legend_item, e);
          },
          labels: {
            boxWidth: 10,
            usePointStyle: true,
            pointStyle: "rectRounded",
          }
        }
      }
    },
});
function updateChart() {
  data = data_cache[current_year]
  $("#stats_year_end").html(data.year_end)
  usage_chart.data.labels = data.labels;
  usage_chart.data.datasets = getDataSets(data);
  usage_chart.update();
}
function changeYear(increment) {
  current_year = current_year + increment
  if (current_year > 0) {
    current_year = 0
    return
  }
  if (data_cache[current_year] !== undefined) {
    updateChart()
    return
  }
  $.ajax({
    url : "{{url_for('admin_bp.get_user_usage_graph_data', user_id=user.id)}}"+"?year-offset="+current_year,
    type: "GET",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      data_cache[current_year] = data.chart_data
      updateChart()
    }
  });

}
</script>
