{% extends "base-page.html" %}
{% block content %}
<!--
This file is part of LiberaForms.

# SPDX-FileCopyrightText: 2024 LiberaForms.org
# SPDX-License-Identifier: AGPL-3.0-or-later
-->

<!-- answers_map_page -->

<script src="{{ url_for('static', filename='vendor/leaflet/leaflet.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/leaflet/leaflet.css') }}">

<div id="map" style="height: 100vh;"></div>

<script>

  // get map data, wait until downloaded, then load map
  (async () => {
    let response = await fetch(
      "{{endpoint}}",
      {
        headers: {
          'Content-Type': 'application/json;charset=utf-8'
        }
      }
    );
    const map_data = await response.json();
    loadMap(map_data)
  })();

  function loadMap(map_data) {

    // create map
    map = L.map('map').setView(map_data.meta.centerPoint.split(',').map(Number),
                               map_data.meta.zoom);

    // add tiles to map
    L.tileLayer(map_data.meta.tiles, {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // iterate markers
    for (let marker_data of map_data.markers) {

      // validate coords
      if (!(marker_data.coords.length == 2 &&
            is_valid_coord(marker_data.coords[0]) &&
            is_valid_coord(marker_data.coords[1]))) {
        // coords are not valid
        continue
      }

      // create marker and add to map
      let marker = L.marker(marker_data.coords).addTo(map);

      // populate popup
      var popup = ""
      marker_data.popup.forEach(function(popup_field) {
        popup = popup + `<strong>${popup_field.label}</strong>: ${popup_field.value}`
        popup = popup + "</br>"
      })

      // bind popup to marker
      marker.bindPopup(popup)
    }
  }

  function is_valid_coord(value) {
    function isFloat(n) {
      if (typeof n !== 'number') {
          return false;
      }
      return Number(n) === n && n % 1 !== 0;
    }
    value = value.trim()
    if (value !== "") {
      let n = Number(value)
      if ( Number.isInteger(n) || isFloat(n) ) {
        return true
      }
    }
    return false
  }
</script>

{% endblock %}
