

{% set edit_mode_forms = current_user.get_edit_mode_forms() %}

<div id="user-alerts" aa="ss" class="dropdown ds-item" style="display:none">
  <a class="btn ds-color-primary-level" href="#" role="button" id="dropdownAlerts" data-bs-toggle="dropdown" aria-expanded="false">
    <svg xmlns="http://www.w3.org/2000/svg" class="alert-spinner" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle ds-show-alerts">
        <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="12"></line><line x1="12" y1="16" x2="12.01" y2="16"></line>
    </svg>
  </a>
  <ul id="alert-list" class="dropdown-menu" aria-labelledby="dropdownAlerts" role="navigation">
    {#
    {% for alert in current_user.alerts %}
      {% if alert!='disk_usage' %}
      <li>
        <a href="{{ current_user.alerts[alert]['link'] }}" class="dropdown-item">{{ current_user.alerts[alert]['label'] }}</a>
      </li>
      {% endif %}
    {% endfor %}
    #}
    {% if current_user.is_admin() %}
      {% for alert in g.site.alerts.values() %}
      <li>
        <a href="{{ alert['link'] }}" class="dropdown-item"><span class="badge text-bg-warning">{{ _("Installation") }}</span> {{ alert['label'] }}</a>
      </li>
      {% endfor %}
    {% endif %}
    {% for edit_mode_form in edit_mode_forms %}
      {% if not (cancel_edit_mode_alert and cancel_edit_mode_alert == edit_mode_form.id) %}
      <li form-id="{{edit_mode_form.id}}">
        <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#edit-mode-modal-{{edit_mode_form.id}}">
          <span class="badge text-bg-warning">{{ _("Edit mode") }}</span> {{edit_mode_form.edit_mode['label'] }}
        </a>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<script>
$(function () {
  $("#user-alerts").click(function(){ $(this).find('svg').removeClass("alert-spinner") });

  {% if 'disk_usage' in current_user.alerts %}
    _loadDiskAlert()
  {% endif %}
  {% for edit_mode_form in edit_mode_forms %}
    {% if not (cancel_edit_mode_alert and cancel_edit_mode_alert == edit_mode_form.id) %}
    var modal = loadFormAlertModal("{{url_for('user_bp.edit_mode_modal', form_id=edit_mode_form.id)}}")
    $("#main-content").append($(modal))
    {% endif %}
  {% endfor %}
  if ($("#alert-list").find("li").length > 0) {
    $("#user-alerts").show()
  }
})
function _loadDiskAlert() {
  $.ajax({
    url : "{{url_for('user_bp.disk_full_modal')}}",
    type: "GET",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      $("#disk-alert-modal").remove()
      $("#main-content").append(data.modal_html)
    }
  });
  if ($("#disk-usage-alert-item").length == 0) {
    $("#alert-list").append(`
      <li id="disk-usage-alert-item">
        <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#disk-alert-modal">
          <span class="badge bg-danger">{{ _("Important") }}</span>
          {{ _('Storage full') }}
        </a>
      </li>`)
  }
  $("#user-alerts").show()
}
function addDiskUsageAlert() {
  _loadDiskAlert()
}
function removeDiskUsageAlert() {
  $("#disk-usage-alert-item").remove()
  if ($("#alert-list").find("li").length == 0) {
    $("#user-alerts").hide()
  }
  $("#disk-alert-modal").remove()
}
function loadFormAlertModal(endpoint) {
  $.ajax({
    url : endpoint,
    type: "GET",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      $("#main-content").append(data.modal_html)
    }
  });
}
</script>
