

{% set media_usage = current_user.media_usage(human_readable=True) %}
{% set attachments_usage = current_user.attachments_usage(human_readable=True) %}
{% set total_usage = current_user.total_uploads_usage(human_readable=True) %}

<div class="modal fade" id="disk-alert-modal" tabindex="-1" aria-labelledby="disk-alert-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disk-alert-modal-label">{{ _("File storage") }}</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <p class="mt-1"><strong>{{ _("You have exceeded your %(storage_limit)s storage limit.", storage_limit=current_user.get_uploads_limit(human_readable=True)) }}</strong></p>
        <ul class="ds-list-group">
          <li>
            <span>{{ _("Media files") }}</span>
            <span>{{ media_usage }}</span>
          </li>
          <li>
            <span>{{ _("Form attachments") }}</span>
            <span>{{ attachments_usage }}</span>
          </li>
          <li>
            <span>{{ _("Total") }}</span>
            <span>{{ total_usage }}</span>
          </li>
        </ul>
        <p class="mt-3"><strong>{{ _("What does this mean?") }}</strong></p>
        <ul>
          <li>{{ _("You cannot upload more media files") }}</li>
          <li>{{ _("New forms cannot solicit attachments") }}</li>
          <li>{{ _("Published forms will continue to accept attachments") }}</li>
        </ul>
        <p class="mt-3"><strong>{{ _("What can I do?") }}</strong></p>
        <ul>
          <li>{{ _("Delete unused media files") }}</li>
          <li>{{ _("Delete old form attachments") }}</li>
          <li>{{ _("Request more disk space from your site administrator") }}</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Close") }}</button>
      </div>
    </div>
  </div>
</div>
