
<!-- edit_mode_alert_modal -->

<div id="edit-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit-alert-modal-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edit-alert-modal-label">
          <span class="badge text-bg-warning">{{ _("Edit mode") }}</span>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="{{ _('Cancel') }}">
          <i data-feather="x" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ _("This form will not be publicly available until you have finished editing") }}</p>
        <p>{{ _("Users will see this friendly message") }}</p>
        <div class="mb-2 p-2 text-bg-light">{{ _("We're sorry, this form is temporarily unavailable.") }}<br />{{ _("Please try again soon.") }}</div>
      </div>
      <div class="modal-footer justify-content-between">
        <div>
          <input id="set_alert" type="checkbox" onclick="set_alert(this)" />
          <label for="set_alert">{{ _("Dont show me this message again") }}</label>
        </div>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{{ _("I understand") }}</button>
      </div>
    </div>
  </div>
</div>

<script>
function set_alert(el) {
  $.ajax({
      url : "{{url_for('user_bp.toggle_edit_mode_reminder')}}",
      type: "POST",
      dataType: "json",
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
          //console.log(data.default)
      }
  });

}
</script>
