/*
 * Classes
 *
 */

// Margin top always main wrapper
.ds-main-wrapper {
  margin-top: calc($spacer * 5);
}

.ds-error-center {
  display: grid;
  min-height: 70vh;
  place-items: center;
  padding: 0 2em;
}

.ds-nav-site-name {
  font-size: 1.2em;
  padding-left: 0.8em;
}

.ds-link-to-panel {
  font-size: 1em !important;
}

.marked-up h1, h2 {
  margin: 1em 0;
}

.marked-up img {
  max-width: 100%;
}

.ds-max-width-md {
  max-width: 768px;
  min-height: 70vh;
  margin-left: auto;
  margin-right: auto;
  h1 {
    text-align: center;
    margin-bottom: calc($spacer * 2);
    margin-top: $spacer;
  }
}

.ds-page-text {
  margin-top: 3em;
  padding-left: 1em;
  padding-right: 1em;
  img {
    max-width: 100%;
    height: auto;
  }
}

// ≥992px
// @include media-breakpoint-up(lg) {

// }

// ≥1200px
@include media-breakpoint-up(xl) {
  #main-content {
    min-height: calc(100vh - 12rem);
  }
}
