{% extends "base-backend.html" %}
{% block content %}

<!-- unvalidated_user_page -->


<div class="modal" id="validate_email_modal" tabindex="-1" role="dialog" data-bs-backdrop="false" aria-labelledby=validate_email_modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="validate_email_modalLabel">{{ _("One last thing...") }}</h5>
      </div>
      <div class="modal-body">
        <p class="">{{ _("We sent you an email with a link to validate your email address.") }}</p>
        <p class="my-4">{{ _("Please check your inbox and spam.") }}</p>

        <form name="emailForm" action="{{url_for('user_bp.validate_to_continue')}}" autocomplete="off" method="POST">
          {{ wtform.csrf_token }}
          <div class="form-group">
            <label class="form-label">{{ _("We can send it again if you wish.") }}</label>
            <div class="input-group">
              {{ wtform.email(class_="form-control") }}
              <input type="submit" class="btn btn-sm btn-outline-primary" value="{{ _('Send again') }}" />
            </div>
            {% for error in wtform.email.errors %}
              <span class="wtf-error ds-error-message">{{ error }}</span>
            {% endfor %}
          </div>
        </form>

        <div class="mt-4">
          <p>{{ g.site.get_other_information()|safe }}</p>
          {% set index_link = '<a href="'+g.site.host_url+'">'+g.site.name+'</a>' %}
          <p class="mb-0"><small>{{ index_link|safe }}</small></p>
        </div>
      </div>
      <div class="modal-footer">
        <span class="me-auto">
          <p class="mb-0"><small>{{ delete_account_link|safe }}</small></p>
        </span>
      </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){
  $('#validate_email_modal').modal('show');
});
$("#validate_email_modal").on('hide.bs.modal', function() {
  $('#validate_email_modal').modal('show');
});
$('form[name=emailForm]').parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})
</script>

{% endblock %}
