// Custom Variables


// Color system
$gray-500:           #808080;
$gray-100:           lighten($gray-500, 45%); //$light
$gray-200:           lighten($gray-500, 40%);
$gray-300:           lighten($gray-500, 25%);
$gray-400:           lighten($gray-500, 15%);
$gray-600:           darken($gray-500, 15%); //$secondary
$gray-700:           darken($gray-500, 25%);
$gray-800:           darken($gray-500, 35%);
$gray-900:           darken($gray-500, 45%); //$dark

$blue:               #0B43DC;
// $indigo:          #6610f2;
// $purple:          #6f42c1;
// $pink:            #d63384;
$red:                #df2103; //$danger
// $orange:          #fd7e14;
$yellow:             #F5AF00; //$warning
$green:              #1BB476; //$success
// $teal:            #20c997;
$cyan:               #247FBC; //$info

// $yellow:             #FED040; //$warning
// $cyan:               #AEA2F0; //$info

$colors: (
    "gray":           $gray-500,
);

// Options
$enable-rounded:      false;
// $enable-shadows:      true;
$enable-grid-classes: false;
$enable-cssgrid:      true;
//$enable-negative-margins: true;

// Prefix for :root CSS variables
$prefix:              lf-;

// Body
$body-bg:             $gray-200;

// Typography
$font-family-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: lighter;
