


{% set site_link = '<a href="'+config["BASE_URL"]+'" target="_blank" rel="noopener noreferrer">'+g.site.hostname+'</a>' %}
<p class="mb-0 text-center footer"><small>{{ _("Made with LiberaForms at %(link)s", link=site_link|safe) }}</small></p>
{% if form.is_e2ee_enabled() %}
{# i18n: This form is encrypted with OpenPGP.js #}
<p class="mb-0 text-center footer"><small>{{ _("Encrypted with OpenPGP.js") }}</small></p>
{% endif %}
