
<style>
@media only screen and (min-width: 576px) {
  body {
    {% if not g.embedded and form.style.background_color %}
    background-color: {{form.style.background_color}};
    {% elif g.embedded %}
    background-color: var(--lf-color-white);
    {% else %}
    background-color: var(--lf-body-bg);
    {% endif %}
  }
}
{% if form.style.colors %}
.ds-page {
  background: {{ form.style.colors.background }};
  color: {{ form.style.colors.foreground }} !important;
}
.ds-marked-up > blockquote {
  border-left-color: {{ form.style.colors.foreground }};
}
{% endif %}
</style>

<!-- thank_you_page -->

<div class="grid">
  <div class="g-col-12 g-col-sm-10 g-start-sm-2 g-col-md-8 g-start-md-3 g-col-lg-6 g-start-lg-4 g-col-xxl-4 g-start-xxl-5">
    <div class="my-sm-4 ds-page">
      <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 24 24" fill="none" stroke="var(--lf-success)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle">
        <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
        <polyline points="22 4 12 14.01 9 11.01"></polyline>
      </svg>
      <div class="ds-marked-up">
        {{ after_submit_text | safe }}
        {% if edition_link %}
        <div class="ds-edit-form-link mt-4 py-3 text-center">
          {{ edition_link | safe }}
        </div>
        {% endif %}
      </div>
      <div class="pt-5 {% if form.is_e2ee %}pb-4{%else%}pb-5{%endif%} align-bottom">
      {% include 'partials/footer.html' %}
      </div>
    </div>
  </div>
</div>

<script>
  {% include 'partials/page-size.js' %}
</script>
