

<!-- change_field_name_warning_modal -->

<script>
  const LF_delete_field_event = new CustomEvent("LF_deleted_field");
</script>

<div class="modal fade" id="delete-warning-modal" tabindex="-1" aria-labelledby="delete-warning-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-warning-modal-label">
          {{ _("Delete") }}
        </h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <p>
        {{ _("Are you sure you want to delete this field?") }}
        </p>
      {% if form.answers.count() %}
        <p class="modal-answer-info">
          {{ ngettext("This form has already been answered once.",
                      "This form has already been answered %(number)s times.",
                      total_form_answers,
                      number=total_form_answers) }}
        </p>
        <p class="modal-answer-info">
        {{ _("Previous answers will not be deleted.") }}
        </p>
      {% endif %}
        <div class="text-end">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="{{ _('Cancel') }}" >
            {{ _("Cancel") }}
          </button>
          <button type="button" class="btn btn-danger" aria-label="{{ _('Delete') }}"
                  onclick="js:document.dispatchEvent(LF_delete_field_event);" >
            {{ _("Delete") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
