

<!-- change_field_name_warning_modal -->

<div class="modal fade" id="edition-warning-modal" tabindex="-1" aria-labelledby="edition-warning-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="edition-warning-modal-label">
          {{ _("Warning") }}
        </h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ ngettext("This form has already been answered once.",
                      "This form has already been answered %(number)s times.",
                      total_form_answers,
                      number=total_form_answers) }}
        </p>
        <p>
        {{ _("Name changes you make here will be applied to both new and existing answers.") }}
        </p>
      </div>
    </div>
  </div>
</div>
