

<!-- publish_map_warning_modal -->

<div id="public-map-warning-modal" class="modal fade" tabindex="-1" aria-labelledby="public-map-warning-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="public-map-warning-modal-label">
          {{ _("User privacy") }}
        </h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x" aria-hidden="true"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>
      <div class="modal-body">
        <p>
          {{ _("Do you have permission from your users to publish their data?") }}
        </p>
        <div id="publish_permission">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="permissionGranted" id="permissionGranted" value="yes">
            <label class="form-check-label" for="permissionGranted">
              {{ _("Yes, the form has a Privacy statement") }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="permissionGranted" id="permissionNotGranted" value="no">
            <label class="form-check-label" for="permissionNotGranted">
              {{ _("No, I don't") }}
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
