/*
 * Classes
 *
 */

// Body
body {
  margin-top: 0;
  background-color: var(--lf-body-bg);
}

/*
 * A LiberaForm
*/
.ds-form-header-image {
  min-width: 100%;
  height: auto;
}
.ds-liberaform {
  background-color: var(--lf-color-white);
  padding: $spacer;
  .marked-up {
    margin-bottom: calc($spacer * 2);
  }
}
// Contains the list of policy statements displayed at the foot of a form
.ds-consent-container {
  border-top: 1px dotted;
  margin-top: 1.2em;
  padding-top: calc($spacer * 1.5);
}
.confirmation-group {
  border-top: 1px dotted;
  padding-top: calc($spacer * 1.5);
}

// file upload progress bar
.ds-file-upload-progress {
  height: 0.2em;
  margin-bottom: -0.2em;
  div.progress-bar {
    background-color: var(--lf-gray-200);
  }
}

/*
 * Preview
*/
// Header section title with content
.ds-header-title-with-button {
  background-color: var(--lf-body-bg);
  border-bottom: var(--lf-border-width) solid var(--lf-gray-400);
  padding: $spacer;
  h1 {
    color: var(--lf-gray-500);
    font-size: $font-size-lg;
    font-weight: $font-weight-lighter;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0;
  }
  nav {
    font-size: var(--lf-small-font-size);
  }
  > div:nth-child(2) {
    justify-self: flex-end;
  }
}
.ds-liberaform-preview {
  padding-top: 1.28rem;
}
.ds-font-color-combination {
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-left-width: 18px;
}

/*
 * Auxiliary form pages
 *
 */
.ds-page {
  background-color: var(--lf-color-white);
  padding: 0 calc($spacer);
  padding-top: calc($spacer * 2.25);
  svg:first-of-type {
    display: block;
    margin: auto;
  }
  .ds-marked-up {
    padding-top: calc($spacer * 1.25);
    img {
      width: 100%;
      height: auto;
    }
    h1 {
      text-align: center;
      margin-bottom: calc($spacer * 1.5);
    }
  }
}
.ds-edit-form-link {
  border-top: 1px dotted;
  border-bottom: 1px dotted;
}

.footer {
  color: var(--lf-gray-700) !important;
}

@include media-breakpoint-down(sm) {
  body {
    background-color: var(--lf-color-white);
  }
}
// ≥576px
@include media-breakpoint-up(sm) {
  .ds-liberaform {
    margin-bottom: 1.5em;
  }
  .ds-liberaform-preview {
    padding-top: 0;
  }
}

// ≥992px
@include media-breakpoint-up(lg) {

}

// ≥1200px
//@include media-breakpoint-up(xl) {
//  #main-content {
//    min-height: calc(100vh - 12rem);
//  }
//}
