{% extends "base-frontend.html" %}

{% block content %}

<!-- public_form_page: {{ identifier }} -->


{% set form_has_file_field = form.has_file_field() %}
{% set form_has_map_field = form.get_map_fields() %}

{% if g.embedded %}
  <style>
  body {
    background-color: var(--lf-color-white) !important;
  }
  </style>
  {% include 'partials/view-form.html' %}
{% else %}
  <div class="grid mt-sm-4">
    <div class="g-col-12 g-col-sm-10 g-start-sm-2 g-col-md-8 g-start-md-3 g-col-lg-6 g-start-lg-4 g-col-xxl-4 g-start-xxl-5">
      {% include 'partials/view-form.html' %}
    </div>
  </div>
{% endif %}

{% if form.is_e2ee %}
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-answers.js"></script>
<script>
const e2ee_form_public_key = "{{ form.e2ee_public_key.get('public_key', '') if form.e2ee_public_key else '' }}";
const is_e2ee_form = true;
</script>
{% else %}
<script>
const e2ee_form_public_key = "";
const is_e2ee_form = false;
</script>
{% endif %}

<script>
const grouped_checkboxes = {}
function groupCheckboxes(key, value) {
  // server expects {key: "value, value, .."}
  if (grouped_checkboxes[key] === undefined)
    grouped_checkboxes[key] = [value]
  else if (!grouped_checkboxes[key].includes(value)) {
    grouped_checkboxes[key].push(value)
  }
}
const consent_values = {}
$(function () {
  // data-display expects value to be true or false, not empty or missing
  $("#liberaform").find('input[type=checkbox]').each(function() {
    if ($(this).prop('name').startsWith('consent-')) {
      consent_values[$(this).prop('name')] = false
    }
  });
});
function processFormData(form) {
  // We perform a manual form configuration
  const formData = new FormData();
  const answerData = {};
  const non_answer_data = ["csrf_token", "identifier", "send-confirmation"]
  for (const [key, value] of new FormData(form))
  {
    //console.log('key, value',key, value)
    // Copy non-answer data to formData
    if (non_answer_data.indexOf(key) >= 0)
    {
      formData.append(key, value);
      continue
    }
    if (key.startsWith("file-"))  // files have already been uploaded
      continue
    // The rest we add to jsonData
    if (key.startsWith("checkbox-group")) {
      groupCheckboxes(key, value)
      continue
    }
    if (key.startsWith("consent-")) {
      consent_values[key] = true
      continue
    }
    answerData[key] = value.trim();
  }
  // append grouped checkboxes
  for (let [key, value] of Object.entries(grouped_checkboxes)) {
    answerData[key] = value.join(', ')
  }
  // append consents
  for (let [key, value] of Object.entries(consent_values)) {
    answerData[key] = value
  }
  {% if form_has_file_field -%}
  formData.append("uploaded-file-fields", JSON.stringify(uploadedFields))
  {% endif -%}
  //console.log('answerData',answerData)
  //console.log('formData',formData)
  return [formData, answerData]
}
async function getEncryptedFormData(form)
{
  const [formData, answerData] = processFormData(form);
  // cipher
  const pubKey = await LF_E2EE.keys.getPublic(e2ee_form_public_key);
  const cipheredData = await pubKey.encrypt(JSON.stringify(answerData));
  // And we finally add the ciphered answer
  formData.append("e2ee-answer", cipheredData);
  return formData;
}
function getPlainFormData(form)
{
  const [formData, answerData] = processFormData(form);
  formData.append("plain-answer", JSON.stringify(answerData));
  return formData;
}

async function getFormData(form)
{
  if (is_e2ee_form)
    return await getEncryptedFormData(form)
  return getPlainFormData(form)
}

var uploadedFields = []  // a list of successfully uploaded file fields

$(function () {
  let $form = $("form[id=form]")
  let $submitButton = $form.find("button[name=submit]")

  async function formsubmit(e) {
    $form.parsley().validate()
    if (!$form.parsley().isValid()) {
      return
    }
    // Get prepared form data, encrypted if necessary
    const formData = await getFormData($form[0]);
    $.ajax({
      url: "{{ submit_url }}",
      data: formData,
      processData: false,
      contentType: false,
      cache: false,
      type: 'POST',
      beforeSend: function(xhr, settings) {
        $submitButton.prop("disabled", true)
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(response) {
        if (response.thankyou) {
          $("#main-content").html(response.thankyou)
          window.scrollTo({ top: 0, left: 0, behavior: 'instant' })
        }
      },
      error: function(xhr) { // Handle error
        //console.error('Submit error', xhr.status);
        let responseText = xhr.responseText
        if (responseText.includes("<!-- csrf_error_page -->")) {
          $("#main-content").html(responseText)
          window.scrollTo({ top: 0, left: 0, behavior: 'instant' })
        }
        // do something...
        $submitButton.prop("disabled", false)
      },
      complete: function() {

      }
    })
  }
  $submitButton.on('keypress click', function(e) {
    formsubmit(e)
  })
})
</script>

{% endblock %}
