/*
 * HTML
 *
 */

// Custom CSS variables
:root {
  --lf-body-text-align: initial;
  --lf-color-white: #FFFFFF;
  --lf-magic-number: 1rem;
  --lf-small-font-size: .875rem;
}

button {
  all: unset;
  cursor: pointer;
}