{% extends "base-backend.html" %}
{% block content %}

<!-- delete_form_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>{{ _("Delete form") }}</h2>
    </div>
  </div>

  <div class="grid mt-1">
    <div class="g-col-12">
      <p class="alert alert-danger ds-alert mb-0">
        {{ ngettext("You are going to delete this form and its unique answer",
                     "You are going to delete this form and its %(number)s answers",
                     form.get_answers().count(), number=form.get_answers().count()) }}.
        {{ _("This cannot be undone!") }}
      </p>
    </div>
  </div>

  <div class="grid mt-4 ds-wrapper-white">
    <div class="g-col-12">
      <p>{{ _("To confirm, write '%(word)s' below", word=form.slug) }}:</p>
      <form name="deleteFrom" method="POST" autocomplete="off">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div>
          <label for="total-answers" class="visually-hidden">{{form.slug}}</label>
          <input type="text" name="slug" class="form-control" required data-parsley-check-slug="{{form.slug}}" />
        </div>
        <div class="mt-4">
          <input class="btn btn-danger" type="submit" value="{{ _('Delete form') }}">
        </div>
      </form>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_delete.j2.md";
/* Parsley */
$(function () {
  $('form[name=deleteFrom]').parsley()
  Parsley.addValidator('checkSlug', {
    messages: { {{g.language}}: "{{ _('The text does not match') }}"},
    requirementType: 'string',
    validate: function(_value, requirement, instance) {
      return _value == requirement ? true : false
    }
  });
});
</script>

{% endblock %}
