{% extends "base-backend.html" %}
{% block content %}

<!-- edit_form_page -->
<script src="{{ url_for('static', filename='vendor/formBuilder/form-builder.min.js') }}"></script>
<script>const leaflet_URL="{{ url_for('static', filename='vendor/leaflet', _external=True) }}"</script>
<script src="{{ url_for('static', filename='js/formBuilder/map-position/map_position_plugin.js') }}"></script>

{% set show_edit_mode_alert = current_user.preferences['show_edit_alert'] and
                              form.enabled and not
                              editing_preview %}

{% if show_edit_mode_alert %}
  {% include 'user/alerts/edit-mode-alert-modal.html' %}
{% endif %}

{% set total_form_answers = form.answers.count() %}
{% if total_form_answers %}
  {% include 'form/modals/edit-field-warning.html' %}
{% endif %}
{% include 'form/modals/delete-field-warning.html' %}


<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-6 ds-title">
    <h1>{{ form.name }}</h1>
  </div>
  <div class="g-col-6">
    {# three forms because I couldn't get them to be on the same line / uses "d-inline" #}
    <div class="form-controls">
      <form class="d-inline" action="{{url_for('form_bp.cancel_edition', form_id=form.id, killed=False|int)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <button type="submit" class="form-cancel btn btn-sm btn-outline-primary">{{ _("Cancel") }}</button>
      </form>
      <form class="d-inline" action="{{url_for('form_bp.preview_edition', form_id=form.id)}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="preview_structure" />
        <button type="button" class="form-preview btn btn-sm btn-outline-primary">{{ _("Preview changes") }}</button>
      </form>
      <form class="d-inline" action="{{url_for('form_bp.save_form', form_id=form.id)}}" method="POST" >
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" id="structure" name="structure" />
        <button type="button" class="form-save btn btn-sm btn-primary">{{ _("Save") }}</button>
      </form>
    </div>
  </div>
</div>

<div class="grid">
  <div class="g-col-12 mt-3">
    <p class="mb-0">
      {{ _("Add, remove and configure this form's fields.") }}
      <a href="#" data-bs-toggle="modal" onclick="toggleInlineHelp('form_edit.j2.md')">{{ _("Learn more") }}</a>
    </p>
  </div>
</div>

<div id="builder-container" class="grid mt-3">
  <div class="g-col-12 ds-wrapper-white">
    <div id="fb-editor" form-id="{{form.id}}"></div>
  </div>
</div>

<div class="grid">
  <div class="g-col-12 mt-3">
    <div id="duplicate_controls" class="g-col-12"></div>
  </div>
</div>

<script>
  const inline_help_file_name = "form_edit.j2.md";
  jQuery(function($) {

    // copy and add form contol buttons to the foot of the builder
    $("#duplicate_controls").append($(".form-controls").clone())
    $("#duplicate_controls").find("button").removeClass("btn-sm")

    {% if show_edit_mode_alert %}
      let edit_alert_modal = new bootstrap.Modal(document.getElementById("edit-alert-modal"))
      edit_alert_modal.show()
    {% endif %}

    var disabledAttrs = {{ config['FORMBUILDER_DISABLED_ATTRS'] | tojson }};
    var disabledSubtypes = {{ config['FORMBUILDER_DISABLED_SUBTYPES'] | tojson }};
    disabledAttrs.push("name");
    var disabledFields = {{ config['FORMBUILDER_DISABLED_FIELDS'] | tojson }}
    if ({{ current_user.can_upload() | tojson }} !== true) {
      disabledFields.push("file");
    }
    var formData = {{ form.structure | tojson }};
    //console.log(formData)
    let default_map_attrs = {{g.site.get_default_map_field_attrs()|tojson}}
    var options = {
      formData: formData,
      showActionButtons: false,
      disableFields: disabledFields,
      disabledAttrs: disabledAttrs,
      disabledSubtypes: disabledSubtypes,
      typeUserDisabledAttrs: {
        'textarea': [
          'subtype',  // hides subtype. We removed 'tinymce' and 'quill' in config.py
        ]
      },
      editOnAdd: true,
      stickyControls: {
        enable: true,
        offset: { top: 70, right: 20, left: 'auto' }
      },
      disableHTMLLabels: false,
      defaultMapAttrs: default_map_attrs,
      /* disableInjectedStyle: true, Form Builder remove styles */
      replaceFields: [
        {
          type: "checkbox-group",
          label: "{{ _('Multiple choice') }}",
          {# i18n: Placeholder for option name in Multiple choice fields#}
          values: [{ label: "{{ _('Option') }}", value: " " }],
        },
        {
          type: "radio-group",
          label: "{{ _('Single choice') }}",
          values: [
                    { label: "{{ _('Option 1') }}", value: " " },
                    { label: "{{ _('Option 2') }}", value: " " }
                  ],
        },
        {
          type: "select",
          label: "{{ _('Dropdown options') }}",
          values: [
                    { label: "{{ _('Option 1') }}", value: " " },
                    { label: "{{ _('Option 2') }}", value: " " }
                  ],
        },
        {
          type: "header",
          label: "{{ _('Section header') }}",
        },
        {
          type: "map",
          label: "{{ _('Map position') }}",
        },
      ],
      typeUserEvents: {
        file: {
          onadd: function (fld) {
            // hide unwanted fields
            $('.placeholder-wrap', fld).hide();
            $('.subtype-wrap', fld).hide();
          }
        },
        select: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        radio: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        date: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
            $('.value-wrap', fld).hide();
          }
        },
        number: {
          onadd: function (fld) {
            $('.placeholder-wrap', fld).hide();
          }
        },
        header: {
          onadd: function (fld) {
            $('.subtype-wrap', fld).hide();
          }
        },
        paragraph: {
          onadd: function (fld) {
            $('.subtype-wrap', fld).hide();
          }
        },
      },

      controlOrder: {{ config['FORMBUILDER_CONTROL_ORDER'] | tojson }},
      i18n: {
          locale: "{{ iso_lang_code }}",
          location: "/static/vendor/formBuilder/i18n",
      },
      layoutTemplates: {
        default: function(field, label, help, data) {
          if(help) {
            label=$("<span class='label-description'></span>");
            label.append(help.attributes.tooltip.textContent);
          } else {
            label=$("<span style='display:none'></span>");
          }
          return $('<div/>').append(label, field, help);
        }
      }
    };
    const formBuilder = $(document.getElementById("fb-editor")).formBuilder(options);

    formBuilder.promise.then(function(fb) {
      {% include 'js/builder/delete-field-warning.js' %}
    {% if total_form_answers -%}
      {% include 'js/builder/edit-field-warning.js' %}
    {% endif -%}
    });

    $(".form-controls").on("click", "button.form-save", function (event) {
      $('input[name=structure]').val(formBuilder.actions.getData('json', true));
      $(this).closest("form").submit();
    })
    $(".form-controls").on("click", "button.form-preview", function (event) {
      $('input[name=preview_structure]').val(formBuilder.actions.getData('json', true));
      $(this).closest("form").submit();
    })
  });

</script>

{% endblock %}
