{% extends "base-backend.html" %}
{% block content %}

<!-- form_expiration_page -->

<script src="{{ url_for('static', filename='vendor/easymde/easymde.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/easymde/easymde.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/font-awesome/font-awesome.min.css') }}">

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

{% include 'common/insert-image-modal.html' %}
{% include 'common/insert-link-modal.html' %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested ds-no-border">
    <div class="g-col-12 ds-title-with-icon-return">
        <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
        <h2>{{ _("Expiration conditions") }}</h2>
        <span id="expired_alert" class="badge rounded-pill bg-info" {% if not form.expired %}style="display:none"{% endif %}>{{ _("Expired") }}</span>
    </div>
  </div>

  <div class="grid mt-1">
    <div class="g-col-12">
      <div class="card">
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("Notify me when this form expires") }}</span>
              <div id="toggle_notification" class="btn-group btn-toggle">
                <button id="notification_true" class="btn btn-sm {% if form_user['notifications']['expiredForm'] %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                  {{ _("True") }}
                </button>
                <button id="notification_false" class="btn btn-sm {% if not form_user['notifications']['expiredForm'] %}btn-primary{% else %}btn-outline-secondary{% endif %}">
                  {{ _("False") }}
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h2>{{ _("Date and time when this form will expire") }}</h2>
          <div>
            <input id="save-date-button" class="btn btn-sm btn-outline-primary" type="button" onclick="setDate()" value="{{ _('Save') }}" />
          </div>
        </div>
        <div class="card-body">
          <form id="date-form" method="POST">
            <div class="grid">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
              <div class="g-col-6">
                <label for="date" class="form-label">{{ _("Date") }}</label>
                <input id="date" name="date" type="date" class="form-control" onchange="javascript:dateSet(event);">
              </div>
              <div class="g-col-6">
                <label for="time" class="form-label">{{ _("Time") }}</label>
                <input id="time" name="time" type="time" class="form-control">
              </div>
            </div>
            <span id="date-form-error" class="wtf-error ds-error-message" style="display:none;"></span>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h2>{{ _("Maximum answers") }}</h2>
          <div>
            <button id="save-total-answers-button" class="btn btn-sm btn-outline-primary" type="button" onClick="javascript:setTotalAnswers()">{{ _('Save') }}</button>
          </div>
        </div>
        <div class="card-body">
          <div>
            <label for="total_answers" class="form-label" id="addon-total-answers">{{ _("Total answers before expiration") }}</label>
            {% set total_answers = form.expiry_conditions['totalAnswers'] %}
            {% if total_answers == 0 %}
              {% set total_answers = "" %}
            {% endif %}
            <input id="total_answers" type="number" min="0" class="form-control condition" value="{{ total_answers }}" aria-label="{{ form.get_field_label(field_name) }}" aria-describedby="addon-total-answers" />
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if form.get_available_number_type_fields() %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>
            {{ _("Number fields") }}
            {% if form.is_e2ee %}
            <span class="disabled-by-e2ee-badge badge rounded-pill bg-info" {% if not form.is_e2ee %}style="display:none"{% endif %}>
              {{ _("Disabled by E2EE") }}
            </span>
          {% endif %}
          </h2>
        </div>
        <div class="card-body">
          {% for field_name, values in form.get_available_number_type_fields().items() %}
          {% set field_label = form.get_field_label(field_name) %}
          <div class="number-field-block my-1">
            <label for="{{field_name}}" class="form-label" id="addon-{{field_name}}">{{ _("The sum of all the answers to '%(label)s'", label=field_label) }}</label>
            <input id="{{field_name}}"
                   type="number"
                   class="form-control condition"
                   value="{{values.condition}}"
                   aria-label="{{ form.get_field_label(field_name) }}"
                   aria-describedby="addon-{{field_label}}"
                   {# i18n: Applies to 'Number' fields. Form will expire when the sum of values between all answers to this field in this form reaches the specified value. For example, if you set expiration condition to value=5 on this number field, if you receive 2 answers that ask on this field for 2 and 3, the form will expire. #}
                   placeholder="">
            <div class="mt-2 text-end">
              <button id="save-{{field_name}}-button" class="btn btn-sm btn-outline-primary" type="button" onClick="javascript:setMaxValue('{{field_name}}');"
                      {% if form.is_e2ee %}disabled{% endif %}>
                {{ _('Save') }}
              </button>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="grid mt-4">
    <div class="g-col-12">
      <div id="after_expiration_text" class="card">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h2>{{ _("After expiration") }}</h2>
          <div class="card-header-controls">
            <button class="btn btn btn-sm btn-outline-primary" onClick="location.href='{{url_for('form_bp.preview_expired', form_id=form.id)}}'">{{ _("Preview") }}</button>
            <button id="show-expired-editor-button" class="btn btn-sm btn-outline-primary">{{ _("Edit") }}</button>
          </div>
        </div>
        <div>
          <div class="px-3 py-3">
            <p class="mb-0">{{ _("Say something to the user when the form has expired") }}</p>
          </div>
          <div class="card-body pt-0 ds-silence-text">
            <div class="pt-3 html-display ds-marked-up">
              {{ form.get_expired_text_html() | safe }}
            </div>
            <div id="expired-editor" class="md-editor" style="display:none">
              <button id="save-expired-mde" class="btn btn-sm btn-primary" type="button">{{ _('Save') }}</button>
              <button id="cancel-expired-mde" class="btn btn-sm btn-outline-secondary" type="button">{{ _('Cancel') }}</button>
              <div class="mt-3">
                <textarea id="expired-mde">{{ form.get_expired_text_markdown() }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
const inline_help_file_name = "form_expiration.j2.md";

jQuery(function($) {
  var savedDate = {{form.expiry_conditions['expireDate']|tojson}};
  if (savedDate != false){
    fields = savedDate.split(' ');
    $('#date').val(fields[0]);
    $('#time').val(fields[1].slice(0, 5)); // remove seconds for type="time"
  }
  $(".card").find("input").on("input change", function() {
    $(this).closest(".card").find(".card-header").find(".saved-alert").remove()
    $(this).closest(".number-field-block").find(".saved-alert").remove()
  });
});
function dateSet(e){
    if ($('#time').val() == ""){
        $('#time').val("00:00")
    }
}
document.getElementById('toggle_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('form_bp.toggle_form_expiration_notification', form_id=form.id)}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notification == true) {
                $('#notification_true').addClass('btn-primary')
                                       .removeClass('btn-outline-secondary');
                $('#notification_false').removeClass('btn-primary')
                                        .addClass('btn-outline-secondary');
            }
            else if (data.notification == false) {
                $('#notification_true').removeClass('btn-primary')
                                       .addClass('btn-outline-secondary');
                $('#notification_false').addClass('btn-primary')
                                        .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% if goto %}
$(document).ready(function() {
  if ("{{goto}}" == "expired-text") {
    $("#show-expired-editor-button").trigger("click")
  }
})
{% endif %}

function setDate() {
  $('#save-date-button').closest('.card-header').find('.saved-alert').remove()
  $.ajax({
    url : "{{url_for('form_bp.set_expiration_date', form_id=form.id)}}",
    type: "POST",
    dataType: "json",
    data: {"date": $("#date").val(), "time": $("#time").val()},
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if(data.error){
        $("#date-form-error").html(data.error)
        $("#date-form-error").show()
      }else{
        $('#save-date-button').blur()
        $('#save-date-button').before(saved_alert)
        $("#date-form-error").hide()
        if (data.expired == true) {
          $("#expired_alert").show()
        }else{
          $("#expired_alert").hide()
        }
      }
    }
  });
}
function setTotalAnswers(){
    $('#save-total-answers-button').closest('.card-header').find('.saved-alert').remove()
    var value = $('#total_answers').val();
    if (value == "") {
        value = 0;
    }
    $.ajax({
        url : "{{url_for('form_bp.set_expiry_total_answers', form_id=form.id)}}",
        type: "POST",
        dataType: "json",
        data: {"total_answers": value},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.total_answers == 0){
                data.total_answers = ""
            }
            $('#total_answers').val(data.total_answers);
            $('#save-total-answers-button').blur()
            $('#save-total-answers-button').before(saved_alert)
            if (data.expired == true) {
                $("#expired_alert").show()
            }else{
                $("#expired_alert").hide()
            }
        }
    });
}
{% if form.get_available_number_type_fields() %}
function setMaxValue(id){
  let input_el = $('#'+id)
  input_el.closest('.number-field-block').find('.saved-alert').remove()
  var value = input_el.val();
  $.ajax({
    url : "{{url_for('form_bp.set_expiry_field_condition', form_id=form.id)}}",
    type: "POST",
    dataType: "json",
    data: {"field_name": id, "condition": value},
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      input_el.val(value)
      let button = $('#save-'+id+'-button')
      button.blur()
      button.before(saved_alert)
      if (data.expired == true) {
        $("#expired_alert").show()
      }else{
        $("#expired_alert").hide()
      }
    }
  });
}
{% endif %}
// expired text editor
const editor_toolbar = [
    "bold",
    "italic",
    "heading",
    "|", // Separator
    "unordered-list",
    "ordered-list",
    "|", // Separator
    "quote",
    "|",
    {
      name: "custom",
      action: function customImage(editor){
        $('#insert_link_form')[0].reset();
        $('#insert_link_modal').modal('show');
      },
      className: "fa fa-link",
      title: "Link",
    },
    {
      name: "custom",
      action: function customImage(editor){
        $('#insert_image_form')[0].reset();
        $('#insert_image_modal').modal('show');
      },
      className: "fa fa-picture-o",
      title: "Image",
    },
    "|", // Separator
    "preview",
    "guide"
];
var expiredMDE = new EasyMDE({
                            toolbar: editor_toolbar,
                            autosave: {enabled: false},
                            autofocus: true,
                            spellChecker: false,
                            autoDownloadFontAwesome: false,
                            element: document.getElementById("expired-mde")
                         });

$("#show-expired-editor-button").click(function(){
    let card = $(this).closest('.card')
    $(".html-display").hide();
    card.find(".card-body").removeClass("ds-silence-text")
    $("#show-expired-editor-button").closest("div").find(".saved-alert").remove()
    $('.md-editor').show(0, function() {
        expiredMDE.codemirror.refresh();
        $('html, body').animate({
            scrollTop: $(".md-editor").offset().top -200
        }, 250);
    });
    card.find(".card-header-controls").find('button').prop('disabled', true);
});
$("#cancel-expired-mde").click(function(){
  let card = $(this).closest('.card')
    $(".md-editor").hide()
    $(".html-display").show()
    card.find(".card-body").addClass("ds-silence-text")
    card.find(".card-header-controls").find('button').prop('disabled', false);
    expiredMDE.value($("#expired-mde").val())
});
$("#save-expired-mde").click(function(){
  let card = $(this).closest('.card')
    var markdown=expiredMDE.value()
    $.ajax({
        url : "{{url_for('form_bp.save_expired_text', form_id=form.id)}}",
        type: "POST",
        dataType: "json",
        data: {"markdown": markdown},
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            card.find(".card-header-controls").find('button').prop('disabled', false);
            $(".html-display").html(data.html)
            $(".md-editor").hide()
            card.find(".card-body").addClass("ds-silence-text")
            $(".html-display").show(0)
            card.find(".card-header-controls").prepend(saved_alert)
            $("#expired-mde").val(data.markdown)
            expiredMDE.value($("#expired-mde").val())
        }
    });
});
$(document).on("insert_image", function(event, form_id) {
  $('.modal').modal('hide');
  var image_url = $('#'+form_id).find('#image_url').val();
  if (image_url === '') {
    image_url = 'https://'
  }
  var alt_text = $('#'+form_id).find('#alt_text').val();
  var image = '\n\n!['+alt_text+']('+image_url+')\n\n';  // markdown syntax
  let pos = expiredMDE.codemirror.getCursor();
  expiredMDE.codemirror.replaceRange(image, pos);
  return false;
});
$(document).on("insert_link", function(event, form_id) {
  $('.modal').modal('hide');
  var link_url = $('#'+form_id).find('input[name=link_url]').val();
  if (link_url === '') {
    link_url = 'https://'
  }
  var link_text = $('#'+form_id).find('input[name=link_text]').val();
  if (link_text === '') {
    link_text = link_url
  }
  if ($('#after_expiration_text').find(".CodeMirror-selectedtext").length) {
    expiredMDE.codemirror.replaceSelection('['+link_text+']('+link_url+')');
  } else {
    let pos = expiredMDE.codemirror.getCursor();
    expiredMDE.codemirror.replaceRange(' ['+link_text+']('+link_url+') ', pos);
  }
  return false;
});

//$(document).ready(function() {
//
//});

const saved_alert = `
<span type="button" class="saved-alert btn btn-sm btn-success" aria-label="{{ _('Saved') }}" style="cursor:initial;">
  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
</span>
`

</script>

{% endblock %}
