{% extends "base-backend.html" %}
{% block content %}

<!-- form_users_{{'editor' if sharing_as_editor else 'reader'}}_page -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-0">

  <div class="grid ds-header-title-nested mt-0">
    <div class="g-col-12 ds-title-with-icon-return d-flex align-items-center justify-content-between">

      <h2 style="margin-left:0;">
        <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg></a
        >
        {%- if sharing_as_editor %}
          {{ _("Editors") }}
        {%- else %}
          {{ _("Share answers") }}
        {%- endif %}
      </h2>
      <div>
      {%- if sharing_as_editor %}
        <a href="{{url_for('form_bp.form_readers', form_id=form.id)}}" class="btn btn-sm btn-outline-primary">
          {{ _("Readers") }}
          <span class="badge bg-light text-dark">
            {{ FormUser.find_all(form_id=form.id, is_editor=False).count() }}
          </span>
        </a>
      {%- else %}
        <a href="{{url_for('form_bp.form_editors', form_id=form.id)}}" class="btn btn-sm btn-outline-primary">
          {{ _("Editors") }}
          <span class="badge bg-light text-dark">
            {{ FormUser.find_all(form_id=form.id, is_editor=True).count() }}
          </span>
        </a>
      {%- endif %}
    </div>
    </div>
  </div>

  <div class="grid mt-3 mb-3">
    <div class="g-col-12">
      <p class="mb-0">
{%- if sharing_as_editor %}
        {{ _("Users listed here have the <strong>same permissions</strong> as you.") }}
{%- else %}
        {{ _("Users listed here can read this form's answers.") }}
{%- endif %}
      </p>
    </div>
  </div>

  {%- set sharing_role = "editor" if sharing_as_editor else "reader" %}
  {%- set form_add_endpoint = 'form_bp.add_editor' if sharing_as_editor else 'form_bp.add_reader' %}

  <div class="grid mt-3 mb-4 ds-wrapper-white">
    <div class="g-col-12">
      <form name="addUserForm" action="{{ url_for(form_add_endpoint, form_id=form.id) }}" method="POST">
        {{ wtform.csrf_token }}
        <div class="form-group">
        {%- if sharing_as_editor %}
          <label class="form-label">{{ _("Add new editor") }}</label>
        {%- else %}
          <label class="form-label">{{ _("Add a person") }}</label>
        {%- endif %}
          <div class="input-group">
          {% if form.is_e2ee %}
            <input name="e2ee_ciphered_key_backup" type="hidden">
          {% endif %}
            <input name="email" type="email" class="form-control"
                   required placeholder="{{ _('person@example.com') }}"
                   {%if form.is_e2ee and not current_formuser.is_e2ee_enabled()%}disabled{%endif%}
                   aria-label="An email" aria-describedby="button-editor">
            <div class="input-group-append">
              <button class="btn btn-sm btn-outline-secondary" type="submit" id="button-editor" arial-label="{{_('Add')}}"
                      {%if form.is_e2ee and not current_formuser.is_e2ee_enabled()%}disabled{%endif%}>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
              </button>
            </div>
          </div>
          <div class="wtf-error ds-error-message"></div>
        </div>
      </form>
    {% if form_users | length > 0 %}
      <ul class="ds-list-group mt-3">
        {% for formuser in form_users %}
        <li id="{{ sharing_role }}_{{ formuser.user_id }}">
          <span>
            <span class="ds-avatar ds-avatar-sm">
              <img src="{{formuser.avatar_src}}" alt="" class="rounded-circle" />
            </span>
            {{ formuser.email }}
        {% if form.is_e2ee %}
          {% if formuser.keys_are_valid %}
            <span class="badge rounded-pill bg-success">{{ _("E2EE") }}</span>
          {%- endif %}
          {%- if not formuser.keys_are_valid and not formuser.needs_e2ee_ciphered_key %}
            {% set ciphered_key_mismatch = True %}
            <span class="badge rounded-pill bg-warning text-dark">{{ _("Keys do not match") }}</span>
          {% elif formuser.needs_personal_e2ee_keys %}
            {# i18n: The user must configure their personal keys #}
            <span class="badge rounded-pill bg-info">{{ _("Must configure personal E2EE keys") }}</span>
          {%- endif %}
        {%- endif %}
          {% if formuser.is_author %}
            <span class="badge rounded-pill bg-info">{{ _("Author") }}</span>
          {%- endif %}
          </span>
          <span>
          {% if form.is_e2ee and current_formuser.is_e2ee_enabled() and
                formuser.needs_e2ee_ciphered_key and not formuser.needs_personal_e2ee_keys
          %}
            <input class="btn btn-sm btn-primary"
                   type="button" value="{{ _('Enable E2EE') }}"
                   onClick="javascript:shareCipheredKey({{formuser.user_id}},'{{formuser.email}}');">
          {% endif %}
            <input class="btn btn-sm {%if ciphered_key_mismatch %}btn-primary{%else%}btn-danger{%endif%}"
                   type="button"
                   value="{%if ciphered_key_mismatch and formuser.user_id!=current_user.id%}{{_('Reset')}}{%else%}{{_('Remove')}}{%endif%}"
                   {% if formuser.is_author %}disabled="true"{% endif %}
                   onClick="javascript:removeSharing('{{formuser.user_id}}');">
          </span>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    </div>
  </div>
  {% include 'partials/form-invites.html' %}
</div>


{% if form.is_e2ee and current_formuser.is_e2ee_enabled() %}
  {# Used to restore current_formuser key when required #}
  <div vue-component="key-manager-renderer"
       data-e2ee_editor_key_id="{{ current_user.id }}@editor.keys.{{ config['SERVER_NAME'] }}"
       data-e2ee_public_key_on_server='{{ current_user.e2ee_public_key | tojson }}'
       data-e2ee_status='{{ form.encrypted_form_data() | tojson }}'
       data-ui_language="{{ g.language }}"
       data-external_restore="true"
  >
  </div>
  <script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-key-manager.js"></script>

  <script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-answers.js"></script>
  {% with form_user=current_formuser %}
    {% include 'form/partials/e2ee-form-keys.js.html' %}
  {% endwith %}
{% endif %}

<script>
{%- if sharing_as_editor %}
const inline_help_file_name = "form_editors.j2.md";
{%- else %}
const inline_help_file_name = "form_shareanswers.j2.md";
{%- endif %}

const parsley_options = {
  errorsContainer: function (field) {
    return $(field.element).closest(".form-group")
  }
}
$('form[name=addUserForm]').parsley(parsley_options)

{% if form.is_e2ee and current_formuser.is_e2ee_enabled() %}

$(async function() {
  // Trigger a form restore from remote backup if necessary
  const formKeyId = LF_E2EE.keyStorage.genKeyUserId('form', {{ form.id }})
  if (!LF_E2EE.keyStorage.readLocked(formKeyId)) {
    await restoreFormKeyBackup();
  }
})

const $addUserForm = $('form[name=addUserForm]')

var after_key_restore_event = {}
$(function() {

  async function formsubmit(e) {
    // adding a new form_user
    $addUserForm.parsley().validate()
    if (!$addUserForm.parsley().isValid()) {
      return
    }
    let user_email = $addUserForm.find('input[name=email]').val()
    after_key_restore_event = {func: formsubmit, args: {}}
    let formUserKey = await createCipheredKey(user_email)
    if (formUserKey == 'need_key_restore')
      return
    $addUserForm.find('input[name=e2ee_ciphered_key_backup]').val(JSON.stringify(formUserKey))
    // Remove event handler
    $addUserForm.off('submit')
    // Submit normally
    $addUserForm.submit()
  }
  $addUserForm.on('submit', function(e) {
    // Submit async
    formsubmit(e)
    // Cancel default behaviour
    return false
  })
})
async function shareCipheredKey(user_id, user_email) {
  after_key_restore_event = {func: shareCipheredKey, args: {user_id, user_email}}
  let res = await postCipheredFormKey(user_id, user_email)
  if (res.saved == true) {
    window.location.reload();
  }
}
document.addEventListener("LF_e2ee_key_is_restored_event", function() {
  // triggered by the vue component
  if (after_key_restore_event.args.length == 2) {
    args = after_key_restore_event.args
    after_key_restore_event.func(args[0], args[1]) // shareCipheredKey()
  }
  else
    after_key_restore_event.func() // formsubmit()
})
{% endif %}

function removeSharing(user_id){
  $.ajax({
    url : `/form/{{form.id}}/remove-{{ sharing_role }}/${user_id}`,
    type: "POST",
    dataType: "json",
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
        xhr.setRequestHeader("X-CSRFToken", csrftoken)
      }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data == user_id) {
        $(`#{{ sharing_role }}_${user_id}`).remove()
      }
    }
  });
}
</script>

{% endblock %}
