{% extends "base-backend.html" %}
{% block content %}

<!-- editor_form_options_page -->

<style>

</style>

{% if viewer_role is not defined %}
  {% set viewer_role = "editor" %}
{% endif %}

{% with active_item="options",
        total_answers=form.get_total_answers() %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title-nested ds-no-border mt-2">
    <div class="g-col-12 d-flex grid align-items-center justify-content-between">
      <h2 class="d-inline">{{ _("Form options") }}</h2>
      <div class="text-end">
  {% if form.edit_mode and viewer_role == "editor" %}
        <a href="#" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#edit-mode-modal-{{form.id}}">{{ _("Cancel edition") }}</a>
  {% else %}
        {%- set is_public = form.is_public() %}
        <span id="is_public_badge_ok" class="badge rounded-pill bg-success" {%if not is_public%}style="display:none"{%endif%}>{{ _("Public") }}</span>
        <span id="is_public_badge_ko" class="badge rounded-pill bg-secondary" {%if is_public%}style="display:none"{%endif%}>{{ _("Not public") }}</span>
    {% if form.users.count() > 1 %}
        <span class="badge rounded-pill bg-success">{{ _("Shared") }}</span>
    {% endif %}
  {% endif %}
      </div>
    </div>
  </div>

  {% set form_has_email_field = form.has_email_field() %}
  {% set send_confirmation = form.confirmation['send_email'] %}
  {% set form_has_map_field = form.get_map_fields() %}
  {% set is_map_enabled = form.is_map_enabled() %}
  {% set is_anon_edition = form.anon_edition %}
  {% set notify_answer_edition = form_user["notifications"]["anon_answer_edition"] %}

  <script>{% include('js/options-controller.js') %}</script>

  {%- set form_section_partials = [
    'publish-options.html',
    'form-options.html',
    'answer-options.html',
    'confirmation.html',
    'map-options.html',
    'form-shares.html',
    'embeded-code.html',
    'api-endpoint.html',
  ] -%}

  <div class="ds-form-options-card-list">
  {%- for partial in form_section_partials %}
    {% if
      (partial=='map-options.html' and not form_has_map_field)
    %}
      {% continue %}
    {% endif %}
    <section class="grid ds-form-option-section">
      <div class="g-col-12">
        {% include 'partials/' + partial -%}
      </div>
    </section>
  {% endfor -%}
  </div>

</div>

<script>
const inline_help_file_name = "form_options.j2.md";
</script>

{% endblock %}
