{% extends "base-backend.html" %}
{% block content %}

<!-- form_invite_page -->

{% with active_item="settings",
        sub_option=True,
        form=granted_form %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">

    {% if grant_as == 'editor' %}
      <a href="{{url_for('form_bp.form_editors', form_id=granted_form.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
    {% else %}
      <a href="{{url_for('form_bp.form_readers', form_id=granted_form.id)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
    {% endif %}
      <h1>
        {{ _("Send an invitation") }}
      </h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      {% if grant_as == 'editor' %}
        <p class="mb-0">{{ _("Grant full acces to your form.") }}</p>
      {% else %}
        <p class="mb-0">{{ _("Grant read-only access to the collected answers") }}.</p>
      {% endif %}
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="inviteUserForm" method="POST" autocomplete="off">
        {{ wtform.csrf_token }}
        <div class="form-group mt-2">
          {{ wtform.email.label(for="new-invite-email",
                                class_="form-label") }}
          {{ wtform.email(id="new-invite-email",
                          class_="form-control",
                          placeholder=_("person@example.com")) }}
          {% for error in wtform.email.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="mt-4">
          <button id="preview-message-btn" class="btn btn-sm btn-outline-secondary" type="button" onclick="toggleEditor()">{{ _("Edit message")}}</button>
          <button id="reset-button" class="btn btn-sm btn-outline-secondary" type="button" onclick="resetMessage()" style="display:none">{{ _("Use default")}}</button>
        </div>
        <div id="message-editor" class="form-group mt-3" style="display:none">
          {{ wtform.message.label(for="new-invite-message",
                                  class_="form-label") }}
          {{ wtform.message(id="new-invite-message",
                          class_="form-control",
                          rows=7) }}
          {% for error in wtform.message.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

        <div id="preview" class="mt-4 p-3 text-bg-light" style="display:none">
          <div id="preview-message"></div>
        </div>

        <div class="mt-4">
          {# i18n: Button to send new user invitation message via email #}
          <input class="btn btn-primary" type="submit" value="{{ _('Send email') }}">
        </div>
      </form>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_invitation.j2.md";
const default_message = `{{ default_message }}`
var message = `{{ wtform.message.data }}`
var preview = `{{ preview | safe }}`

$("form[name=inviteUserForm]").parsley().on('field:validate', function(field) {
  $(field.element).closest('.form-group').find('.wtf-error').remove()
})

$(function() {
  {% if wtform.message.errors %}
    preview = ""
    showEditor()
  {% else %}
    showPreview()
  {% endif %}
});
function showPreview() {
  $("#preview-message-btn").html("{{ _('Edit message') }}")
  $("#preview-message-btn").removeClass('btn-primary').addClass('btn-outline-secondary')
  $("#message-editor").hide()
  $("#reset-button").hide()
  $('#preview-message').html(preview);
  $("#preview").show()
  $("form").find(":submit").prop('disabled', false)
}
function showEditor() {
  $("#preview-message-btn").html("{{ _('Set message') }}")
  $("#preview-message-btn").addClass('btn-primary').removeClass('btn-outline-secondary')
  $("#preview").hide()
  $("#new-invite-message").val(message)
  $("#message-editor").show()
  $("#new-invite-message").focus()
  $("#reset-button").show()
  $("form").find(":submit").prop('disabled', true)
}
function resetMessage() {
  $("#new-invite-message").val(default_message)
}
function toggleEditor() {
  if ($("#preview").is(':visible')) {
    showEditor()
  } else {
    $.ajax({
      url : "{{ url_for('invite_bp.invite_preview') }}",
      type: "POST",
      dataType: "json",
      data: {"text": $("#new-invite-message").val()},
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (Object.keys(data).includes("text") && data.preview) {
          message = data.text
          preview = data.preview
          showPreview()
        }
      }
    });
  }
}
</script>

{% endblock %}
