{% extends "base-backend.html" %}
{% block content %}

<!-- form_define_map_marker_popup -->

{% with active_item="options", sub_option=True %}
  {% include 'form/partials/form-context.html' %}
{% endwith %}

{% set map_fields = form.get_map_fields() %}
{% set map_preferences = form.map_preference() %}

<div class="ds-narrow-container mt-2">

  <div class="grid ds-header-title-nested mt-2">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{ url_for('form_bp.form_details', form_id=form.id) }}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h2>
        {{ ngettext("Map marker", "Map markers", map_fields|length) }}
      </h2>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Define the fields to display in the marker's popup.") }}</p>
    </div>
  </div>

  {% for map_field in map_fields %}
  <div class="card mt-3">
    <div class="card-header"><i data-feather="map-pin" width="18" height="18" stroke-width="2"></i> {{ map_field.label }}</div>
    <div class="card-body">
      <div class="marker-popup" map_id="{{map_field.name}}" >
        {% for field in form.structure if field.name and not field.name.startswith('map-') %}
        <div class="checkbox-group mt-1">
          {% set is_checked = map_field.name in map_preferences.markers and field.name in map_preferences.markers[map_field.name].popup_fields %}
          <input type="checkbox" id="check-{{field.name}}" {%if is_checked%}checked="checked"{%endif%} value="{{field.name}}" >
          <label for="check-{{field.name}}">{{ field.label }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

</div>

<script>
const inline_help_file_name = "form_mapmarkers.j2.md";

$(function () {
  $(".marker-popup").on('click', 'input[type=checkbox]', function(e) {
    let field_group = $(this).closest(".marker-popup")
    let map_id = field_group.attr("map_id")

    var popup_fields = []
    field_group.find('input[type="checkbox"]').each(function () {
      let $field = $(this)
      if ($field.is(':checked')) {
          popup_fields.push($field.val())
      }
    });
    $.ajax({
        url : "{{url_for('form_bp.map_set_markers', form_id=form.id)}}",
        type: "PATCH",
        contentType: "application/json",
        dataType: "json",
        data : JSON.stringify({map_id: map_id, popup_fields: popup_fields}),
        beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", "{{csrf_token()}}")
          }
        },
        success: function(data, textStatus, jqXHR) { }
      });
  });

})

</script>

{% endblock %}
