{% extends "base-backend.html" %}
{% block content %}

<!-- my_forms_page -->

<div class="grid ds-header-title">
  <div class="g-col-12">
    <h1>{{ _("My forms") }}</h1>
  </div>
</div>

<div class="grid mt-3">
  <div class="g-col-12">
    <p class="mb-0">{{ _("The forms you have created and those shared with you by other users.") }}
  </div>
</div>

<div class="ds-wrapper-white mt-3">
  <div vue-component="data-display"
        data-endpoint="/data-display/my-forms/{{current_user.id}}"
        data-ui_language="{{ g.language }}"
        data-csrf_token="{{ csrf_token() }}">
  </div>
  <div vue-component="items-renderer"></div>
</div>

<script src="{{config['DATA_DISPLAY_BASE_URL']}}/data-display.js"></script>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/items-renderer.js"></script>

<script>
const inline_help_file_name = "forms.j2.md";
</script>

{% endblock %}
