{% extends "base-backend.html" %}
{% block content %}

<!-- new_form_page -->

{% set can_create = current_user.can_create_forms() %}

<div class="ds-narrow-container">

  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title d-flex align-items-center justify-content-between">
      <h1>{{ _("New form") }}</h1>
      <a href="{{url_for('form_bp.list_templates')}}" class="btn btn-sm btn-outline-primary">{{ _("Form templates") }}</a>
    </div>
  </div>

  <div class="mt-3">
    {% if not can_create %}
      <!-- disabled_new_forms -->
      {{ _("Sorry, new forms have been disabled.") }}
    {% elif form_source_msg %}
      {{form_source_msg}}.
    {% else %}
      {{ _("Your new form starts here.") }}
    {% endif %}
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <form name="newForm" method="POST">
      {{ wtform.csrf_token }}
        <div class="form-group mb-4">
          {{ wtform.name.label(for="name", class_="form-label") }}
          {{ wtform.name(id="name", class_="form-control", autocomplete="off") }}
          {% for error in wtform.name.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
        </div>

      {% if config['E2EE_MODE'].e2ee_enabled %}
        <div class="mt-1 mb-3">
          <div id="ds-e2ee-checkbox-group" class="">
            <label class="form-label form-check-label">
               {{ wtform.is_e2ee(id="is_e2ee", class_="form-check-input") }}
               <span>
                 {{ wtform.is_e2ee.label(for="is_e2ee", class_="form-label mb-0") }}
               </span>
             </label>
             <span>
               <a href="#" onclick="toggleInlineHelp('e2ee_pros_and_cons.j2.md'); return false">{{ _("Pros and Cons") }}</a>
             </span>
          </div>
          {% set require_personal_keys = config['E2EE_MODE'].default_form_value and not current_user.e2ee_public_key %}
          <div id="e2ee_key_required" class="mt-2 mb-4" {%if not require_personal_keys%}style="display:none"{%endif%}>
            <a href="{{url_for('user_bp.manage_e2ee_keys')}}" class="">
              {{ _("Please configure your personal encryption keys first") }}</a>
          </div>
        </div>
      {% endif %}

        <input id="commit_name" class="btn btn-primary"
               {%if not can_create%}disabled{%endif%} type="button" onclick="commitName()" value="{{ _('Save') }}" />

        <div id="slug_selector" style="display:none">
          <div class="form-group">
            {{ wtform.slug.label(for="slug", class_="form-label") }}
            <div class="input-group">
              <span class="input-group-text">{{ config['BASE_URL'] }}/</span>
              {{ wtform.slug(id="slug", class_="form-control", autocomplete="off") }}
            </div>
            <div class="form-text">{{ _("You may edit the URL") }}</div>
            <div id="ajax_slug_error" class="wtf-error ds-error-message"></div>
          </div>
          <div class="mt-4">
            <input id="submit_button" class="btn btn-primary" onclick="submitForm()" type="button" value="{{ _('Use this address') }}" />
          </div>
        </div>
      </form>
    </div>
  </div>

</div>

<script>
const inline_help_file_name = "form_new.j2.md";
let form = $('form[name=newForm]')
function clearAjaxSlugErrors() {
  $("#submit_button").prop("disabled", false)
  $("#ajax_slug_error").html("")
  $("#slug").css("color", "initial")
}
$(document).ready(function() {
  const parsley_options = {
    errorsContainer: function (field) {
      return $(field.element).closest(".form-group")
    }
  }
  form.parsley(parsley_options).on('field:validate', function(field) {
    $(field.element).closest('.form-group').find('.wtf-error').hide()
  })

  $("#name").on("focus", function() {
    clearAjaxSlugErrors()
    $("#slug_selector").hide()
    $("#commit_name").show()
  });
  $("#slug").on("keydown", function() {
    clearAjaxSlugErrors()
  });
  $("#slug").on("paste", function() {
    clearAjaxSlugErrors()
  });
  ensureE2EEUserKey()
});

function commitName() {
  $("#commit_name").hide()
  $("#slug").val($("#name").val())
  let is_valid = form.parsley().validate()
  if (is_valid) {
    checkSlug().then(function(data) {
      $('#slug').val(data.slug);
      $("#slug_selector").show()
    });
  }
}
$('form[name=newForm]').on("click", 'input[name=is_e2ee]', function() {
  ensureE2EEUserKey()
});
function ensureE2EEUserKey() {
  // make sure we have the user's public key / when enabling is_e2ee
  let $is_e2ee = $('input[name=is_e2ee]')
  if ($is_e2ee.length &&
      $is_e2ee.is(':checked') &&
      !'{{ current_user.e2ee_public_key.fingerprint }}') {
    $('#commit_name').prop('disabled', true)
    $('#submit_button').prop('disabled', true)
    $('#e2ee_key_required').show()
  }
  else {
    $('#commit_name').prop('disabled', false)
    $('#submit_button').prop('disabled', false)
    $('#e2ee_key_required').hide()
  }
}
function submitForm() {
  let is_valid = form.parsley().validate()
  if (is_valid) {
    checkSlug().then(function(data) {
      $('#slug').val(data.slug);
      if (data.available == true) {
        $("form[name=newForm]").submit()
      }
      if (data.error_msg !== undefined) {
        $('#ajax_slug_error').html(data.error_msg)
        $('#ajax_slug_error').show()
        $("#slug").css("color", "red")
      }
    });
  }
}
function checkSlug() {
  return new Promise(function(resolve, reject) {
    $('#slug_not_available').hide()
    $.ajax({
      url : "{{url_for('form_bp.is_slug_available')}}",
      type: "POST",
      data : {'slug': $('#slug').val()},
      dataType: "json",
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
      },
      success: function(data, textStatus, jqXHR) {
        $("#slug").val(data.slug)
        resolve(data) // Resolve promise and goto then()
      },
      error: function(err) {
        reject(err) // Reject the promise and goto catch()
      }
    });
  });
}
</script>

{% endblock %}
