{% extends "base-backend.html" %}
{% block content %}

<!-- preview_template_page -->

<script src="{{ url_for('static', filename='vendor/formBuilder/form-render.min.js') }}"></script>
<script>const leaflet_URL="{{ url_for('static', filename='vendor/leaflet', _external=True) }}"</script>
<script src="{{ url_for('static', filename='js/formBuilder/map-position/map_position_plugin.js') }}"></script>

<div class="ds-narrow-container">

    <div class="grid ds-header-title ds-no-border">
      <div class="g-col-12 ds-title-with-icon-return d-flex align-items-center justify-content-between">
        <div>
          <a href="{{ url_for('form_bp.list_templates') }}" arial-label="return"><i data-feather="arrow-left"></i></a>
          <h1 class="d-inline">{{ _("Template preview") }}</h1>
        </div>
        <a href="{{ url_for('form_bp.create_new_form', template_id=template_id) }}" class="btn btn-sm btn-primary">{{ _("Use this template") }}</a>
      </div>
    </div>

    <div class="grid mt-2 ds-wrapper-white">
      <div class="g-col-12 pb-4">
        {% with preview_only=True,
                template_preview=True %}
          {% include 'public_form/partials/view-form.html' %}
        {% endwith %}
      </div>
    </div>

</div>

{% endblock %}
