{% extends "base-backend.html" %}
{% block content %}

<!-- set_avatar_page -->

<script src="{{ url_for('static', filename='vendor/cropper/cropper.1.5.13.min.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/cropper/cropper.1.5.13.css') }}">

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('user_bp.user_settings', username=current_user.username)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Your avatar") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("The image displayed with your user name.") }}</p>
    </div>
  </div>

  <div class="grid mt-3 ds-wrapper-white">
    <div class="g-col-12">
      <div>
        <label class="form-label" for="avatar_file">{{ _("Select a file") }}</label>
        <input id="avatar_file" class="form-control" type="file">
      </div>
      <div class="mt-4">
        <div id="crop_container" style="display:none">
          <label class="form-label">{{ _("Crop your image") }}</label>
          <div id="image_container">
            <img id="avatar_image" />
          </div>
          <span class="error-msg ds-error-message"></span>
        </div>
      </div>
      <div class="mt-4">
        <button id="avatar_save_button" type="button" class="btn btn-primary" disabled>{{ _('Save') }}</button>
      </div>
    </div>
  </div>

  <form name="setAvatar" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input id="image_base64" type="hidden" id="image_base64" value="" />
  </form>

</div>

<script>
const inline_help_file_name = "user_avatar.j2.md";
$(function () {
  var image = document.getElementById('avatar_image');
  var button = document.getElementById('avatar_save_button');

  button.onclick = function () {
    if (!croppable) {
      return;
    }
    let croppedCanvas = cropper.getCroppedCanvas(); // Crop
    resizeBase64Img(croppedCanvas.toDataURL(), 100, 100).then(resized=>{
      _submitAvatar(resized)
    });
  };

  //$(".cropper-face").on('focus', function () {
  //  $("#crop_container").find(".errors").hide()
  //})
  //image.addEventListener('cropstart', (event) => {
  //  console.log(event.detail.originalEvent);
  //  console.log(event.detail.action);
  //});

  $("#avatar_file").on('change', function(event) {
    $("#avatar_image").remove()
    $("#image_container").html('<img id="avatar_image" />')
    avatar_file = event.target.files[0];
    var reader = new FileReader();
      reader.onload = function(e)  {
        document.getElementById("avatar_image").src = e.target.result;
        croppable = false;
        let image = document.getElementById('avatar_image');
        croppable = false;
        cropper = new Cropper(image, {
          aspectRatio: 1,
          viewMode: 1,
          ready: function () {
            croppable = true;
          },
        });
      }
      reader.readAsDataURL(avatar_file);
      $("#avatar_save_button").prop("disabled", false)
      $("#crop_container").show()
  });

  function resizeBase64Img(base64, newWidth, newHeight) {
      return new Promise((resolve, reject)=>{
          var canvas = document.createElement("canvas");
          canvas.width = newWidth;
          canvas.height = newHeight;
          let context = canvas.getContext("2d");
          let img = document.createElement("img");
          context.scale(newWidth/img.width,  newHeight/img.height);

          img.src = base64;
          img.onload = function () {
              context.scale(newWidth/img.width,  newHeight/img.height);
              context.drawImage(img, 0, 0);
              resolve(canvas.toDataURL());
          }
      });
  }

  function _submitAvatar(avatar_base64) {
    //console.log("avatar_base64",avatar_base64.length)
    if ( avatar_base64.length > 240000 ) {
      $("#crop_container").find(".error-msg").html("{{_('Image too large. Please zoom in or select a smaller area.')}}")
      return
    }
    $("#crop_container").find(".errors").hide()
    $.ajax({
      url : "{{ url_for('user_bp.set_avatar') }}",
      type: "POST",
      dataType: "json",
      data: {"avatar_base64": avatar_base64},
      beforeSend: function(xhr, settings) {
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken)
          }
      },
      success: function(data, textStatus, jqXHR)
      {
        if (data.is_saved == true) {
          location.reload(true);
          window.location.href = "{{url_for('user_bp.user_settings', username=current_user.username)}}"
        }
        if (data.error) {
          console.log(data.error)
        }
      }
    });
  }
});
</script>

{% endblock %}
