{% extends "base-backend.html" %}
{% block content %}

<!-- list_user_consents_page -->


<div class="grid align-items-center ds-header-title-with-button">
  <div class="g-col-12 {%if consents%}g-col-md-8{%endif%}">
    <h1>{{ _("Privacy statements") }}</h1>
  </div>
  {% if consents %}
  <div class="g-col-12 g-col-md-4 yes_consents">
    <a class="btn btn-sm btn-primary" role="button" href="{{url_for('consent_bp.edit_user_data_consent')}}">{{ _("Create a new statement") }}</a>
  </div>
  {% endif %}
</div>

<div class="grid {% if consents %}mt-3{%else%}mt-4{%endif%}">
  <div class="g-col-12">
    <p class="yes_consents" {% if not consents %}style="display: none"{% endif %}>
      {{ _("These texts can be attached to your forms.") }}
    </p>
    <div class="no_consents" {% if consents %}style="display: none"{% endif %}>
    <p>
      {{ _("Privacy statements let you be transparent with your users by telling them why you are collecting their information and how it will be used.") }}
    </p>
    <p>
      {{ _("LiberaForms can help you understand and write functional texts.") }}
      <a href="#" onclick="toggleInlineHelp('user_dataconsent.j2.md')">{{ _("Learn more") }}</a>
    </p>
    <p>
      {{ _("The texts you create here can be reused with your forms.") }}
    </p>
    <a class="btn btn-primary mt-2" role="button" href="{{url_for('consent_bp.edit_user_data_consent')}}">{{ _("Create a new statement") }}</a>
    </div>
  </div>
</div>


{% if consents %}
  {% with consent_bp_func='consent_bp.edit_user_data_consent', scope='user' %}
    {% include 'consent/partials/list-consents.html' %}
  {% endwith %}
{% endif %}

<script>
const inline_help_file_name = "user_dataconsent.j2.md";
function deleteConsent(consent_id) {
  $.ajax({
    url : "{{ url_for('consent_bp.delete_user_data_consent') }}",
    type: "POST",
    dataType: "json",
    data: {"consent_id": consent_id},
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    },
    success: function(data, textStatus, jqXHR)
    {
      if (data.deleted == true) {
        $("#consent_"+consent_id).remove()
        if ($("#consent_list").find(".card").length == 0) {
          $("#consent_list").hide()
          $(".yes_consents").hide()
          $(".no_consents").show()
        }
      }
    }
  });
}
</script>

{% endblock %}
