{% extends "base-landing.html" %}
{% block content %}

<!-- user_logout_page -->

<div class="ds-error-center">
  <div class="text-center">
    <h1>{{ _("See you soon!") }}</h1>
    <p class="mt-3"><a href="/">{{ g.site.hostname }}</a></p>
  </div>
</div>


{% if config['E2EE_MODE'].e2ee_enabled %}
<script>
  $(async function() {
    let keys = []
    for (let i = 0; i < sessionStorage.length; i++) {
      let key = await sessionStorage.key(i)
      if (key.indexOf("LF_E2EE") != -1) {
        keys.push(key)
      }
    }
    keys.forEach((key) => sessionStorage.removeItem(key))
  })
</script>
{% endif %}


{% endblock %}
