{% extends "base-backend.html" %}
{% block content %}

<!-- user_manage_e2ee_key_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12 ds-title-with-icon-return">
      <a href="{{url_for('user_bp.user_settings', username=current_user.username)}}" arial-label="return"><i data-feather="arrow-left"></i></a>
      <h1>{{ _("Your personal encryption keys") }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">
        {{ _("Configure your encryption keys.") }}
        <a href="#" onclick="toggleInlineHelp('user_e2eeintro.j2.md')">{{ _("Learn more") }}</a>
      </p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div vue-component="key-manager-renderer"
           data-e2ee_editor_key_id="{{ current_user.id }}@editor.keys.{{ config['SERVER_NAME'] }}"
      	   data-e2ee_public_key_on_server='{{ current_user.e2ee_public_key | tojson }}'
      	   data-e2ee_status='{{ current_user.encrypted_forms_data() | tojson }}'
      	   data-endpoint="{{ url_for('user_bp.save_e2ee_keys') }}"
           data-ui_language="{{ g.language }}"
           data-csrf_token="{{ csrf_token() }}" >
      </div>
    </div>
  </div>
</div>
<script src="{{config['DATA_DISPLAY_BASE_URL']}}/e2ee-key-manager.js"></script>
<script>
 const inline_help_file_name = "user_e2eeintro.j2.md";
</script>
{% endblock %}
