{% extends "base-login.html" %}
{% block content %}

<!-- new_user_form_page -->

{% set lang_code = g.language %}

{% if preview_only %}
<a href="{{url_for('admin_bp.admin_panel', goto='new-users')}}" class="mt-3 btn btn-sm btn-primary">{{ _("Go back") }}</a>
{% endif %}

<div class="card mt-md-4">
  <div class="card-body">
    <h1 class="display-6 mt-2">{{ _("New user") }}</h1>
    <form name="newUserForm" method="POST">
      {{ wtform.csrf_token }}
      <div class="form-floating mt-4 form-group">
        {{ wtform.username( class_="form-control", placeholder=_('Username'))}}
        {{ wtform.username.label( for="username" ) }}
        <div class="form-text">{{ _("Letters and numbers. No accents.") }}</div>
        <div class="error-messages">
        {% for error in wtform.username.errors %}
          <span class="wtf-error ds-error-message">{{ error }}</span>
        {% endfor %}
        </div>
      </div>
      <div class="form-floating mt-4 form-group">
        {{ wtform.email( class_="form-control", placeholder=_('Email')) }}
        {{ wtform.email.label( for="email" ) }}
        <div class="error-messages">
        {% for error in wtform.email.errors %}
          <span class="wtf-error ds-error-message">{{ error }}</span>
        {% endfor %}
        </div>
      </div>
      <h2>{{ _("Password") }}</h2>
      <div>
        <div class="form-text">{{ _("A string of characters with a degree of randomness.") }}</div>
        <div class="form-text">{{ _("Try a short, easy to remember sentence.") }}</div>
        <div class="form-text">{{ _("Example: Peter cooks delicious food") }}</div>
      </div>
      <div class="grid mt-3">
        <div class="form-floating g-col-12 g-col-md-6 form-group">
          {{ wtform.password(id="password",
                             class_="form-control",
                             placeholder=_('Password'))
          }}
          <meter id="password-quality-meter" class="" max="4"></meter>
          <span id="password-strength" class="ds-password-strength-text"></span>
          {{ wtform.password.label(for="password") }}
          <div class="error-messages">
            {% for error in wtform.password.errors %}
              <span class="wtf-error ds-error-message">{{ error }}</span>
            {% endfor %}
          </div>
        </div>
        <div class="form-floating g-col-12 g-col-md-6 form-group">
          {{ wtform.password2(class_="form-control",
                              placeholder=_('Confirm'),
                              data_parsley_equalto="#password")
          }}
          {{ wtform.password2.label(for="password2") }}
          <div class="error-messages">
          {% for error in wtform.password2.errors %}
            <span class="wtf-error ds-error-message">{{ error }}</span>
          {% endfor %}
          </div>
        </div>

      </div>

      <div id="enabled_consent_container" class="{% if consents|length %}ds-consent-container{%endif%}">
        {% include 'common/render-consents.html' %}
      </div>

      <div class="d-grid my-4">
        {% set disabled = "disabled" if preview_only else "" %}
        <button class="btn btn-primary" type="submit" {{disabled}}>{{ _("Submit") }}</button>
      </div>
    </form>
  </div>

  <div class="card-footer">
    <p class="mb-1">
      <small>
        {% if preview_only %}
        <a href="javascript:void()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" aria-hidden="true"><polyline points="15 18 9 12 15 6"></polyline></svg>{{ _("Back to %(sitename)s", sitename=g.site.hostname) }}</a>
        {% else %}
        <a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left" aria-hidden="true"><polyline points="15 18 9 12 15 6"></polyline></svg>{{ _("Back to %(sitename)s", sitename=g.site.hostname) }}</a>
        {% endif %}
      </small>
    </p>
  </div>
</div>

{% if preview_only %}
  {% include 'site/partials/new_user_form_options.html' %}
{% endif %}

<script>
{% with form_name="newUserForm" %}
  {% include "partials/password-check.js" %}
{% endwith %}

$("form[name=newUserForm]").find("a").prop("target", "_blank")
</script>

{% endblock %}
