
{% extends "base-backend.html" %}
{% block content %}

<!-- user_settings_page -->

<div class="ds-narrow-container">
  <div class="grid ds-header-title">
    <div class="g-col-12">
      <h1>{{ _("Hello %(username)s!", username=current_user.username) }}</h1>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <p class="mb-0">{{ _("Your account configuration.") }}</p>
    </div>
  </div>

  <div class="grid mt-3">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("General") }}</h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            {% if not (config['ENABLE_LDAP'] and current_user.ldap_uuid) %}
            <li>
              <span>{{ _("Email") }}: <strong>{{ current_user.email }}</strong></span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.change_email')}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
            <li>
              <span>{{ _("Password") }}</span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.reset_password')}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
            {% endif %}
            <li>
              <span>{{ _("Avatar") }}</span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.set_avatar')}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
            <li>
              <span>{{ _("Language") }}: <strong>{{ config['LANGUAGES'][current_user.get_language()][0] }}</strong></span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.change_language')}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
            <li>
              <span>{{ _("Time zone") }}: <strong>{{ current_user.get_timezone() }}</strong></span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.change_timezone')}}">{{ _("Change") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
      	    {% if config['E2EE_MODE'].e2ee_enabled %}
      	    <li>
              <span>
                {{ _("End-to-end encryption") }}
                {% if current_user.e2ee_public_key %}
                <span class="badge rounded-pill bg-info">{{ _("Ready") }}</span>
                {% endif %}
              </span>
              <a class="ds-link-contain-icon" href="{{url_for('user_bp.manage_e2ee_keys')}}">{{ _("Configure") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
      	    </li>
      	    {% endif %}
            <li>
              <span class="text-danger"><strong>{{ _("Delete my account") }}</strong></span>
              <a class="ds-link-contain-icon link-danger" href="{{url_for('user_bp.delete_account')}}">{{ _("Delete") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% if current_user.is_active() and current_user.is_editor() %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Form notifications") }}</h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("Notify me on each new answer") }}</span>
              <div id="toggle_new_answer_notification" class="btn-group btn-toggle">
                {% set new_answer_notification = current_user.new_answer_notification_default() %}
                <button id="new_answer_notification_true" class="btn btn-sm {% if new_answer_notification %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
                <button id="new_answer_notification_false" class="btn btn-sm {% if not new_answer_notification %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("False") }}</button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if current_user.is_active() and current_user.is_editor() %}
  {% if current_user.uploads_enabled and config['CRYPTO_KEY'] %}

  {% set media_usage = current_user.media_usage() %}
  {% set attachments_usage = current_user.attachments_usage() %}
  {% set total_usage = media_usage + attachments_usage %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Disk usage") }}</h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>
                {{ _("Total used") }}
                <span class="badge rounded-pill {% if total_usage < current_user.uploads_limit %} bg-info {% else %} bg-danger {% endif %}">
                  {% if total_usage > 0 %}
                  {{'%0.2f' % (( total_usage * 100) / current_user.uploads_limit )|float}} %
                  {% else %}
                  0 %
                  {% endif %}
                </span>
              </span>
              <span>
                {{ _("%(total_used_bytes)s of %(assigned_bytes)s",
                      total_used_bytes = human_readable_bytes(total_usage),
                      assigned_bytes = human_readable_bytes(current_user.uploads_limit)
                      ) }}
              </span>
            </li>
            <li>
              <span>{{ _("Form attachments") }}</span>
              <span>{{ human_readable_bytes(attachments_usage) }}</span>
            </li>
            <li>
              <span>{# i18n: shows the total disk usage that user has made along all their forms, displayed in User settings #}{{ _("Form media") }}</span>
              <span>{{ human_readable_bytes(media_usage) }}</span>
            </li>
            <li>
              <span>{{ _("Add and delete form media") }}</span>
              <a class="ds-link-contain-icon" href="{{url_for('media_bp.list_user_media')}}">{{ _("Edit") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}

  {% if current_user.can_configure_fediverse() %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>
            {# i18n: means Digital social networks #}
            {{ _("Social media") }}
          </h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("Fediverse connect") }}
                {% if current_user.fedi_auth %}
                  <strong>{{ current_user.get_fedi_auth()['node_url'] }}</strong>
                {% endif %}
              </span>
              <a href="{{url_for('user_bp.fediverse_config')}}" class="ds-link-contain-icon">{{ _("Configure") }} <i data-feather="chevron-right" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% if current_user.is_active() and current_user.is_admin() %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2 id="admin_settings">{{ _("My admin settings") }}</h2>
        </div>
        <div class="card-body">
          <ul class="ds-list-group">
            <li>
              <span>{{ _("Notify me when new user has registered") }}</span>
              <div id="toggle_notify_newuser" class="btn-group btn-toggle">
                <button id="notify_newuser_true" class="btn btn-sm {% if current_user.admin['notifyNewUser'] %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
                <button id="notify_newuser_false" class="btn btn-sm {% if not current_user.admin['notifyNewUser'] %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("False") }}</button>
              </div>
            </li>
            <li>
              <span>{{ _("Notify me when new form has been created") }}</span>
              <div id="toggle_notify_newform" class="btn-group btn-toggle">
                <button id="notify_newform_true" class="btn btn-sm {% if current_user.admin['notifyNewForm'] %} btn-primary {% else %} btn-outline-secondary {% endif %}">{{ _("True") }}</button>
                <button id="notify_newform_false" class="btn btn-sm {% if not current_user.admin['notifyNewForm'] %} btn-primary {% else %} btn-outline-secondary {% endif %}"> {{ _("False") }} </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  {% set contact_info = g.site.get_other_information() %}

  {% if contact_info %}
  <div class="grid mt-4">
    <div class="g-col-12">
      <div class="card">
        <div class="card-header">
          <h2>{{ _("Other information") }}</h2>
        </div>
        <div class="card-body">
          {{ contact_info | safe }}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

<script>
const inline_help_file_name = "user.j2.md";

{% if not current_user.is_guest() %}
document.getElementById('toggle_new_answer_notification').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('user_bp.toggle_new_answer_notification_default')}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.default == true) {
                $('#new_answer_notification_true').addClass('btn-primary')
                                                  .removeClass('btn-outline-secondary');
                $('#new_answer_notification_false').removeClass('btn-primary')
                                                   .addClass('btn-outline-secondary');
            }
            else if (data.default == false) {
                $('#new_answer_notification_true').removeClass('btn-primary')
                                                  .addClass('btn-outline-secondary');
                $('#new_answer_notification_false').addClass('btn-primary')
                                                   .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}
{% if current_user.is_admin() %}
document.getElementById('toggle_notify_newuser').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('admin_bp.toggle_newuser_notification')}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newuser_true').addClass('btn-primary')
                                         .removeClass('btn-outline-secondary');
                $('#notify_newuser_false').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
            }
            else if (data.notify == false) {
                $('#notify_newuser_true').removeClass('btn-primary')
                                         .addClass('btn-outline-secondary');
                $('#notify_newuser_false').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
            }
        }
    });
});
document.getElementById('toggle_notify_newform').addEventListener('click', function(evt){
    $.ajax({
        url : "{{url_for('admin_bp.toggle_newform_notification')}}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.notify == true) {
                $('#notify_newform_true').addClass('btn-primary')
                                         .removeClass('btn-outline-secondary');
                $('#notify_newform_false').removeClass('btn-primary')
                                          .addClass('btn-outline-secondary');
            }
            else if (data.notify == false) {
                $('#notify_newform_true').removeClass('btn-primary')
                                         .addClass('btn-outline-secondary');
                $('#notify_newform_false').addClass('btn-primary')
                                          .removeClass('btn-outline-secondary');
            }
        }
    });
});
{% endif %}
</script>

{% endblock %}
